<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.internet.dao.InternetLogoutDetailMapper">
  <resultMap id="BaseResultMap" type="com.ryx.internet.pojo.InternetLogoutDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RENEW_ID" jdbcType="VARCHAR" property="renewId" />
    <result column="ICCID_NUM" jdbcType="VARCHAR" property="iccidNum" />
    <result column="INTERNET_CARD_STATUS" jdbcType="DECIMAL" property="internetCardStatus" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="SN_NUM" jdbcType="VARCHAR" property="snNum" />
    <result column="INTERNET_CARD_NUM" jdbcType="VARCHAR" property="internetCardNum" />
    <result column="OPEN_ACCOUNT_TIME" jdbcType="TIMESTAMP" property="openAccountTime" />
    <result column="EXPIRE_TIME" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="LOGOUT_STATUS" jdbcType="VARCHAR" property="logoutStatus" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="BUS_PLATFORM" jdbcType="VARCHAR" property="busPlatform" />
    <result column="AG_DOC_DISTRICT" jdbcType="VARCHAR" property="agDocDistrict" />
    <result column="AG_DOC_PRO" jdbcType="VARCHAR" property="agDocPro" />
    <result column="BUS_CONTACT_PERSON" jdbcType="VARCHAR" property="busContactPerson" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="U_TIME" jdbcType="TIMESTAMP" property="uTime" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="U_USER" jdbcType="VARCHAR" property="uUser" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RENEW_ID, ICCID_NUM, INTERNET_CARD_STATUS, ORDER_ID, SN_NUM, INTERNET_CARD_NUM, 
    OPEN_ACCOUNT_TIME, EXPIRE_TIME, MER_NAME, MER_ID, AGENT_ID, AGENT_NAME, LOGOUT_STATUS, 
    STATUS, BUS_NUM, BUS_PLATFORM, AG_DOC_DISTRICT, AG_DOC_PRO, BUS_CONTACT_PERSON, C_TIME, 
    U_TIME, C_USER, U_USER, VERSION
  </sql>
  <select id="selectByExample" parameterType="com.ryx.internet.pojo.InternetLogoutDetailExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_INTERNET_LOGOUT_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from O_INTERNET_LOGOUT_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.internet.pojo.InternetLogoutDetailExample">
    delete from O_INTERNET_LOGOUT_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.internet.pojo.InternetLogoutDetail">
    insert into O_INTERNET_LOGOUT_DETAIL (ID, RENEW_ID, ICCID_NUM, 
      INTERNET_CARD_STATUS, ORDER_ID, SN_NUM, 
      INTERNET_CARD_NUM, OPEN_ACCOUNT_TIME, EXPIRE_TIME, 
      MER_NAME, MER_ID, AGENT_ID, 
      AGENT_NAME, LOGOUT_STATUS, STATUS, 
      BUS_NUM, BUS_PLATFORM, AG_DOC_DISTRICT, 
      AG_DOC_PRO, BUS_CONTACT_PERSON, C_TIME, 
      U_TIME, C_USER, U_USER, 
      VERSION)
    values (#{id,jdbcType=VARCHAR}, #{renewId,jdbcType=VARCHAR}, #{iccidNum,jdbcType=VARCHAR}, 
      #{internetCardStatus,jdbcType=DECIMAL}, #{orderId,jdbcType=VARCHAR}, #{snNum,jdbcType=VARCHAR}, 
      #{internetCardNum,jdbcType=VARCHAR}, #{openAccountTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, 
      #{merName,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, 
      #{agentName,jdbcType=VARCHAR}, #{logoutStatus,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{busNum,jdbcType=VARCHAR}, #{busPlatform,jdbcType=VARCHAR}, #{agDocDistrict,jdbcType=VARCHAR}, 
      #{agDocPro,jdbcType=VARCHAR}, #{busContactPerson,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{uTime,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR}, #{uUser,jdbcType=VARCHAR}, 
      #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.internet.pojo.InternetLogoutDetail">
    insert into O_INTERNET_LOGOUT_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="renewId != null">
        RENEW_ID,
      </if>
      <if test="iccidNum != null">
        ICCID_NUM,
      </if>
      <if test="internetCardStatus != null">
        INTERNET_CARD_STATUS,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="snNum != null">
        SN_NUM,
      </if>
      <if test="internetCardNum != null">
        INTERNET_CARD_NUM,
      </if>
      <if test="openAccountTime != null">
        OPEN_ACCOUNT_TIME,
      </if>
      <if test="expireTime != null">
        EXPIRE_TIME,
      </if>
      <if test="merName != null">
        MER_NAME,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="logoutStatus != null">
        LOGOUT_STATUS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="busNum != null">
        BUS_NUM,
      </if>
      <if test="busPlatform != null">
        BUS_PLATFORM,
      </if>
      <if test="agDocDistrict != null">
        AG_DOC_DISTRICT,
      </if>
      <if test="agDocPro != null">
        AG_DOC_PRO,
      </if>
      <if test="busContactPerson != null">
        BUS_CONTACT_PERSON,
      </if>
      <if test="cTime != null">
        C_TIME,
      </if>
      <if test="uTime != null">
        U_TIME,
      </if>
      <if test="cUser != null">
        C_USER,
      </if>
      <if test="uUser != null">
        U_USER,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="renewId != null">
        #{renewId,jdbcType=VARCHAR},
      </if>
      <if test="iccidNum != null">
        #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="internetCardStatus != null">
        #{internetCardStatus,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="snNum != null">
        #{snNum,jdbcType=VARCHAR},
      </if>
      <if test="internetCardNum != null">
        #{internetCardNum,jdbcType=VARCHAR},
      </if>
      <if test="openAccountTime != null">
        #{openAccountTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="logoutStatus != null">
        #{logoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="busNum != null">
        #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="busPlatform != null">
        #{busPlatform,jdbcType=VARCHAR},
      </if>
      <if test="agDocDistrict != null">
        #{agDocDistrict,jdbcType=VARCHAR},
      </if>
      <if test="agDocPro != null">
        #{agDocPro,jdbcType=VARCHAR},
      </if>
      <if test="busContactPerson != null">
        #{busContactPerson,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.internet.pojo.InternetLogoutDetailExample" resultType="java.lang.Long">
    select count(*) from O_INTERNET_LOGOUT_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.internet.pojo.InternetLogoutDetail">
    update O_INTERNET_LOGOUT_DETAIL
    <set>
      <if test="renewId != null">
        RENEW_ID = #{renewId,jdbcType=VARCHAR},
      </if>
      <if test="iccidNum != null">
        ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="internetCardStatus != null">
        INTERNET_CARD_STATUS = #{internetCardStatus,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="snNum != null">
        SN_NUM = #{snNum,jdbcType=VARCHAR},
      </if>
      <if test="internetCardNum != null">
        INTERNET_CARD_NUM = #{internetCardNum,jdbcType=VARCHAR},
      </if>
      <if test="openAccountTime != null">
        OPEN_ACCOUNT_TIME = #{openAccountTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        EXPIRE_TIME = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merName != null">
        MER_NAME = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        MER_ID = #{merId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="logoutStatus != null">
        LOGOUT_STATUS = #{logoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="busNum != null">
        BUS_NUM = #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="busPlatform != null">
        BUS_PLATFORM = #{busPlatform,jdbcType=VARCHAR},
      </if>
      <if test="agDocDistrict != null">
        AG_DOC_DISTRICT = #{agDocDistrict,jdbcType=VARCHAR},
      </if>
      <if test="agDocPro != null">
        AG_DOC_PRO = #{agDocPro,jdbcType=VARCHAR},
      </if>
      <if test="busContactPerson != null">
        BUS_CONTACT_PERSON = #{busContactPerson,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        U_USER = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.internet.pojo.InternetLogoutDetail">
    update O_INTERNET_LOGOUT_DETAIL
    set RENEW_ID = #{renewId,jdbcType=VARCHAR},
      ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
      INTERNET_CARD_STATUS = #{internetCardStatus,jdbcType=DECIMAL},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      SN_NUM = #{snNum,jdbcType=VARCHAR},
      INTERNET_CARD_NUM = #{internetCardNum,jdbcType=VARCHAR},
      OPEN_ACCOUNT_TIME = #{openAccountTime,jdbcType=TIMESTAMP},
      EXPIRE_TIME = #{expireTime,jdbcType=TIMESTAMP},
      MER_NAME = #{merName,jdbcType=VARCHAR},
      MER_ID = #{merId,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      LOGOUT_STATUS = #{logoutStatus,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      BUS_NUM = #{busNum,jdbcType=VARCHAR},
      BUS_PLATFORM = #{busPlatform,jdbcType=VARCHAR},
      AG_DOC_DISTRICT = #{agDocDistrict,jdbcType=VARCHAR},
      AG_DOC_PRO = #{agDocPro,jdbcType=VARCHAR},
      BUS_CONTACT_PERSON = #{busContactPerson,jdbcType=VARCHAR},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      U_TIME = #{uTime,jdbcType=TIMESTAMP},
      C_USER = #{cUser,jdbcType=VARCHAR},
      U_USER = #{uUser,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <sql id="internetCardLogoutDetailSql">
    select
    i.ID, i.RENEW_ID, i.ICCID_NUM, i.INTERNET_CARD_STATUS, i.ORDER_ID, i.SN_NUM, i.INTERNET_CARD_NUM,
    i.OPEN_ACCOUNT_TIME, i.EXPIRE_TIME, i.MER_NAME, i.MER_ID, i.AGENT_ID, i.AGENT_NAME, i.LOGOUT_STATUS,
    i.STATUS, i.BUS_NUM, i.BUS_PLATFORM, i.AG_DOC_DISTRICT, i.AG_DOC_PRO, i.BUS_CONTACT_PERSON, i.C_TIME,
    i.U_TIME, i.C_USER, i.U_USER,oa.name as AG_DOC_PRO_NAME,ob.name as AG_DOC_DISTRICT_NAME,l.REVIEW_STATUS,
    l.REVIEW_PASS_TIME
    from O_INTERNET_LOGOUT_DETAIL i
    left join O_INTERNET_LOGOUT l on l.id = i.RENEW_ID
    left join C_ORGANIZATION oa on oa.id=i.ag_doc_pro
    left join C_ORGANIZATION ob on ob.id=i.AG_DOC_DISTRICT
    <where>
      and i.status=1
      <if test="orgCode!=null and orgCode!=''and agentNameList!=null">
        and (
        (oa.CODE like concat(#{orgCode},'%') or ob.CODE like concat(#{orgCode},'%'))
        or i.agent_name
        <foreach collection="agentNameList" item="agentName" open=" in(" close=")" separator=",">
          #{agentName}
        </foreach>
        )
      </if>
      <if test="orgCode!=null and orgCode!='' and agentNameList==null">
        and (oa.CODE like concat(#{orgCode},'%') or ob.CODE like concat(#{orgCode},'%'))
      </if>
      <if test="id != null">
        and i.id = #{id}
      </if>
      <if test="agentId != null">
        and i.agent_Id = #{agentId}
      </if>
      <if test="agentName != null">
        and i.agent_Name = #{agentName}
      </if>
      <if test="busNum != null">
        and i.bus_Num = #{busNum}
      </if>
      <if test="iccidNum != null">
        and i.iccid_Num = #{iccidNum}
      </if>
      <if test="renewId != null">
        and i.renew_Id = #{renewId}
      </if>
      <if test="snNum != null">
        and i.sn_Num = #{snNum}
      </if>
      <if test="merId != null">
        and i.mer_Id = #{merId}
      </if>
      <if test="merName != null">
        and i.mer_Name = #{merName}
      </if>
    </where>
    order by c_time desc
  </sql>
  <select id="internetCardLogoutDetailList" resultType="java.util.Map" parameterType="java.util.Map">
    <include refid="OracleDialectPrefix" />
    <include refid="internetCardLogoutDetailSql" />
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="internetCardLogoutDetailCount" resultType="int" parameterType="java.util.Map">
    select count(*) from (
    <include refid="internetCardLogoutDetailSql" />
    )
  </select>

</mapper>