<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.internet.dao.InternetRenewOffsetDetailMapper">
  <resultMap id="BaseResultMap" type="com.ryx.internet.pojo.InternetRenewOffsetDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FLOW_ID" jdbcType="VARCHAR" property="flowId" />
    <result column="RENEW_ID" jdbcType="VARCHAR" property="renewId" />
    <result column="RENEW_DETAIL_ID" jdbcType="VARCHAR" property="renewDetailId" />
    <result column="ICCID_NUM" jdbcType="VARCHAR" property="iccidNum" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="OFFSET_AMT" jdbcType="DECIMAL" property="offsetAmt" />
    <result column="ALREADY_OFFSET_AMT" jdbcType="DECIMAL" property="alreadyOffsetAmt" />
    <result column="TODAY_OFFSET_AMT" jdbcType="DECIMAL" property="todayOffsetAmt" />
    <result column="C_TIME" jdbcType="VARCHAR" property="cTime" />
    <result column="PROCESS_DATE" jdbcType="VARCHAR" property="processDate" />
    <result column="PROCESS_TIME" jdbcType="VARCHAR" property="processTime" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="U_USER" jdbcType="VARCHAR" property="uUser" />
    <result column="CLEAN_STATUS" jdbcType="VARCHAR" property="cleanStatus" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="BUS_PLATFORM" jdbcType="VARCHAR" property="busPlatform" />
    <result column="AG_DOC_DISTRICT" jdbcType="VARCHAR" property="agDocDistrict" />
    <result column="AG_DOC_PRO" jdbcType="VARCHAR" property="agDocPro" />
    <result column="BUS_CONTACT_PERSON" jdbcType="VARCHAR" property="busContactPerson" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, FLOW_ID, RENEW_ID, RENEW_DETAIL_ID, ICCID_NUM, AGENT_ID, AGENT_NAME, MER_ID,
    MER_NAME, OFFSET_AMT, ALREADY_OFFSET_AMT, TODAY_OFFSET_AMT, C_TIME, PROCESS_DATE,
    PROCESS_TIME, C_USER, U_USER, CLEAN_STATUS, STATUS, VERSION, BUS_NUM, BUS_PLATFORM,
    AG_DOC_DISTRICT, AG_DOC_PRO, BUS_CONTACT_PERSON
  </sql>
  <select id="selectByExample" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetailExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_INTERNET_RENEW_OFFSET_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from O_INTERNET_RENEW_OFFSET_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetailExample">
    delete from O_INTERNET_RENEW_OFFSET_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetail">
    insert into O_INTERNET_RENEW_OFFSET_DETAIL (ID, FLOW_ID, RENEW_ID,
    RENEW_DETAIL_ID, ICCID_NUM, AGENT_ID,
    AGENT_NAME, MER_ID, MER_NAME,
    OFFSET_AMT, ALREADY_OFFSET_AMT, TODAY_OFFSET_AMT,
    C_TIME, PROCESS_DATE, PROCESS_TIME,
    C_USER, U_USER, CLEAN_STATUS,
    STATUS, VERSION, BUS_NUM,
    BUS_PLATFORM, AG_DOC_DISTRICT, AG_DOC_PRO,
    BUS_CONTACT_PERSON)
    values (#{id,jdbcType=VARCHAR}, #{flowId,jdbcType=VARCHAR}, #{renewId,jdbcType=VARCHAR},
    #{renewDetailId,jdbcType=VARCHAR}, #{iccidNum,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR},
    #{agentName,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR},
    #{offsetAmt,jdbcType=DECIMAL}, #{alreadyOffsetAmt,jdbcType=DECIMAL}, #{todayOffsetAmt,jdbcType=DECIMAL},
    #{cTime,jdbcType=VARCHAR}, #{processDate,jdbcType=VARCHAR}, #{processTime,jdbcType=VARCHAR},
    #{cUser,jdbcType=VARCHAR}, #{uUser,jdbcType=VARCHAR}, #{cleanStatus,jdbcType=VARCHAR},
    #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL}, #{busNum,jdbcType=VARCHAR},
    #{busPlatform,jdbcType=VARCHAR}, #{agDocDistrict,jdbcType=VARCHAR}, #{agDocPro,jdbcType=VARCHAR},
    #{busContactPerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetail">
    insert into O_INTERNET_RENEW_OFFSET_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="flowId != null">
        FLOW_ID,
      </if>
      <if test="renewId != null">
        RENEW_ID,
      </if>
      <if test="renewDetailId != null">
        RENEW_DETAIL_ID,
      </if>
      <if test="iccidNum != null">
        ICCID_NUM,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="merName != null">
        MER_NAME,
      </if>
      <if test="offsetAmt != null">
        OFFSET_AMT,
      </if>
      <if test="alreadyOffsetAmt != null">
        ALREADY_OFFSET_AMT,
      </if>
      <if test="todayOffsetAmt != null">
        TODAY_OFFSET_AMT,
      </if>
      <if test="cTime != null">
        C_TIME,
      </if>
      <if test="processDate != null">
        PROCESS_DATE,
      </if>
      <if test="processTime != null">
        PROCESS_TIME,
      </if>
      <if test="cUser != null">
        C_USER,
      </if>
      <if test="uUser != null">
        U_USER,
      </if>
      <if test="cleanStatus != null">
        CLEAN_STATUS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="busNum != null">
        BUS_NUM,
      </if>
      <if test="busPlatform != null">
        BUS_PLATFORM,
      </if>
      <if test="agDocDistrict != null">
        AG_DOC_DISTRICT,
      </if>
      <if test="agDocPro != null">
        AG_DOC_PRO,
      </if>
      <if test="busContactPerson != null">
        BUS_CONTACT_PERSON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="flowId != null">
        #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="renewId != null">
        #{renewId,jdbcType=VARCHAR},
      </if>
      <if test="renewDetailId != null">
        #{renewDetailId,jdbcType=VARCHAR},
      </if>
      <if test="iccidNum != null">
        #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="offsetAmt != null">
        #{offsetAmt,jdbcType=DECIMAL},
      </if>
      <if test="alreadyOffsetAmt != null">
        #{alreadyOffsetAmt,jdbcType=DECIMAL},
      </if>
      <if test="todayOffsetAmt != null">
        #{todayOffsetAmt,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        #{processDate,jdbcType=VARCHAR},
      </if>
      <if test="processTime != null">
        #{processTime,jdbcType=VARCHAR},
      </if>
      <if test="cUser != null">
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="cleanStatus != null">
        #{cleanStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="busNum != null">
        #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="busPlatform != null">
        #{busPlatform,jdbcType=VARCHAR},
      </if>
      <if test="agDocDistrict != null">
        #{agDocDistrict,jdbcType=VARCHAR},
      </if>
      <if test="agDocPro != null">
        #{agDocPro,jdbcType=VARCHAR},
      </if>
      <if test="busContactPerson != null">
        #{busContactPerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetailExample" resultType="java.lang.Long">
    select count(*) from O_INTERNET_RENEW_OFFSET_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetail">
    update O_INTERNET_RENEW_OFFSET_DETAIL
    <set>
      <if test="flowId != null">
        FLOW_ID = #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="renewId != null">
        RENEW_ID = #{renewId,jdbcType=VARCHAR},
      </if>
      <if test="renewDetailId != null">
        RENEW_DETAIL_ID = #{renewDetailId,jdbcType=VARCHAR},
      </if>
      <if test="iccidNum != null">
        ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        MER_ID = #{merId,jdbcType=VARCHAR},
      </if>
      <if test="merName != null">
        MER_NAME = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="offsetAmt != null">
        OFFSET_AMT = #{offsetAmt,jdbcType=DECIMAL},
      </if>
      <if test="alreadyOffsetAmt != null">
        ALREADY_OFFSET_AMT = #{alreadyOffsetAmt,jdbcType=DECIMAL},
      </if>
      <if test="todayOffsetAmt != null">
        TODAY_OFFSET_AMT = #{todayOffsetAmt,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        C_TIME = #{cTime,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        PROCESS_DATE = #{processDate,jdbcType=VARCHAR},
      </if>
      <if test="processTime != null">
        PROCESS_TIME = #{processTime,jdbcType=VARCHAR},
      </if>
      <if test="cUser != null">
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        U_USER = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="cleanStatus != null">
        CLEAN_STATUS = #{cleanStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="busNum != null">
        BUS_NUM = #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="busPlatform != null">
        BUS_PLATFORM = #{busPlatform,jdbcType=VARCHAR},
      </if>
      <if test="agDocDistrict != null">
        AG_DOC_DISTRICT = #{agDocDistrict,jdbcType=VARCHAR},
      </if>
      <if test="agDocPro != null">
        AG_DOC_PRO = #{agDocPro,jdbcType=VARCHAR},
      </if>
      <if test="busContactPerson != null">
        BUS_CONTACT_PERSON = #{busContactPerson,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetail">
    update O_INTERNET_RENEW_OFFSET_DETAIL
    set FLOW_ID = #{flowId,jdbcType=VARCHAR},
    RENEW_ID = #{renewId,jdbcType=VARCHAR},
    RENEW_DETAIL_ID = #{renewDetailId,jdbcType=VARCHAR},
    ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
    AGENT_ID = #{agentId,jdbcType=VARCHAR},
    AGENT_NAME = #{agentName,jdbcType=VARCHAR},
    MER_ID = #{merId,jdbcType=VARCHAR},
    MER_NAME = #{merName,jdbcType=VARCHAR},
    OFFSET_AMT = #{offsetAmt,jdbcType=DECIMAL},
    ALREADY_OFFSET_AMT = #{alreadyOffsetAmt,jdbcType=DECIMAL},
    TODAY_OFFSET_AMT = #{todayOffsetAmt,jdbcType=DECIMAL},
    C_TIME = #{cTime,jdbcType=VARCHAR},
    PROCESS_DATE = #{processDate,jdbcType=VARCHAR},
    PROCESS_TIME = #{processTime,jdbcType=VARCHAR},
    C_USER = #{cUser,jdbcType=VARCHAR},
    U_USER = #{uUser,jdbcType=VARCHAR},
    CLEAN_STATUS = #{cleanStatus,jdbcType=VARCHAR},
    STATUS = #{status,jdbcType=DECIMAL},
    VERSION = #{version,jdbcType=DECIMAL},
    BUS_NUM = #{busNum,jdbcType=VARCHAR},
    BUS_PLATFORM = #{busPlatform,jdbcType=VARCHAR},
    AG_DOC_DISTRICT = #{agDocDistrict,jdbcType=VARCHAR},
    AG_DOC_PRO = #{agDocPro,jdbcType=VARCHAR},
    BUS_CONTACT_PERSON = #{busContactPerson,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <select id="queryMonthSumOffsetAmt" resultType="map" parameterType="java.lang.String">
    select t.agent_id,t.agent_name,sum(t.today_offset_amt) as offset_amt
    from o_internet_renew_offset_detail t
    where
    substr(t.process_date, 0, 6) = #{month}
    and AGENT_ID in
    <foreach close=")" collection="agentIdList" item="agentId" open="(" separator=",">
      #{agentId}
    </foreach>
    group by t.agent_id,t.agent_name
  </select>

  <sql id="Renew_Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and i.${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and i.${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and i.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and i.${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="queryInternetRenewOffsetDetailSql">
    left join C_ORGANIZATION oa on oa.id=i.ag_doc_pro
    left join C_ORGANIZATION ob on ob.id=i.AG_DOC_DISTRICT
    <if test="_parameter != null">
      <include refid="Renew_Example_Where_Clause" />
    </if>
    <if test="reqMap.orgCode!=null and reqMap.orgCode!=''and reqMap.agentNameList!=null">
      and (
      (oa.CODE like concat(#{reqMap.orgCode},'%') or ob.CODE like concat(#{reqMap.orgCode},'%'))
      or i.agent_name
      <foreach collection="reqMap.agentNameList" item="agentName" open=" in(" close=")" separator=",">
        #{agentName}
      </foreach>
      )
    </if>
    <if test="reqMap.orgCode!=null and reqMap.orgCode!='' and reqMap.agentNameList==null">
      and (oa.CODE like concat(#{reqMap.orgCode},'%') or ob.CODE like concat(#{reqMap.orgCode},'%'))
    </if>
    <if test="orderByClause != null">
      order by i.${orderByClause}
    </if>
  </sql>

  <select id="internetRenewOffsetDetailList" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetailExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    i.ID, i.FLOW_ID, i.RENEW_ID, i.RENEW_DETAIL_ID, i.ICCID_NUM, i.AGENT_ID, i.AGENT_NAME, i.MER_ID,
    i.MER_NAME, i.OFFSET_AMT, i.ALREADY_OFFSET_AMT, i.TODAY_OFFSET_AMT, i.C_TIME, i.PROCESS_DATE,
    i.PROCESS_TIME, i.C_USER, i.U_USER, i.CLEAN_STATUS, i.BUS_NUM, i.BUS_PLATFORM,i.BUS_CONTACT_PERSON,
    oa.name as AG_DOC_PRO,ob.name as AG_DOC_DISTRICT
    from o_internet_renew_offset_detail i
    <include refid="queryInternetRenewOffsetDetailSql" />
    <include refid="OracleDialectSuffix" />
  </select>

  <select id="internetRenewOffsetDetailCount" parameterType="com.ryx.internet.pojo.InternetRenewOffsetDetailExample" resultType="java.lang.Integer">
    select count(*) from o_internet_renew_offset_detail i
    <include refid="queryInternetRenewOffsetDetailSql" />
  </select>

</mapper>