<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.dao.order.OInternetCardMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.order.OInternetCard">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SN_NUM" jdbcType="VARCHAR" property="snNum" />
    <result column="ICCID_NUM" jdbcType="VARCHAR" property="iccidNum" />
    <result column="LOGISTICS_ID" jdbcType="VARCHAR" property="logisticsId" />
    <result column="LOGISTICS_DETAIL_ID" jdbcType="VARCHAR" property="logisticsDetailId" />
    <result column="PRO_COM" jdbcType="VARCHAR" property="proCom" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="CARD_STATUS" jdbcType="DECIMAL" property="cardStatus" />
    <result column="EXCEED_FLOW" jdbcType="VARCHAR" property="exceedFlow" />
    <result column="EXCEED_FLOW_UNIT" jdbcType="VARCHAR" property="exceedFlowUnit" />
    <result column="DEBT_AMT" jdbcType="DECIMAL" property="debtAmt" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="U_TIME" jdbcType="TIMESTAMP" property="uTime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SN_NUM, ICCID_NUM, LOGISTICS_ID, LOGISTICS_DETAIL_ID, PRO_COM, AGENT_ID, AGENT_NAME, 
    CARD_STATUS, EXCEED_FLOW, EXCEED_FLOW_UNIT, DEBT_AMT, C_TIME, U_TIME, VERSION, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.pojo.admin.order.OInternetCardExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_INTERNET_CARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from O_INTERNET_CARD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.order.OInternetCardExample">
    delete from O_INTERNET_CARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.order.OInternetCard">
    insert into O_INTERNET_CARD (ID, SN_NUM, ICCID_NUM, 
      LOGISTICS_ID, LOGISTICS_DETAIL_ID, PRO_COM, 
      AGENT_ID, AGENT_NAME, CARD_STATUS, 
      EXCEED_FLOW, EXCEED_FLOW_UNIT, DEBT_AMT, 
      C_TIME, U_TIME, VERSION, 
      STATUS)
    values (#{id,jdbcType=VARCHAR}, #{snNum,jdbcType=VARCHAR}, #{iccidNum,jdbcType=VARCHAR}, 
      #{logisticsId,jdbcType=VARCHAR}, #{logisticsDetailId,jdbcType=VARCHAR}, #{proCom,jdbcType=VARCHAR}, 
      #{agentId,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, #{cardStatus,jdbcType=DECIMAL}, 
      #{exceedFlow,jdbcType=VARCHAR}, #{exceedFlowUnit,jdbcType=VARCHAR}, #{debtAmt,jdbcType=DECIMAL}, 
      #{cTime,jdbcType=TIMESTAMP}, #{uTime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.order.OInternetCard">
    insert into O_INTERNET_CARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="snNum != null">
        SN_NUM,
      </if>
      <if test="iccidNum != null">
        ICCID_NUM,
      </if>
      <if test="logisticsId != null">
        LOGISTICS_ID,
      </if>
      <if test="logisticsDetailId != null">
        LOGISTICS_DETAIL_ID,
      </if>
      <if test="proCom != null">
        PRO_COM,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="cardStatus != null">
        CARD_STATUS,
      </if>
      <if test="exceedFlow != null">
        EXCEED_FLOW,
      </if>
      <if test="exceedFlowUnit != null">
        EXCEED_FLOW_UNIT,
      </if>
      <if test="debtAmt != null">
        DEBT_AMT,
      </if>
      <if test="cTime != null">
        C_TIME,
      </if>
      <if test="uTime != null">
        U_TIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="snNum != null">
        #{snNum,jdbcType=VARCHAR},
      </if>
      <if test="iccidNum != null">
        #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="logisticsId != null">
        #{logisticsId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsDetailId != null">
        #{logisticsDetailId,jdbcType=VARCHAR},
      </if>
      <if test="proCom != null">
        #{proCom,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null">
        #{cardStatus,jdbcType=DECIMAL},
      </if>
      <if test="exceedFlow != null">
        #{exceedFlow,jdbcType=VARCHAR},
      </if>
      <if test="exceedFlowUnit != null">
        #{exceedFlowUnit,jdbcType=VARCHAR},
      </if>
      <if test="debtAmt != null">
        #{debtAmt,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.order.OInternetCardExample" resultType="java.lang.Long">
    select count(*) from O_INTERNET_CARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.order.OInternetCard">
    update O_INTERNET_CARD
    <set>
      <if test="snNum != null">
        SN_NUM = #{snNum,jdbcType=VARCHAR},
      </if>
      <if test="iccidNum != null">
        ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="logisticsId != null">
        LOGISTICS_ID = #{logisticsId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsDetailId != null">
        LOGISTICS_DETAIL_ID = #{logisticsDetailId,jdbcType=VARCHAR},
      </if>
      <if test="proCom != null">
        PRO_COM = #{proCom,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null">
        CARD_STATUS = #{cardStatus,jdbcType=DECIMAL},
      </if>
      <if test="exceedFlow != null">
        EXCEED_FLOW = #{exceedFlow,jdbcType=VARCHAR},
      </if>
      <if test="exceedFlowUnit != null">
        EXCEED_FLOW_UNIT = #{exceedFlowUnit,jdbcType=VARCHAR},
      </if>
      <if test="debtAmt != null">
        DEBT_AMT = #{debtAmt,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.order.OInternetCard">
    update O_INTERNET_CARD
    set SN_NUM = #{snNum,jdbcType=VARCHAR},
      ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
      LOGISTICS_ID = #{logisticsId,jdbcType=VARCHAR},
      LOGISTICS_DETAIL_ID = #{logisticsDetailId,jdbcType=VARCHAR},
      PRO_COM = #{proCom,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      CARD_STATUS = #{cardStatus,jdbcType=DECIMAL},
      EXCEED_FLOW = #{exceedFlow,jdbcType=VARCHAR},
      EXCEED_FLOW_UNIT = #{exceedFlowUnit,jdbcType=VARCHAR},
      DEBT_AMT = #{debtAmt,jdbcType=DECIMAL},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      U_TIME = #{uTime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <update id="updateBySnSelective" parameterType="com.ryx.credit.pojo.admin.order.OInternetCard">
    update O_INTERNET_CARD
    <set>
      <if test="iccidNum != null">
        ICCID_NUM = #{iccidNum,jdbcType=VARCHAR},
      </if>
      <if test="logisticsId != null">
        LOGISTICS_ID = #{logisticsId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsDetailId != null">
        LOGISTICS_DETAIL_ID = #{logisticsDetailId,jdbcType=VARCHAR},
      </if>
      <if test="proCom != null">
        PRO_COM = #{proCom,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null">
        CARD_STATUS = #{cardStatus,jdbcType=DECIMAL},
      </if>
      <if test="exceedFlow != null">
        EXCEED_FLOW = #{exceedFlow,jdbcType=VARCHAR},
      </if>
      <if test="exceedFlowUnit != null">
        EXCEED_FLOW_UNIT = #{exceedFlowUnit,jdbcType=VARCHAR},
      </if>
      <if test="debtAmt != null">
        DEBT_AMT = #{debtAmt,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR} and SN_NUM = #{snNum,jdbcType=VARCHAR}
  </update>

</mapper>