<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.order.OOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.order.OOrder" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="O_NUM" property="oNum" jdbcType="VARCHAR" />
    <result column="O_APYTIME" property="oApytime" jdbcType="TIMESTAMP" />
    <result column="O_INURETIME" property="oInuretime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="O_AMO" property="oAmo" jdbcType="DECIMAL" />
    <result column="INCENTIVE_AMO" property="incentiveAmo" jdbcType="DECIMAL" />
    <result column="PAY_AMO" property="payAmo" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="RULEID" property="ruleid" jdbcType="VARCHAR" />
    <result column="AGENT_ID" property="agentId" jdbcType="VARCHAR" />
    <result column="ORDER_PLATFORM" property="orderPlatform" jdbcType="VARCHAR" />
    <result column="REVIEW_STATUS" property="reviewStatus" jdbcType="DECIMAL" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="DECIMAL" />
    <result column="CLEAR_STATUS" property="clearStatus" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="C_TIME" property="cTime" jdbcType="TIMESTAMP" />
    <result column="U_USER" property="uUser" jdbcType="VARCHAR" />
    <result column="U_TIME" property="uTime" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, O_NUM, O_APYTIME, O_INURETIME, USER_ID, PAYMENT_METHOD, O_AMO, INCENTIVE_AMO, 
    PAY_AMO, REMARK, RULEID, AGENT_ID, ORDER_PLATFORM, REVIEW_STATUS, ORDER_STATUS, CLEAR_STATUS, 
    STATUS, C_TIME, U_USER, U_TIME, VERSION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.order.OOrderExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from O_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.order.OOrderExample" >
    delete from O_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.order.OOrder" >
    insert into O_ORDER (ID, O_NUM, O_APYTIME, 
      O_INURETIME, USER_ID, PAYMENT_METHOD, 
      O_AMO, INCENTIVE_AMO, PAY_AMO, 
      REMARK, RULEID, AGENT_ID, 
      ORDER_PLATFORM, REVIEW_STATUS, ORDER_STATUS, 
      CLEAR_STATUS, STATUS, C_TIME, 
      U_USER, U_TIME, VERSION
      )
    values (#{id,jdbcType=VARCHAR}, #{oNum,jdbcType=VARCHAR}, #{oApytime,jdbcType=TIMESTAMP}, 
      #{oInuretime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=VARCHAR}, 
      #{oAmo,jdbcType=DECIMAL}, #{incentiveAmo,jdbcType=DECIMAL}, #{payAmo,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{ruleid,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, 
      #{orderPlatform,jdbcType=VARCHAR}, #{reviewStatus,jdbcType=DECIMAL}, #{orderStatus,jdbcType=DECIMAL}, 
      #{clearStatus,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{cTime,jdbcType=TIMESTAMP}, 
      #{uUser,jdbcType=VARCHAR}, #{uTime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.order.OOrder" >
    insert into O_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="oNum != null" >
        O_NUM,
      </if>
      <if test="oApytime != null" >
        O_APYTIME,
      </if>
      <if test="oInuretime != null" >
        O_INURETIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="paymentMethod != null" >
        PAYMENT_METHOD,
      </if>
      <if test="oAmo != null" >
        O_AMO,
      </if>
      <if test="incentiveAmo != null" >
        INCENTIVE_AMO,
      </if>
      <if test="payAmo != null" >
        PAY_AMO,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="ruleid != null" >
        RULEID,
      </if>
      <if test="agentId != null" >
        AGENT_ID,
      </if>
      <if test="orderPlatform != null" >
        ORDER_PLATFORM,
      </if>
      <if test="reviewStatus != null" >
        REVIEW_STATUS,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="clearStatus != null" >
        CLEAR_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="cTime != null" >
        C_TIME,
      </if>
      <if test="uUser != null" >
        U_USER,
      </if>
      <if test="uTime != null" >
        U_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="oNum != null" >
        #{oNum,jdbcType=VARCHAR},
      </if>
      <if test="oApytime != null" >
        #{oApytime,jdbcType=TIMESTAMP},
      </if>
      <if test="oInuretime != null" >
        #{oInuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="oAmo != null" >
        #{oAmo,jdbcType=DECIMAL},
      </if>
      <if test="incentiveAmo != null" >
        #{incentiveAmo,jdbcType=DECIMAL},
      </if>
      <if test="payAmo != null" >
        #{payAmo,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ruleid != null" >
        #{ruleid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="orderPlatform != null" >
        #{orderPlatform,jdbcType=VARCHAR},
      </if>
      <if test="reviewStatus != null" >
        #{reviewStatus,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=DECIMAL},
      </if>
      <if test="clearStatus != null" >
        #{clearStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="uTime != null" >
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.order.OOrderExample" resultType="java.lang.Integer" >
    select count(*) from O_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.order.OOrder" >
    update O_ORDER
    <set >
      <if test="oNum != null" >
        O_NUM = #{oNum,jdbcType=VARCHAR},
      </if>
      <if test="oApytime != null" >
        O_APYTIME = #{oApytime,jdbcType=TIMESTAMP},
      </if>
      <if test="oInuretime != null" >
        O_INURETIME = #{oInuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        PAYMENT_METHOD = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="oAmo != null" >
        O_AMO = #{oAmo,jdbcType=DECIMAL},
      </if>
      <if test="incentiveAmo != null" >
        INCENTIVE_AMO = #{incentiveAmo,jdbcType=DECIMAL},
      </if>
      <if test="payAmo != null" >
        PAY_AMO = #{payAmo,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ruleid != null" >
        RULEID = #{ruleid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="orderPlatform != null" >
        ORDER_PLATFORM = #{orderPlatform,jdbcType=VARCHAR},
      </if>
      <if test="reviewStatus != null" >
        REVIEW_STATUS = #{reviewStatus,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=DECIMAL},
      </if>
      <if test="clearStatus != null" >
        CLEAR_STATUS = #{clearStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null" >
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        U_USER = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="uTime != null" >
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.order.OOrder" >
    update O_ORDER
    set O_NUM = #{oNum,jdbcType=VARCHAR},
      O_APYTIME = #{oApytime,jdbcType=TIMESTAMP},
      O_INURETIME = #{oInuretime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=VARCHAR},
      PAYMENT_METHOD = #{paymentMethod,jdbcType=VARCHAR},
      O_AMO = #{oAmo,jdbcType=DECIMAL},
      INCENTIVE_AMO = #{incentiveAmo,jdbcType=DECIMAL},
      PAY_AMO = #{payAmo,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      RULEID = #{ruleid,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      ORDER_PLATFORM = #{orderPlatform,jdbcType=VARCHAR},
      REVIEW_STATUS = #{reviewStatus,jdbcType=DECIMAL},
      ORDER_STATUS = #{orderStatus,jdbcType=DECIMAL},
      CLEAR_STATUS = #{clearStatus,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      U_USER = #{uUser,jdbcType=VARCHAR},
      U_TIME = #{uTime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <select id="getOrderList" parameterType="java.util.Map" resultType="java.util.Map">
    <include refid="PAGING_START" />
    SELECT O.O_APYTIME,O_NUM,O.O_AMO,A.AG_NAME,A.AG_UNIQ_NUM,
    R.EXPRESS_REMARK,R.ADDR_REALNAME,R.ADDR_MOBILE,R.ADDR_DETAIL,
    S.PRO_NAME,S.MODEL,S.PRO_NUM,S.PRO_PRICE
    FROM O_ORDER O
    LEFT JOIN O_RECEIPT_ORDER R ON O.ID = R.ORDER_ID
    LEFT JOIN A_AGENT A ON A.ID = O.AGENT_ID
    LEFT JOIN O_RECEIPT_PRO P ON R.ORDER_ID = P.ID
    LEFT JOIN O_SUB_ORDER S ON O.ID = S.ORDER_ID
    <include refid="SORTING"></include>
    <include refid="PAGING_END" />
  </select>

  <select id="getOrderCount" parameterType="java.util.Map" resultType="java.lang.Long">
    SELECT COUNT(1)
    FROM O_ORDER O
    LEFT JOIN O_RECEIPT_ORDER R ON O.ID = R.ORDER_ID
    LEFT JOIN A_AGENT A ON A.ID = O.AGENT_ID
    LEFT JOIN O_RECEIPT_PRO P ON R.ORDER_ID = P.ID
    LEFT JOIN O_SUB_ORDER S ON O.ID = S.ORDER_ID
  </select>

  <sql id='SORTING'>
    ORDER BY O.O_APYTIME DESC
  </sql>

  <sql id="PAGING_START">
    <if test="begin != null  and end != null and end >0">
      SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
    </if>
  </sql>

  <sql id="PAGING_END">
    <if test="begin != null  and end != null and end >0">
      ) A WHERE ROWNUM &lt;= #{end} ) WHERE RN > #{begin}
    </if>
  </sql>

  <select id="queryOrderListView" parameterType="map" resultType="map">
    <include refid="OracleDialectPrefix" />
    select
            o.id,
            o.o_num,
            o.order_platform,
            o.payment_method,
            o.o_amo,
            o.pay_amo,
            d.pay_amount,
            d.real_amount,
            d.outstanding_amount,
            d.pay_status,
            o.clear_status,
            o.review_status,
            o.order_status,
            o.o_apytime,
            o.c_time,
            o.remark,
            b.id as agentId,
            b.ag_name,
            nvl((select sum(o_payment_detail.pay_amount)
                 from o_payment_detail
                 where o_payment_detail.payment_id = d.id and o_payment_detail.order_id= o.id
                 and o_payment_detail.payment_status in (1,3) ),0) as qk,
            (
              nvl((select sum(o_sub_order.pro_num) from o_sub_order where o_sub_order.order_id = o.id and o_sub_order.status=1),0)
              -
              nvl((select sum(o_receipt_pro.pro_num) from o_receipt_pro where o_receipt_pro.orderid=o.id and o_receipt_pro.status=1 and o_receipt_pro.receipt_pro_status in (1,2)),0)
            )as dpd,
            c.platform_name
        from o_order o
        left join a_agent b on o.agent_id = b.id
        left join a_platform c on c.platform_num = o.order_platform
        left join o_payment d on d.order_id = o.id
        <where>
          <if test="1==1"> and  o.status = 1 </if>
          <if test="oNum!=null and oNum!=''"> and  o.o_num = #{oNum} </if>
          <if test="agentId!=null and agentId!=''"> and  o.agent_id = #{agentId} </if>
          <if test="orderPlatform!=null and orderPlatform!=''"> and o.order_platform =  #{orderPlatform} </if>
          <if test="agUniqNum!=null and agUniqNum!=''"> and b.ag_uniq_num = #{agUniqNum} </if>
          <if test="agName!=null and agName!=''"> and b.ag_name like  #{agName} </if>
        </where>
        order by o.c_time desc
       <include refid="OracleDialectSuffix" />
  </select>

  <select id="queryOrderListViewCount" parameterType="map" resultType="int">
    select
    count(o.id)
    from o_order o
    left join a_agent b on o.agent_id = b.id
    left join a_platform c on c.platform_num = o.order_platform
    left join o_payment d on d.order_id = o.id
    <where>
      <if test="oNum!=null and oNum!=''"> and  o.o_num = #{oNum} </if>
      <if test="agentId!=null and agentId!=''"> and  o.agent_id = #{agentId} </if>
      <if test="orderPlatform!=null and orderPlatform!=''"> and o.order_platform =  #{orderPlatform} </if>
      <if test="agUniqNum!=null and agUniqNum!=''"> and b.ag_uniq_num = #{agUniqNum} </if>
      <if test="agName!=null and agName!=''"> and b.ag_name like  #{agName} </if>
    </where>
  </select>




  <!--待配货商品-->
  <select id="queryOrderSubOrderProduct" resultType="map" parameterType="string">
    select
        o_sub_order.id,
        o_sub_order.order_id,
        o_sub_order.pro_id,
        o_sub_order.pro_code,
        o_sub_order.pro_name,
        o_sub_order.pro_type,
        o_sub_order.pro_price,
        o_sub_order.pro_num,
        o_sub_order.pro_rel_price,
        o_sub_order.send_num,
        o_sub_order.agent_id,
        nvl(
          (
            select sum(o_receipt_pro.pro_num)
            from o_receipt_pro
            where o_receipt_pro.orderid = o_sub_order.order_id
            and o_sub_order.pro_id = o_receipt_pro.pro_id
            and o_receipt_pro.status=1
          ),
        0)as havePhCount
        from o_sub_order
      where o_sub_order.order_id = #{orderId} and o_sub_order.status=1 and o_sub_order.agent_id=#{agentId}
      order by  o_sub_order.c_time asc
  </select>


  <!--已配货商品-->
  <select id="queryHavePeiHuoProduct" resultType="map" parameterType="string">
    select
      O_Receipt_order.Id,
      O_Receipt_order.Order_Id,
      O_Receipt_order.Receipt_Num,
      O_Receipt_order.Address_Id,
      O_Receipt_order.Addr_Realname,
      O_Receipt_order.Addr_Mobile,
      O_Receipt_order.Addr_Province,
      O_Receipt_order.Addr_City,
      O_Receipt_order.Addr_District,
      dr_pro.r_name as Addr_Province_string,
      dr_cit.r_name as Addr_City_string,
      dr_di.r_name as Addr_District_string,
      O_Receipt_order.Addr_Detail,
      O_Receipt_order.Remark,
      O_Receipt_order.Zip_Code,
      O_Receipt_order.Pro_Num,
      O_Receipt_order.Express_Remark,
      O_Receipt_order.Express_Suc_Date,
      O_Receipt_order.Receipt_Status,
      o_receipt_pro.id as receipt_pro_id,
      o_receipt_pro.pro_code,
      o_receipt_pro.pro_name,
      o_receipt_pro.pro_num as pro_num_count,
      o_receipt_pro.receipt_pro_status
    from O_Receipt_order
    left join o_receipt_pro on O_Receipt_order.Id = o_receipt_pro.receipt_id and o_receipt_pro.status=1
    left join d_region dr_pro on dr_pro.r_code = O_Receipt_order.Addr_Province
    left join d_region dr_cit on dr_cit.r_code = O_Receipt_order.Addr_City
    left join d_region dr_di on dr_di.r_code = O_Receipt_order.Addr_District
    where O_Receipt_order.Status=1 and O_Receipt_order.Order_Id=#{orderId}  and O_Receipt_order.Agent_Id = #{agentId}
    order by O_Receipt_order.Address_Id asc, o_receipt_pro.c_time desc
  </select>



</mapper>