<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.order.OReceiptOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.order.OReceiptOrder" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="RECEIPT_NUM" property="receiptNum" jdbcType="VARCHAR" />
    <result column="ADDRESS_ID" property="addressId" jdbcType="VARCHAR" />
    <result column="ADDR_REALNAME" property="addrRealname" jdbcType="VARCHAR" />
    <result column="ADDR_MOBILE" property="addrMobile" jdbcType="VARCHAR" />
    <result column="ADDR_PROVINCE" property="addrProvince" jdbcType="VARCHAR" />
    <result column="ADDR_CITY" property="addrCity" jdbcType="VARCHAR" />
    <result column="ADDR_DISTRICT" property="addrDistrict" jdbcType="VARCHAR" />
    <result column="ADDR_DETAIL" property="addrDetail" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="VARCHAR" />
    <result column="PRO_NUM" property="proNum" jdbcType="DECIMAL" />
    <result column="EXPRESS_REMARK" property="expressRemark" jdbcType="VARCHAR" />
    <result column="EXPRESS_SUC_DATE" property="expressSucDate" jdbcType="TIMESTAMP" />
    <result column="C_TIME" property="cTime" jdbcType="TIMESTAMP" />
    <result column="C_USER" property="cUser" jdbcType="VARCHAR" />
    <result column="U_TIME" property="uTime" jdbcType="TIMESTAMP" />
    <result column="RECEIPT_STATUS" property="receiptStatus" jdbcType="DECIMAL" />
    <result column="U_USER" property="uUser" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="AGENT_ID" property="agentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, RECEIPT_NUM, ADDRESS_ID, ADDR_REALNAME, ADDR_MOBILE, ADDR_PROVINCE, 
    ADDR_CITY, ADDR_DISTRICT, ADDR_DETAIL, REMARK, ZIP_CODE, PRO_NUM, EXPRESS_REMARK, 
    EXPRESS_SUC_DATE, C_TIME, C_USER, U_TIME, RECEIPT_STATUS, U_USER, STATUS, VERSION, 
    AGENT_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrderExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_RECEIPT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from O_RECEIPT_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrderExample" >
    delete from O_RECEIPT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrder" >
    insert into O_RECEIPT_ORDER (ID, ORDER_ID, RECEIPT_NUM, 
      ADDRESS_ID, ADDR_REALNAME, ADDR_MOBILE, 
      ADDR_PROVINCE, ADDR_CITY, ADDR_DISTRICT, 
      ADDR_DETAIL, REMARK, ZIP_CODE, 
      PRO_NUM, EXPRESS_REMARK, EXPRESS_SUC_DATE, 
      C_TIME, C_USER, U_TIME, 
      RECEIPT_STATUS, U_USER, STATUS, 
      VERSION, AGENT_ID)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{receiptNum,jdbcType=VARCHAR}, 
      #{addressId,jdbcType=VARCHAR}, #{addrRealname,jdbcType=VARCHAR}, #{addrMobile,jdbcType=VARCHAR}, 
      #{addrProvince,jdbcType=VARCHAR}, #{addrCity,jdbcType=VARCHAR}, #{addrDistrict,jdbcType=VARCHAR}, 
      #{addrDetail,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{proNum,jdbcType=DECIMAL}, #{expressRemark,jdbcType=VARCHAR}, #{expressSucDate,jdbcType=TIMESTAMP}, 
      #{cTime,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR}, #{uTime,jdbcType=TIMESTAMP}, 
      #{receiptStatus,jdbcType=DECIMAL}, #{uUser,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{version,jdbcType=DECIMAL}, #{agentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrder" >
    insert into O_RECEIPT_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="receiptNum != null" >
        RECEIPT_NUM,
      </if>
      <if test="addressId != null" >
        ADDRESS_ID,
      </if>
      <if test="addrRealname != null" >
        ADDR_REALNAME,
      </if>
      <if test="addrMobile != null" >
        ADDR_MOBILE,
      </if>
      <if test="addrProvince != null" >
        ADDR_PROVINCE,
      </if>
      <if test="addrCity != null" >
        ADDR_CITY,
      </if>
      <if test="addrDistrict != null" >
        ADDR_DISTRICT,
      </if>
      <if test="addrDetail != null" >
        ADDR_DETAIL,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="proNum != null" >
        PRO_NUM,
      </if>
      <if test="expressRemark != null" >
        EXPRESS_REMARK,
      </if>
      <if test="expressSucDate != null" >
        EXPRESS_SUC_DATE,
      </if>
      <if test="cTime != null" >
        C_TIME,
      </if>
      <if test="cUser != null" >
        C_USER,
      </if>
      <if test="uTime != null" >
        U_TIME,
      </if>
      <if test="receiptStatus != null" >
        RECEIPT_STATUS,
      </if>
      <if test="uUser != null" >
        U_USER,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="agentId != null" >
        AGENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="receiptNum != null" >
        #{receiptNum,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="addrRealname != null" >
        #{addrRealname,jdbcType=VARCHAR},
      </if>
      <if test="addrMobile != null" >
        #{addrMobile,jdbcType=VARCHAR},
      </if>
      <if test="addrProvince != null" >
        #{addrProvince,jdbcType=VARCHAR},
      </if>
      <if test="addrCity != null" >
        #{addrCity,jdbcType=VARCHAR},
      </if>
      <if test="addrDistrict != null" >
        #{addrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="addrDetail != null" >
        #{addrDetail,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="proNum != null" >
        #{proNum,jdbcType=DECIMAL},
      </if>
      <if test="expressRemark != null" >
        #{expressRemark,jdbcType=VARCHAR},
      </if>
      <if test="expressSucDate != null" >
        #{expressSucDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uTime != null" >
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptStatus != null" >
        #{receiptStatus,jdbcType=DECIMAL},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrderExample" resultType="java.lang.Integer" >
    select count(*) from O_RECEIPT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrder" >
    update O_RECEIPT_ORDER
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="receiptNum != null" >
        RECEIPT_NUM = #{receiptNum,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        ADDRESS_ID = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="addrRealname != null" >
        ADDR_REALNAME = #{addrRealname,jdbcType=VARCHAR},
      </if>
      <if test="addrMobile != null" >
        ADDR_MOBILE = #{addrMobile,jdbcType=VARCHAR},
      </if>
      <if test="addrProvince != null" >
        ADDR_PROVINCE = #{addrProvince,jdbcType=VARCHAR},
      </if>
      <if test="addrCity != null" >
        ADDR_CITY = #{addrCity,jdbcType=VARCHAR},
      </if>
      <if test="addrDistrict != null" >
        ADDR_DISTRICT = #{addrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="addrDetail != null" >
        ADDR_DETAIL = #{addrDetail,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="proNum != null" >
        PRO_NUM = #{proNum,jdbcType=DECIMAL},
      </if>
      <if test="expressRemark != null" >
        EXPRESS_REMARK = #{expressRemark,jdbcType=VARCHAR},
      </if>
      <if test="expressSucDate != null" >
        EXPRESS_SUC_DATE = #{expressSucDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cTime != null" >
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uTime != null" >
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptStatus != null" >
        RECEIPT_STATUS = #{receiptStatus,jdbcType=DECIMAL},
      </if>
      <if test="uUser != null" >
        U_USER = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null" >
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.order.OReceiptOrder" >
    update O_RECEIPT_ORDER
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      RECEIPT_NUM = #{receiptNum,jdbcType=VARCHAR},
      ADDRESS_ID = #{addressId,jdbcType=VARCHAR},
      ADDR_REALNAME = #{addrRealname,jdbcType=VARCHAR},
      ADDR_MOBILE = #{addrMobile,jdbcType=VARCHAR},
      ADDR_PROVINCE = #{addrProvince,jdbcType=VARCHAR},
      ADDR_CITY = #{addrCity,jdbcType=VARCHAR},
      ADDR_DISTRICT = #{addrDistrict,jdbcType=VARCHAR},
      ADDR_DETAIL = #{addrDetail,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      PRO_NUM = #{proNum,jdbcType=DECIMAL},
      EXPRESS_REMARK = #{expressRemark,jdbcType=VARCHAR},
      EXPRESS_SUC_DATE = #{expressSucDate,jdbcType=TIMESTAMP},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      C_USER = #{cUser,jdbcType=VARCHAR},
      U_TIME = #{uTime,jdbcType=TIMESTAMP},
      RECEIPT_STATUS = #{receiptStatus,jdbcType=DECIMAL},
      U_USER = #{uUser,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      AGENT_ID = #{agentId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <select id="queryPlannerList" parameterType="map" resultType="map">
    <include refid="OracleDialectPrefix" />
      select
        ro.ID, ro.ORDER_ID, ro.RECEIPT_NUM, ro.ADDRESS_ID, ro.ADDR_REALNAME, ro.ADDR_MOBILE, ro.ADDR_PROVINCE,
        ro.ADDR_CITY, ro.ADDR_DISTRICT, ro.ADDR_DETAIL, ro.REMARK, ro.ZIP_CODE, ro.PRO_NUM as PRO_NUM_SUM, ro.EXPRESS_REMARK,
        ro.EXPRESS_SUC_DATE, ro.C_TIME, ro.C_USER, ro.U_TIME, ro.RECEIPT_STATUS, ro.U_USER, ro.STATUS, ro.VERSION,
        ro.AGENT_ID, rp.ORDERID, rp.RECEIPT_ID, rp.PRO_ID, rp.PRO_CODE, rp.PRO_NAME, rp.PRO_NUM,rp.SEND_NUM,rp.id as receipt_Pro_Id
      from O_Receipt_order ro,o_Receipt_pro rp
      where ro.id = rp.receipt_id
      <if test="par.receiptStatus != null and par.receiptStatus!=''" >
        and receipt_status = #{par.receiptStatus}
      </if>
      <if test="par.receiptProStatus != null and par.receiptProStatus!=''" >
        and receipt_pro_status = #{par.receiptProStatus}
      </if>
      <if test="par.orderId != null and par.orderId!=''" >
        and ro.ORDER_ID = #{par.orderId}
      </if>
      <if test="par.receiptNum != null and par.receiptNum!=''" >
        and ro.RECEIPT_NUM = #{par.receiptNum}
      </if>
      <if test="par.addrRealname != null and par.addrRealname!=''" >
        and ro.ADDR_REALNAME = #{par.addrRealname}
      </if>
      order by suborder.c_time desc

    <include refid="OracleDialectSuffix" />

  </select>

  <select id="queryPlannerCount" parameterType="map" resultType="java.lang.Integer">
    select  count(*)
    from O_Receipt_order ro
    left join o_Receipt_pro rp on ro.id = rp.receipt_id and rp.status=1
    left join o_sub_order suborder on    rp.pro_id=suborder.pro_id   and rp.orderId=suborder.order_id and suborder.status=1
    left join o_sub_order_activity ac on ac.sub_order_id=suborder.id and ac.status=1
    left join o_activity oa on ac.activity_id = oa.id
    left join a_agent ag on ag.id = ro.agent_id
    <where>
      and ro.status=1 and ag.status=1
      <if test="par.proType != null and par.proType!=''" >
        and suborder.pro_type=#{par.proType}
      </if>
      <if test="par.agentName != null and par.agentName!=''" >
        and ag.AG_NAME like '${par.agentName}'
      </if>
      <if test="par.proName != null and par.proName!=''" >
        and suborder.pro_name like '${par.proName}'
      </if>
      <if test="par.vender != null and par.vender!=''" >
        and
        exists(
        select in_oa.id
        from o_activity in_oa
        where in_oa.pro_type=suborder.pro_type
        and in_oa.act_code =oa.act_code
        and in_oa.vender=#{par.vender}
        and in_oa.pro_model=#{par.proModel}
        and in_oa.status=1
        )
      </if>
      <if test="par.actCode != null and par.actCode!=''" >
        and oa.act_code=#{par.actCode}
      </if>
      <if test="par.proId != null and par.proId!=''" >
        and ac.pro_id=#{par.proId}
      </if>
      <if test="par.receiptStatus != null and par.receiptStatus!=''" >
        and receipt_status = #{par.receiptStatus}
      </if>
      <if test="par.receiptProStatus != null and par.receiptProStatus!=''" >
        and receipt_pro_status = #{par.receiptProStatus}
      </if>
      <if test="par.orderId != null and par.orderId!=''" >
        and ro.ORDER_ID = #{par.orderId}
      </if>
      <if test="par.receiptNum != null and par.receiptNum!=''" >
        and ro.RECEIPT_NUM = #{par.receiptNum}
      </if>
      <if test="par.addrRealname != null and par.addrRealname!=''" >
        and ro.ADDR_REALNAME = #{par.addrRealname}
      </if>
    </where>
  </select>





  <select id="queryPlannerAll" parameterType="map" resultType="map">
    <include refid="OracleDialectPrefix" />

    select  ac.vender as "proCom",ac.pro_model as "model",
    ro.ID, ro.ORDER_ID, ro.RECEIPT_NUM, ro.ADDRESS_ID, ro.ADDR_REALNAME, ro.ADDR_MOBILE, ro.ADDR_PROVINCE,
    ro.ADDR_CITY, ro.ADDR_DISTRICT, ro.ADDR_DETAIL, ro.REMARK, ro.ZIP_CODE, ro.PRO_NUM as PRO_NUM_SUM, ro.EXPRESS_REMARK,
    ro.EXPRESS_SUC_DATE, ro.C_TIME, ro.C_USER, ro.U_TIME, ro.RECEIPT_STATUS, ro.U_USER, ro.STATUS, ro.VERSION,
    ro.AGENT_ID, rp.ORDERID, rp.RECEIPT_ID, rp.PRO_ID, rp.PRO_CODE, rp.PRO_NAME, rp.PRO_NUM,rp.SEND_NUM,rp.id as receipt_Pro_Id,ag.AG_NAME
    from O_Receipt_order ro
    left join o_Receipt_pro rp on ro.id = rp.receipt_id and rp.status=1
    left join o_sub_order suborder on    rp.pro_id=suborder.pro_id   and rp.orderId=suborder.order_id and suborder.status=1
    left join o_sub_order_activity ac on ac.sub_order_id=suborder.id and ac.status=1
    left join o_activity oa on ac.activity_id = oa.id
    left join a_agent ag on ag.id = ro.agent_id
    <where>
      and ro.status=1 and ag.status=1
    <if test="par.proType != null and par.proType!=''" >
        and suborder.pro_type=#{par.proType}
    </if>
      <if test="par.agentName != null and par.agentName!=''" >
        and ag.AG_NAME like '${par.agentName}'
      </if>
      <if test="par.proName != null and par.proName!=''" >
        and suborder.pro_name like '${par.proName}'
      </if>
    <if test="par.vender != null and par.vender!=''" >
        and
         exists(
           select in_oa.id
           from o_activity in_oa
           where in_oa.pro_type=suborder.pro_type
            and in_oa.act_code =oa.act_code
            and in_oa.vender=#{par.vender}
            and in_oa.pro_model=#{par.proModel}
            and in_oa.status=1
         )
    </if>
    <if test="par.actCode != null and par.actCode!=''" >
      and oa.act_code=#{par.actCode}
    </if>
    <if test="par.proId != null and par.proId!=''" >
     and ac.pro_id=#{par.proId}
    </if>
    <if test="par.receiptStatus != null and par.receiptStatus!=''" >
      and receipt_status = #{par.receiptStatus}
    </if>
    <if test="par.receiptProStatus != null and par.receiptProStatus!=''" >
      and receipt_pro_status = #{par.receiptProStatus}
    </if>
    <if test="par.orderId != null and par.orderId!=''" >
      and ro.ORDER_ID = #{par.orderId}
    </if>
    <if test="par.receiptNum != null and par.receiptNum!=''" >
      and ro.RECEIPT_NUM = #{par.receiptNum}
    </if>
    <if test="par.addrRealname != null and par.addrRealname!=''" >
      and ro.ADDR_REALNAME = #{par.addrRealname}
    </if>
    </where>
     order by suborder.c_time desc

    <include refid="OracleDialectSuffix" />

  </select>
</mapper>