<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.dao.order.ORefundPriceDiffDetailMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SUB_ORDER_ID" jdbcType="VARCHAR" property="subOrderId" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="ACTIVITY_FRONT_ID" jdbcType="VARCHAR" property="activityFrontId" />
    <result column="ACTIVITY_REAL_ID" jdbcType="VARCHAR" property="activityRealId" />
    <result column="REFUND_PRICE_DIFF_ID" jdbcType="VARCHAR" property="refundPriceDiffId" />
    <result column="PRO_ID" jdbcType="VARCHAR" property="proId" />
    <result column="PRO_NAME" jdbcType="VARCHAR" property="proName" />
    <result column="CHANGE_COUNT" jdbcType="DECIMAL" property="changeCount" />
    <result column="ACTIVITY_NAME" jdbcType="VARCHAR" property="activityName" />
    <result column="ACTIVITY_WAY" jdbcType="VARCHAR" property="activityWay" />
    <result column="ACTIVITY_RULE" jdbcType="VARCHAR" property="activityRule" />
    <result column="FRONT_PRICE" jdbcType="DECIMAL" property="frontPrice" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="S_TIME" jdbcType="TIMESTAMP" property="sTime" />
    <result column="BEGIN_SN" jdbcType="VARCHAR" property="beginSn" />
    <result column="END_SN" jdbcType="VARCHAR" property="endSn" />
    <result column="VENDER" jdbcType="VARCHAR" property="vender" />
    <result column="PRO_MODEL" jdbcType="VARCHAR" property="proModel" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="U_TIME" jdbcType="TIMESTAMP" property="uTime" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="U_USER" jdbcType="VARCHAR" property="uUser" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="SEND_STATUS" jdbcType="DECIMAL" property="sendStatus" />
    <result column="SEND_MSG" jdbcType="VARCHAR" property="sendMsg" />
    <result column="ORDER_TYPE" jdbcType="DECIMAL" property="orderType" />
    <result column="FRONT_PRO_ID" jdbcType="VARCHAR" property="frontProId" />
    <result column="FRONT_PRO_NAME" jdbcType="VARCHAR" property="frontProName" />
    <result column="PLATFORM_TYPE" jdbcType="VARCHAR" property="platformType" />
    <result column="OLD_ORG_ID" jdbcType="VARCHAR" property="oldOrgId" />
    <result column="NEW_ORG_ID" jdbcType="VARCHAR" property="newOrgId" />
    <result column="DELIVERY_TIME" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="APP_TIME" jdbcType="TIMESTAMP" property="appTime" />
    <result column="OLD_SUPD_ORG_ID" jdbcType="VARCHAR" property="oldSupdOrgId" />
    <result column="OLD_SUPD_ORG_NAME" jdbcType="VARCHAR" property="oldSupdOrgName" />
    <result column="NEW_SUPD_ORG_ID" jdbcType="VARCHAR" property="newSupdOrgId" />
    <result column="NEW_SUPD_ORG_NAME" jdbcType="VARCHAR" property="newSupdOrgName" />
    <result column="DELAY_DAY" jdbcType="VARCHAR" property="delayDay" />
    <result column="DELIVERY_TIME_TYPE" jdbcType="VARCHAR" property="deliveryTimeType" />
    <result column="OLD_ORG_NAME" jdbcType="VARCHAR" property="oldOrgName" />
    <result column="NEW_ORG_NAME" jdbcType="VARCHAR" property="newOrgName" />
    <result column="PAY_STATUS" jdbcType="CHAR" property="payStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SUB_ORDER_ID, AGENT_ID, ACTIVITY_FRONT_ID, ACTIVITY_REAL_ID, REFUND_PRICE_DIFF_ID,
    PRO_ID, PRO_NAME, CHANGE_COUNT, ACTIVITY_NAME, ACTIVITY_WAY, ACTIVITY_RULE, FRONT_PRICE,
    PRICE, S_TIME, BEGIN_SN, END_SN, VENDER, PRO_MODEL, C_TIME, U_TIME, C_USER, U_USER,
    STATUS, VERSION, ORDER_ID, SEND_STATUS, SEND_MSG, ORDER_TYPE, FRONT_PRO_ID, FRONT_PRO_NAME,
    PLATFORM_TYPE, OLD_ORG_ID, NEW_ORG_ID, DELIVERY_TIME, APP_TIME, OLD_SUPD_ORG_ID,
    OLD_SUPD_ORG_NAME, NEW_SUPD_ORG_ID, NEW_SUPD_ORG_NAME, DELAY_DAY, DELIVERY_TIME_TYPE,
    OLD_ORG_NAME, NEW_ORG_NAME, PAY_STATUS
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetailExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_REFUND_PRICE_DIFF_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from O_REFUND_PRICE_DIFF_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetailExample">
    delete from O_REFUND_PRICE_DIFF_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetail">
    insert into O_REFUND_PRICE_DIFF_DETAIL (ID, SUB_ORDER_ID, AGENT_ID,
    ACTIVITY_FRONT_ID, ACTIVITY_REAL_ID, REFUND_PRICE_DIFF_ID,
    PRO_ID, PRO_NAME, CHANGE_COUNT,
    ACTIVITY_NAME, ACTIVITY_WAY, ACTIVITY_RULE,
    FRONT_PRICE, PRICE, S_TIME,
    BEGIN_SN, END_SN, VENDER,
    PRO_MODEL, C_TIME, U_TIME,
    C_USER, U_USER, STATUS,
    VERSION, ORDER_ID, SEND_STATUS,
    SEND_MSG, ORDER_TYPE, FRONT_PRO_ID,
    FRONT_PRO_NAME, PLATFORM_TYPE, OLD_ORG_ID,
    NEW_ORG_ID, DELIVERY_TIME, APP_TIME,
    OLD_SUPD_ORG_ID, OLD_SUPD_ORG_NAME, NEW_SUPD_ORG_ID,
    NEW_SUPD_ORG_NAME, DELAY_DAY, DELIVERY_TIME_TYPE,
    OLD_ORG_NAME, NEW_ORG_NAME, PAY_STATUS)
    values (#{id,jdbcType=VARCHAR}, #{subOrderId,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR},
    #{activityFrontId,jdbcType=VARCHAR}, #{activityRealId,jdbcType=VARCHAR}, #{refundPriceDiffId,jdbcType=VARCHAR},
    #{proId,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{changeCount,jdbcType=DECIMAL},
    #{activityName,jdbcType=VARCHAR}, #{activityWay,jdbcType=VARCHAR}, #{activityRule,jdbcType=VARCHAR},
    #{frontPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{sTime,jdbcType=TIMESTAMP},
    #{beginSn,jdbcType=VARCHAR}, #{endSn,jdbcType=VARCHAR}, #{vender,jdbcType=VARCHAR},
    #{proModel,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, #{uTime,jdbcType=TIMESTAMP},
    #{cUser,jdbcType=VARCHAR}, #{uUser,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL},
    #{version,jdbcType=DECIMAL}, #{orderId,jdbcType=VARCHAR}, #{sendStatus,jdbcType=DECIMAL},
    #{sendMsg,jdbcType=VARCHAR}, #{orderType,jdbcType=DECIMAL}, #{frontProId,jdbcType=VARCHAR},
    #{frontProName,jdbcType=VARCHAR}, #{platformType,jdbcType=VARCHAR}, #{oldOrgId,jdbcType=VARCHAR},
    #{newOrgId,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=VARCHAR}, #{appTime,jdbcType=TIMESTAMP},
    #{oldSupdOrgId,jdbcType=VARCHAR}, #{oldSupdOrgName,jdbcType=VARCHAR}, #{newSupdOrgId,jdbcType=VARCHAR},
    #{newSupdOrgName,jdbcType=VARCHAR}, #{delayDay,jdbcType=VARCHAR}, #{deliveryTimeType,jdbcType=VARCHAR},
    #{oldOrgName,jdbcType=VARCHAR}, #{newOrgName,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetail">
    insert into O_REFUND_PRICE_DIFF_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="subOrderId != null">
        SUB_ORDER_ID,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="activityFrontId != null">
        ACTIVITY_FRONT_ID,
      </if>
      <if test="activityRealId != null">
        ACTIVITY_REAL_ID,
      </if>
      <if test="refundPriceDiffId != null">
        REFUND_PRICE_DIFF_ID,
      </if>
      <if test="proId != null">
        PRO_ID,
      </if>
      <if test="proName != null">
        PRO_NAME,
      </if>
      <if test="changeCount != null">
        CHANGE_COUNT,
      </if>
      <if test="activityName != null">
        ACTIVITY_NAME,
      </if>
      <if test="activityWay != null">
        ACTIVITY_WAY,
      </if>
      <if test="activityRule != null">
        ACTIVITY_RULE,
      </if>
      <if test="frontPrice != null">
        FRONT_PRICE,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="sTime != null">
        S_TIME,
      </if>
      <if test="beginSn != null">
        BEGIN_SN,
      </if>
      <if test="endSn != null">
        END_SN,
      </if>
      <if test="vender != null">
        VENDER,
      </if>
      <if test="proModel != null">
        PRO_MODEL,
      </if>
      <if test="cTime != null">
        C_TIME,
      </if>
      <if test="uTime != null">
        U_TIME,
      </if>
      <if test="cUser != null">
        C_USER,
      </if>
      <if test="uUser != null">
        U_USER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="sendStatus != null">
        SEND_STATUS,
      </if>
      <if test="sendMsg != null">
        SEND_MSG,
      </if>
      <if test="orderType != null">
        ORDER_TYPE,
      </if>
      <if test="frontProId != null">
        FRONT_PRO_ID,
      </if>
      <if test="frontProName != null">
        FRONT_PRO_NAME,
      </if>
      <if test="platformType != null">
        PLATFORM_TYPE,
      </if>
      <if test="oldOrgId != null">
        OLD_ORG_ID,
      </if>
      <if test="newOrgId != null">
        NEW_ORG_ID,
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME,
      </if>
      <if test="appTime != null">
        APP_TIME,
      </if>
      <if test="oldSupdOrgId != null">
        OLD_SUPD_ORG_ID,
      </if>
      <if test="oldSupdOrgName != null">
        OLD_SUPD_ORG_NAME,
      </if>
      <if test="newSupdOrgId != null">
        NEW_SUPD_ORG_ID,
      </if>
      <if test="newSupdOrgName != null">
        NEW_SUPD_ORG_NAME,
      </if>
      <if test="delayDay != null">
        DELAY_DAY,
      </if>
      <if test="deliveryTimeType != null">
        DELIVERY_TIME_TYPE,
      </if>
      <if test="oldOrgName != null">
        OLD_ORG_NAME,
      </if>
      <if test="newOrgName != null">
        NEW_ORG_NAME,
      </if>
      <if test="payStatus != null">
        PAY_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="subOrderId != null">
        #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="activityFrontId != null">
        #{activityFrontId,jdbcType=VARCHAR},
      </if>
      <if test="activityRealId != null">
        #{activityRealId,jdbcType=VARCHAR},
      </if>
      <if test="refundPriceDiffId != null">
        #{refundPriceDiffId,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="changeCount != null">
        #{changeCount,jdbcType=DECIMAL},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityWay != null">
        #{activityWay,jdbcType=VARCHAR},
      </if>
      <if test="activityRule != null">
        #{activityRule,jdbcType=VARCHAR},
      </if>
      <if test="frontPrice != null">
        #{frontPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="sTime != null">
        #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginSn != null">
        #{beginSn,jdbcType=VARCHAR},
      </if>
      <if test="endSn != null">
        #{endSn,jdbcType=VARCHAR},
      </if>
      <if test="vender != null">
        #{vender,jdbcType=VARCHAR},
      </if>
      <if test="proModel != null">
        #{proModel,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=DECIMAL},
      </if>
      <if test="sendMsg != null">
        #{sendMsg,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=DECIMAL},
      </if>
      <if test="frontProId != null">
        #{frontProId,jdbcType=VARCHAR},
      </if>
      <if test="frontProName != null">
        #{frontProName,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgId != null">
        #{oldOrgId,jdbcType=VARCHAR},
      </if>
      <if test="newOrgId != null">
        #{newOrgId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null">
        #{appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldSupdOrgId != null">
        #{oldSupdOrgId,jdbcType=VARCHAR},
      </if>
      <if test="oldSupdOrgName != null">
        #{oldSupdOrgName,jdbcType=VARCHAR},
      </if>
      <if test="newSupdOrgId != null">
        #{newSupdOrgId,jdbcType=VARCHAR},
      </if>
      <if test="newSupdOrgName != null">
        #{newSupdOrgName,jdbcType=VARCHAR},
      </if>
      <if test="delayDay != null">
        #{delayDay,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTimeType != null">
        #{deliveryTimeType,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgName != null">
        #{oldOrgName,jdbcType=VARCHAR},
      </if>
      <if test="newOrgName != null">
        #{newOrgName,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetailExample" resultType="java.lang.Long">
    select count(*) from O_REFUND_PRICE_DIFF_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetail">
    update O_REFUND_PRICE_DIFF_DETAIL
    <set>
      <if test="subOrderId != null">
        SUB_ORDER_ID = #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="activityFrontId != null">
        ACTIVITY_FRONT_ID = #{activityFrontId,jdbcType=VARCHAR},
      </if>
      <if test="activityRealId != null">
        ACTIVITY_REAL_ID = #{activityRealId,jdbcType=VARCHAR},
      </if>
      <if test="refundPriceDiffId != null">
        REFUND_PRICE_DIFF_ID = #{refundPriceDiffId,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        PRO_ID = #{proId,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        PRO_NAME = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="changeCount != null">
        CHANGE_COUNT = #{changeCount,jdbcType=DECIMAL},
      </if>
      <if test="activityName != null">
        ACTIVITY_NAME = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityWay != null">
        ACTIVITY_WAY = #{activityWay,jdbcType=VARCHAR},
      </if>
      <if test="activityRule != null">
        ACTIVITY_RULE = #{activityRule,jdbcType=VARCHAR},
      </if>
      <if test="frontPrice != null">
        FRONT_PRICE = #{frontPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="sTime != null">
        S_TIME = #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginSn != null">
        BEGIN_SN = #{beginSn,jdbcType=VARCHAR},
      </if>
      <if test="endSn != null">
        END_SN = #{endSn,jdbcType=VARCHAR},
      </if>
      <if test="vender != null">
        VENDER = #{vender,jdbcType=VARCHAR},
      </if>
      <if test="proModel != null">
        PRO_MODEL = #{proModel,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        U_USER = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        SEND_STATUS = #{sendStatus,jdbcType=DECIMAL},
      </if>
      <if test="sendMsg != null">
        SEND_MSG = #{sendMsg,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        ORDER_TYPE = #{orderType,jdbcType=DECIMAL},
      </if>
      <if test="frontProId != null">
        FRONT_PRO_ID = #{frontProId,jdbcType=VARCHAR},
      </if>
      <if test="frontProName != null">
        FRONT_PRO_NAME = #{frontProName,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        PLATFORM_TYPE = #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgId != null">
        OLD_ORG_ID = #{oldOrgId,jdbcType=VARCHAR},
      </if>
      <if test="newOrgId != null">
        NEW_ORG_ID = #{newOrgId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME = #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null">
        APP_TIME = #{appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldSupdOrgId != null">
        OLD_SUPD_ORG_ID = #{oldSupdOrgId,jdbcType=VARCHAR},
      </if>
      <if test="oldSupdOrgName != null">
        OLD_SUPD_ORG_NAME = #{oldSupdOrgName,jdbcType=VARCHAR},
      </if>
      <if test="newSupdOrgId != null">
        NEW_SUPD_ORG_ID = #{newSupdOrgId,jdbcType=VARCHAR},
      </if>
      <if test="newSupdOrgName != null">
        NEW_SUPD_ORG_NAME = #{newSupdOrgName,jdbcType=VARCHAR},
      </if>
      <if test="delayDay != null">
        DELAY_DAY = #{delayDay,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTimeType != null">
        DELIVERY_TIME_TYPE = #{deliveryTimeType,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgName != null">
        OLD_ORG_NAME = #{oldOrgName,jdbcType=VARCHAR},
      </if>
      <if test="newOrgName != null">
        NEW_ORG_NAME = #{newOrgName,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        PAY_STATUS = #{payStatus,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.order.ORefundPriceDiffDetail">
    update O_REFUND_PRICE_DIFF_DETAIL
    set SUB_ORDER_ID = #{subOrderId,jdbcType=VARCHAR},
    AGENT_ID = #{agentId,jdbcType=VARCHAR},
    ACTIVITY_FRONT_ID = #{activityFrontId,jdbcType=VARCHAR},
    ACTIVITY_REAL_ID = #{activityRealId,jdbcType=VARCHAR},
    REFUND_PRICE_DIFF_ID = #{refundPriceDiffId,jdbcType=VARCHAR},
    PRO_ID = #{proId,jdbcType=VARCHAR},
    PRO_NAME = #{proName,jdbcType=VARCHAR},
    CHANGE_COUNT = #{changeCount,jdbcType=DECIMAL},
    ACTIVITY_NAME = #{activityName,jdbcType=VARCHAR},
    ACTIVITY_WAY = #{activityWay,jdbcType=VARCHAR},
    ACTIVITY_RULE = #{activityRule,jdbcType=VARCHAR},
    FRONT_PRICE = #{frontPrice,jdbcType=DECIMAL},
    PRICE = #{price,jdbcType=DECIMAL},
    S_TIME = #{sTime,jdbcType=TIMESTAMP},
    BEGIN_SN = #{beginSn,jdbcType=VARCHAR},
    END_SN = #{endSn,jdbcType=VARCHAR},
    VENDER = #{vender,jdbcType=VARCHAR},
    PRO_MODEL = #{proModel,jdbcType=VARCHAR},
    C_TIME = #{cTime,jdbcType=TIMESTAMP},
    U_TIME = #{uTime,jdbcType=TIMESTAMP},
    C_USER = #{cUser,jdbcType=VARCHAR},
    U_USER = #{uUser,jdbcType=VARCHAR},
    STATUS = #{status,jdbcType=DECIMAL},
    VERSION = #{version,jdbcType=DECIMAL},
    ORDER_ID = #{orderId,jdbcType=VARCHAR},
    SEND_STATUS = #{sendStatus,jdbcType=DECIMAL},
    SEND_MSG = #{sendMsg,jdbcType=VARCHAR},
    ORDER_TYPE = #{orderType,jdbcType=DECIMAL},
    FRONT_PRO_ID = #{frontProId,jdbcType=VARCHAR},
    FRONT_PRO_NAME = #{frontProName,jdbcType=VARCHAR},
    PLATFORM_TYPE = #{platformType,jdbcType=VARCHAR},
    OLD_ORG_ID = #{oldOrgId,jdbcType=VARCHAR},
    NEW_ORG_ID = #{newOrgId,jdbcType=VARCHAR},
    DELIVERY_TIME = #{deliveryTime,jdbcType=VARCHAR},
    APP_TIME = #{appTime,jdbcType=TIMESTAMP},
    OLD_SUPD_ORG_ID = #{oldSupdOrgId,jdbcType=VARCHAR},
    OLD_SUPD_ORG_NAME = #{oldSupdOrgName,jdbcType=VARCHAR},
    NEW_SUPD_ORG_ID = #{newSupdOrgId,jdbcType=VARCHAR},
    NEW_SUPD_ORG_NAME = #{newSupdOrgName,jdbcType=VARCHAR},
    DELAY_DAY = #{delayDay,jdbcType=VARCHAR},
    DELIVERY_TIME_TYPE = #{deliveryTimeType,jdbcType=VARCHAR},
    OLD_ORG_NAME = #{oldOrgName,jdbcType=VARCHAR},
    NEW_ORG_NAME = #{newOrgName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <resultMap id="BaseResultMapExtends" type="java.util.Map">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SUB_ORDER_ID" jdbcType="VARCHAR" property="subOrderId" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="ACTIVITY_FRONT_ID" jdbcType="VARCHAR" property="activityFrontId" />
    <result column="ACTIVITY_REAL_ID" jdbcType="VARCHAR" property="activityRealId" />
    <result column="REFUND_PRICE_DIFF_ID" jdbcType="VARCHAR" property="refundPriceDiffId" />
    <result column="PRO_ID" jdbcType="VARCHAR" property="proId" />
    <result column="PRO_NAME" jdbcType="VARCHAR" property="proName" />
    <result column="CHANGE_COUNT" jdbcType="DECIMAL" property="changeCount" />
    <result column="ACTIVITY_NAME" jdbcType="VARCHAR" property="activityName" />
    <result column="ACTIVITY_WAY" jdbcType="VARCHAR" property="activityWay" />
    <result column="ACTIVITY_RULE" jdbcType="VARCHAR" property="activityRule" />
    <result column="FRONT_PRICE" jdbcType="DECIMAL" property="frontPrice" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="S_TIME" jdbcType="TIMESTAMP" property="sTime" />
    <result column="BEGIN_SN" jdbcType="VARCHAR" property="beginSn" />
    <result column="END_SN" jdbcType="VARCHAR" property="endSn" />
    <result column="VENDER" jdbcType="VARCHAR" property="vender" />
    <result column="PRO_MODEL" jdbcType="VARCHAR" property="proModel" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="U_TIME" jdbcType="TIMESTAMP" property="uTime" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="U_USER" jdbcType="VARCHAR" property="uUser" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="SEND_STATUS" jdbcType="DECIMAL" property="sendStatus" />
    <result column="SEND_MSG" jdbcType="VARCHAR" property="sendMsg" />
    <result column="ORDER_TYPE" jdbcType="DECIMAL" property="orderType" />
    <result column="FRONT_PRO_ID" jdbcType="VARCHAR" property="frontProId" />
    <result column="FRONT_PRO_NAME" jdbcType="VARCHAR" property="frontProName" />
    <result column="PLATFORM_TYPE" jdbcType="VARCHAR" property="platformType" />
    <result column="OLD_ORG_ID" jdbcType="VARCHAR" property="oldOrgId" />
    <result column="NEW_ORG_ID" jdbcType="VARCHAR" property="newOrgId" />
    <result column="DELIVERY_TIME" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="APP_TIME" jdbcType="TIMESTAMP" property="appTime" />
    <result column="PRE_ACTIVITY_ACTIVITYNAME" jdbcType="VARCHAR" property="pre_activity_activityName" />
    <result column="PRE_ACTIVITY_ACT_CODE" jdbcType="VARCHAR" property="pre_activity_act_code" />
    <result column="PRE_ACTIVITY_BUS_PRO_CODE" jdbcType="VARCHAR" property="pre_activity_bus_pro_code" />
    <result column="PRE_ACTIVITY_PRICE" jdbcType="DECIMAL" property="pre_activity_price" />
    <result column="OLD_SUPD_ORG_ID" jdbcType="VARCHAR" property="oldSupdOrgId" />
    <result column="OLD_SUPD_ORG_NAME" jdbcType="VARCHAR" property="oldSupdOrgName" />
    <result column="NEW_SUPD_ORG_ID" jdbcType="VARCHAR" property="newSupdOrgId" />
    <result column="NEW_SUPD_ORG_NAME" jdbcType="VARCHAR" property="newSupdOrgName" />
    <result column="DELAY_DAY" jdbcType="VARCHAR" property="delayDay" />
    <result column="DELIVERY_TIME_TYPE" jdbcType="VARCHAR" property="deliveryTimeType" />
    <result column="OLD_ORG_NAME" jdbcType="VARCHAR" property="oldOrgName" />
    <result column="NEW_ORG_NAME" jdbcType="VARCHAR" property="newOrgName" />
  </resultMap>
  <select id="selectByExampleExtends" parameterType="map" resultMap="BaseResultMapExtends">
    <include refid="OracleDialectPrefix" />
    select
    O_REFUND_PRICE_DIFF_DETAIL.ID,
    O_REFUND_PRICE_DIFF_DETAIL.SUB_ORDER_ID,
    O_REFUND_PRICE_DIFF_DETAIL.AGENT_ID,
    O_REFUND_PRICE_DIFF_DETAIL.ACTIVITY_FRONT_ID,
    O_REFUND_PRICE_DIFF_DETAIL.ACTIVITY_REAL_ID,
    O_REFUND_PRICE_DIFF_DETAIL.REFUND_PRICE_DIFF_ID,
    O_REFUND_PRICE_DIFF_DETAIL.PRO_ID,
    O_REFUND_PRICE_DIFF_DETAIL.PRO_NAME,
    O_REFUND_PRICE_DIFF_DETAIL.CHANGE_COUNT,
    O_REFUND_PRICE_DIFF_DETAIL.ACTIVITY_NAME,
    O_REFUND_PRICE_DIFF_DETAIL.ACTIVITY_WAY,
    O_REFUND_PRICE_DIFF_DETAIL.ACTIVITY_RULE,
    O_REFUND_PRICE_DIFF_DETAIL.FRONT_PRICE,
    O_REFUND_PRICE_DIFF_DETAIL.PRICE,
    O_REFUND_PRICE_DIFF_DETAIL.S_TIME,
    O_REFUND_PRICE_DIFF_DETAIL.BEGIN_SN,
    O_REFUND_PRICE_DIFF_DETAIL.END_SN,
    O_REFUND_PRICE_DIFF_DETAIL.VENDER,
    O_REFUND_PRICE_DIFF_DETAIL.PRO_MODEL,
    O_REFUND_PRICE_DIFF_DETAIL.C_TIME,
    O_REFUND_PRICE_DIFF_DETAIL.U_TIME,
    O_REFUND_PRICE_DIFF_DETAIL.C_USER,
    O_REFUND_PRICE_DIFF_DETAIL.U_USER,
    O_REFUND_PRICE_DIFF_DETAIL.STATUS,
    O_REFUND_PRICE_DIFF_DETAIL.VERSION,
    O_REFUND_PRICE_DIFF_DETAIL.ORDER_ID,
    O_REFUND_PRICE_DIFF_DETAIL.SEND_STATUS,
    O_REFUND_PRICE_DIFF_DETAIL.SEND_MSG,
    O_REFUND_PRICE_DIFF_DETAIL.ORDER_TYPE,
    O_REFUND_PRICE_DIFF_DETAIL.FRONT_PRO_ID,
    O_REFUND_PRICE_DIFF_DETAIL.FRONT_PRO_NAME,
    O_REFUND_PRICE_DIFF_DETAIL.PLATFORM_TYPE,
    O_REFUND_PRICE_DIFF_DETAIL.OLD_ORG_ID,
    O_REFUND_PRICE_DIFF_DETAIL.NEW_ORG_ID,
    O_REFUND_PRICE_DIFF_DETAIL.DELIVERY_TIME,
    O_REFUND_PRICE_DIFF_DETAIL.APP_TIME,
    O_REFUND_PRICE_DIFF_DETAIL.OLD_SUPD_ORG_ID,
    O_REFUND_PRICE_DIFF_DETAIL.OLD_SUPD_ORG_NAME,
    O_REFUND_PRICE_DIFF_DETAIL.NEW_SUPD_ORG_ID,
    O_REFUND_PRICE_DIFF_DETAIL.NEW_SUPD_ORG_NAME,
    O_REFUND_PRICE_DIFF_DETAIL.DELAY_DAY,
    O_REFUND_PRICE_DIFF_DETAIL.DELIVERY_TIME_TYPE,
    O_REFUND_PRICE_DIFF_DETAIL.OLD_ORG_NAME,
    O_REFUND_PRICE_DIFF_DETAIL.NEW_ORG_NAME,
    pre_activity.activity_name as pre_activity_activityName,
    pre_activity.act_code as pre_activity_act_code,
    pre_activity.bus_pro_code as pre_activity_bus_pro_code,
    pre_activity.price as pre_activity_price
    from O_REFUND_PRICE_DIFF_DETAIL
    left join o_activity  pre_activity on pre_activity.id= O_REFUND_PRICE_DIFF_DETAIL.ACTIVITY_FRONT_ID
    <where>
      O_REFUND_PRICE_DIFF_DETAIL.status=1
      <if test="par.agentId!=null and par.agentId!=''"> and O_REFUND_PRICE_DIFF_DETAIL.Agent_Id=#{par.agentId} </if>
      <if test="par.refundPriceDiffId!=null and par.refundPriceDiffId!=''"> and O_REFUND_PRICE_DIFF_DETAIL.REFUND_PRICE_DIFF_ID=#{par.refundPriceDiffId} </if>
    </where>
    order by O_REFUND_PRICE_DIFF_DETAIL.C_TIME desc
    <include refid="OracleDialectSuffix" />
  </select>

  <select id="selectById" parameterType="java.lang.String" resultType="map">
    select * from O_REFUND_PRICE_DIFF_DETAIL where ID = #{id,jdbcType=VARCHAR}
  </select>
</mapper>