<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.dao.order.ORemoveAccountMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.order.ORemoveAccount">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RMONTH" jdbcType="TIMESTAMP" property="rmonth" />
    <result column="AG_ID" jdbcType="VARCHAR" property="agId" />
    <result column="AG_NAME" jdbcType="VARCHAR" property="agName" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="BUS_PLATFORM" jdbcType="VARCHAR" property="busPlatform" />
    <result column="MACHINES_AMOUNT" jdbcType="DECIMAL" property="machinesAmount" />
    <result column="SUBMIT_PERSON" jdbcType="VARCHAR" property="submitPerson" />
    <result column="SUBMIT_TIME" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="PAY_METHOD" jdbcType="VARCHAR" property="payMethod" />
    <result column="RAMOUNT" jdbcType="DECIMAL" property="ramount" />
    <result column="REAL_RAMOUNT" jdbcType="DECIMAL" property="realRamount" />
    <result column="RSTATUS" jdbcType="DECIMAL" property="rstatus" />
    <result column="FINISH_TIME" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="BATCH_NUM" jdbcType="VARCHAR" property="batchNum" />
    <result column="RTYPE" jdbcType="DECIMAL" property="rtype" />
    <result column="FAIL_CAUSE" jdbcType="VARCHAR" property="failCause" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RMONTH, AG_ID, AG_NAME, BUS_NUM, BUS_PLATFORM, MACHINES_AMOUNT, SUBMIT_PERSON, 
    SUBMIT_TIME, PAY_METHOD, RAMOUNT, REAL_RAMOUNT, RSTATUS, FINISH_TIME, BATCH_NUM, 
    RTYPE, FAIL_CAUSE, REMARK, STATUS, VERSION
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccountExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_REMOVE_ACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from O_REMOVE_ACCOUNT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccountExample">
    delete from O_REMOVE_ACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccount">
    insert into O_REMOVE_ACCOUNT (ID, RMONTH, AG_ID, 
      AG_NAME, BUS_NUM, BUS_PLATFORM, 
      MACHINES_AMOUNT, SUBMIT_PERSON, SUBMIT_TIME, 
      PAY_METHOD, RAMOUNT, REAL_RAMOUNT, 
      RSTATUS, FINISH_TIME, BATCH_NUM, 
      RTYPE, FAIL_CAUSE, REMARK, 
      STATUS, VERSION)
    values (#{id,jdbcType=VARCHAR}, #{rmonth,jdbcType=TIMESTAMP}, #{agId,jdbcType=VARCHAR}, 
      #{agName,jdbcType=VARCHAR}, #{busNum,jdbcType=VARCHAR}, #{busPlatform,jdbcType=VARCHAR}, 
      #{machinesAmount,jdbcType=DECIMAL}, #{submitPerson,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP},
      #{payMethod,jdbcType=VARCHAR}, #{ramount,jdbcType=DECIMAL}, #{realRamount,jdbcType=DECIMAL}, 
      #{rstatus,jdbcType=DECIMAL}, #{finishTime,jdbcType=TIMESTAMP}, #{batchNum,jdbcType=VARCHAR}, 
      #{rtype,jdbcType=DECIMAL}, #{failCause,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccount">
    insert into O_REMOVE_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rmonth != null">
        RMONTH,
      </if>
      <if test="agId != null">
        AG_ID,
      </if>
      <if test="agName != null">
        AG_NAME,
      </if>
      <if test="busNum != null">
        BUS_NUM,
      </if>
      <if test="busPlatform != null">
        BUS_PLATFORM,
      </if>
      <if test="machinesAmount != null">
        MACHINES_AMOUNT,
      </if>
      <if test="submitPerson != null">
        SUBMIT_PERSON,
      </if>
      <if test="submitTime != null">
        SUBMIT_TIME,
      </if>
      <if test="payMethod != null">
        PAY_METHOD,
      </if>
      <if test="ramount != null">
        RAMOUNT,
      </if>
      <if test="realRamount != null">
        REAL_RAMOUNT,
      </if>
      <if test="rstatus != null">
        RSTATUS,
      </if>
      <if test="finishTime != null">
        FINISH_TIME,
      </if>
      <if test="batchNum != null">
        BATCH_NUM,
      </if>
      <if test="rtype != null">
        RTYPE,
      </if>
      <if test="failCause != null">
        FAIL_CAUSE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rmonth != null">
        #{rmonth,jdbcType=TIMESTAMP},
      </if>
      <if test="agId != null">
        #{agId,jdbcType=VARCHAR},
      </if>
      <if test="agName != null">
        #{agName,jdbcType=VARCHAR},
      </if>
      <if test="busNum != null">
        #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="busPlatform != null">
        #{busPlatform,jdbcType=VARCHAR},
      </if>
      <if test="machinesAmount != null">
        #{machinesAmount,jdbcType=DECIMAL},
      </if>
      <if test="submitPerson != null">
        #{submitPerson,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMethod != null">
        #{payMethod,jdbcType=VARCHAR},
      </if>
      <if test="ramount != null">
        #{ramount,jdbcType=DECIMAL},
      </if>
      <if test="realRamount != null">
        #{realRamount,jdbcType=DECIMAL},
      </if>
      <if test="rstatus != null">
        #{rstatus,jdbcType=DECIMAL},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchNum != null">
        #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null">
        #{rtype,jdbcType=DECIMAL},
      </if>
      <if test="failCause != null">
        #{failCause,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccountExample" resultType="java.lang.Long">
    select count(*) from O_REMOVE_ACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccount">
    update O_REMOVE_ACCOUNT
    <set>
      <if test="rmonth != null">
        RMONTH = #{rmonth,jdbcType=TIMESTAMP},
      </if>
      <if test="agId != null">
        AG_ID = #{agId,jdbcType=VARCHAR},
      </if>
      <if test="agName != null">
        AG_NAME = #{agName,jdbcType=VARCHAR},
      </if>
      <if test="busNum != null">
        BUS_NUM = #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="busPlatform != null">
        BUS_PLATFORM = #{busPlatform,jdbcType=VARCHAR},
      </if>
      <if test="machinesAmount != null">
        MACHINES_AMOUNT = #{machinesAmount,jdbcType=DECIMAL},
      </if>
      <if test="submitPerson != null">
        SUBMIT_PERSON = #{submitPerson,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        SUBMIT_TIME = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMethod != null">
        PAY_METHOD = #{payMethod,jdbcType=VARCHAR},
      </if>
      <if test="ramount != null">
        RAMOUNT = #{ramount,jdbcType=DECIMAL},
      </if>
      <if test="realRamount != null">
        REAL_RAMOUNT = #{realRamount,jdbcType=DECIMAL},
      </if>
      <if test="rstatus != null">
        RSTATUS = #{rstatus,jdbcType=DECIMAL},
      </if>
      <if test="finishTime != null">
        FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchNum != null">
        BATCH_NUM = #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null">
        RTYPE = #{rtype,jdbcType=DECIMAL},
      </if>
      <if test="failCause != null">
        FAIL_CAUSE = #{failCause,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.order.ORemoveAccount">
    update O_REMOVE_ACCOUNT
    set RMONTH = #{rmonth,jdbcType=TIMESTAMP},
      AG_ID = #{agId,jdbcType=VARCHAR},
      AG_NAME = #{agName,jdbcType=VARCHAR},
      BUS_NUM = #{busNum,jdbcType=VARCHAR},
      BUS_PLATFORM = #{busPlatform,jdbcType=VARCHAR},
      MACHINES_AMOUNT = #{machinesAmount,jdbcType=DECIMAL},
      SUBMIT_PERSON = #{submitPerson,jdbcType=VARCHAR},
      SUBMIT_TIME = #{submitTime,jdbcType=TIMESTAMP},
      PAY_METHOD = #{payMethod,jdbcType=VARCHAR},
      RAMOUNT = #{ramount,jdbcType=DECIMAL},
      REAL_RAMOUNT = #{realRamount,jdbcType=DECIMAL},
      RSTATUS = #{rstatus,jdbcType=DECIMAL},
      FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP},
      BATCH_NUM = #{batchNum,jdbcType=VARCHAR},
      RTYPE = #{rtype,jdbcType=DECIMAL},
      FAIL_CAUSE = #{failCause,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <sql id="PAGING_START">
    <if test="begin != null  and end != null and end >0">
      SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
    </if>
  </sql>

  <sql id="PAGING_END">
    <if test="begin != null  and end != null and end >0">
      ) A WHERE ROWNUM &lt;= #{end} ) WHERE RN > #{begin}
    </if>
  </sql>


  <!--销账明细-->
  <select id="rAccountDetailList" parameterType="java.util.Map" resultType="java.util.Map">
    <include refid="PAGING_START" />
    select at.att_name,a.* from O_REMOVE_ACCOUNT a left join A_attachment_rel b on a.BATCH_NUM=b.src_id
    left join A_attachment at on at.id=b.ATT_ID
    where  1=1 <include refid="RACCOUNTDETAIL_WHERE_SQL"/> and b.status=1 and a.status=1 and at.status=1
    <include refid="PAGING_END" />
  </select>

  <select id="rAccountDetailCount" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(1) from O_REMOVE_ACCOUNT a left join A_attachment_rel b on a.BATCH_NUM=b.src_id
    left join A_attachment at on at.id=b.ATT_ID
    where 1=1<include refid="RACCOUNTDETAIL_WHERE_SQL"/> and b.status=1 and a.status=1 and at.status=1
  </select>

  <sql id="RACCOUNTDETAIL_WHERE_SQL">
    <if test="ag_name !=null and ag_name !='' ">
      and  a.AG_NAME LIKE CONCAT(CONCAT('%',#{ag_name}),'%')
    </if>
    <if test="busNum !=null and busNum !='' ">
      and  a.bus_num LIKE CONCAT(CONCAT('%',#{busNum}),'%')
    </if>
    <if test="id !=null and id !='' ">
      and  a.id LIKE CONCAT(CONCAT('%',#{id}),'%')
    </if>
    <if test="batch_num !=null and batch_num !='' ">
      and  a.BATCH_NUM LIKE CONCAT(CONCAT('%',#{batch_num}),'%')
    </if>
  </sql>
</mapper>