<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.dao.order.SettleAccountsMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.order.SettleAccounts">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="S_TYPE" jdbcType="DECIMAL" property="sType" />
    <result column="S_AMOUNT" jdbcType="DECIMAL" property="sAmount" />
    <result column="S_TM" jdbcType="TIMESTAMP" property="sTm" />
    <result column="S_STATUS" jdbcType="DECIMAL" property="sStatus" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="SRC_ID" jdbcType="VARCHAR" property="srcId" />
    <result column="TAR_ID" jdbcType="VARCHAR" property="tarId" />
    <result column="C_TM" jdbcType="TIMESTAMP" property="cTm" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="C_UTM" jdbcType="TIMESTAMP" property="cUtm" />
    <result column="C_OPERATOR" jdbcType="VARCHAR" property="cOperator" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, S_TYPE, S_AMOUNT, S_TM, S_STATUS, AGENT_ID, SRC_ID, TAR_ID, C_TM, C_USER, C_UTM, 
    C_OPERATOR, REMARK, STATUS, VERSION
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.pojo.admin.order.SettleAccountsExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from O_SETTLE_ACCOUNTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from O_SETTLE_ACCOUNTS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.order.SettleAccountsExample">
    delete from O_SETTLE_ACCOUNTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.order.SettleAccounts">
    insert into O_SETTLE_ACCOUNTS (ID, S_TYPE, S_AMOUNT, 
      S_TM, S_STATUS, AGENT_ID, 
      SRC_ID, TAR_ID, C_TM, 
      C_USER, C_UTM, C_OPERATOR, 
      REMARK, STATUS, VERSION
      )
    values (#{id,jdbcType=VARCHAR}, #{sType,jdbcType=DECIMAL}, #{sAmount,jdbcType=DECIMAL}, 
      #{sTm,jdbcType=TIMESTAMP}, #{sStatus,jdbcType=DECIMAL}, #{agentId,jdbcType=VARCHAR}, 
      #{srcId,jdbcType=VARCHAR}, #{tarId,jdbcType=VARCHAR}, #{cTm,jdbcType=TIMESTAMP}, 
      #{cUser,jdbcType=VARCHAR}, #{cUtm,jdbcType=TIMESTAMP}, #{cOperator,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.order.SettleAccounts">
    insert into O_SETTLE_ACCOUNTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sType != null">
        S_TYPE,
      </if>
      <if test="sAmount != null">
        S_AMOUNT,
      </if>
      <if test="sTm != null">
        S_TM,
      </if>
      <if test="sStatus != null">
        S_STATUS,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="srcId != null">
        SRC_ID,
      </if>
      <if test="tarId != null">
        TAR_ID,
      </if>
      <if test="cTm != null">
        C_TM,
      </if>
      <if test="cUser != null">
        C_USER,
      </if>
      <if test="cUtm != null">
        C_UTM,
      </if>
      <if test="cOperator != null">
        C_OPERATOR,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sType != null">
        #{sType,jdbcType=DECIMAL},
      </if>
      <if test="sAmount != null">
        #{sAmount,jdbcType=DECIMAL},
      </if>
      <if test="sTm != null">
        #{sTm,jdbcType=TIMESTAMP},
      </if>
      <if test="sStatus != null">
        #{sStatus,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="srcId != null">
        #{srcId,jdbcType=VARCHAR},
      </if>
      <if test="tarId != null">
        #{tarId,jdbcType=VARCHAR},
      </if>
      <if test="cTm != null">
        #{cTm,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="cUtm != null">
        #{cUtm,jdbcType=TIMESTAMP},
      </if>
      <if test="cOperator != null">
        #{cOperator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.order.SettleAccountsExample" resultType="java.lang.Long">
    select count(*) from O_SETTLE_ACCOUNTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.order.SettleAccounts">
    update O_SETTLE_ACCOUNTS
    <set>
      <if test="sType != null">
        S_TYPE = #{sType,jdbcType=DECIMAL},
      </if>
      <if test="sAmount != null">
        S_AMOUNT = #{sAmount,jdbcType=DECIMAL},
      </if>
      <if test="sTm != null">
        S_TM = #{sTm,jdbcType=TIMESTAMP},
      </if>
      <if test="sStatus != null">
        S_STATUS = #{sStatus,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="srcId != null">
        SRC_ID = #{srcId,jdbcType=VARCHAR},
      </if>
      <if test="tarId != null">
        TAR_ID = #{tarId,jdbcType=VARCHAR},
      </if>
      <if test="cTm != null">
        C_TM = #{cTm,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="cUtm != null">
        C_UTM = #{cUtm,jdbcType=TIMESTAMP},
      </if>
      <if test="cOperator != null">
        C_OPERATOR = #{cOperator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.order.SettleAccounts">
    update O_SETTLE_ACCOUNTS
    set S_TYPE = #{sType,jdbcType=DECIMAL},
      S_AMOUNT = #{sAmount,jdbcType=DECIMAL},
      S_TM = #{sTm,jdbcType=TIMESTAMP},
      S_STATUS = #{sStatus,jdbcType=DECIMAL},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      SRC_ID = #{srcId,jdbcType=VARCHAR},
      TAR_ID = #{tarId,jdbcType=VARCHAR},
      C_TM = #{cTm,jdbcType=TIMESTAMP},
      C_USER = #{cUser,jdbcType=VARCHAR},
      C_UTM = #{cUtm,jdbcType=TIMESTAMP},
      C_OPERATOR = #{cOperator,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>