<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.bank.BankLineNumMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.bank.BankLineNum" >
    <result column="ALL_LINE_NUM" property="allLineNum" jdbcType="VARCHAR" />
    <result column="BRANCH_LINE_NUM" property="branchLineNum" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR" />
    <result column="ORG_FULL_NAME" property="orgFullName" jdbcType="VARCHAR" />
    <result column="ORG_SHORT_NAME" property="orgShortName" jdbcType="VARCHAR" />
    <result column="BANK_ID" property="bankId" jdbcType="DECIMAL" />
    <result column="PAY_SYSTEM" property="paySystem" jdbcType="VARCHAR" />
    <result column="BANK_SITE" property="bankSite" jdbcType="VARCHAR" />
    <result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
    <result column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR" />
    <result column="DATA_SOURCES" property="dataSources" jdbcType="VARCHAR" />
    <result column="TASK_NUM" property="taskNum" jdbcType="VARCHAR" />
    <result column="TAKE_TIME" property="takeTime" jdbcType="TIMESTAMP" />
    <result column="LOSE_TIME" property="loseTime" jdbcType="TIMESTAMP" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ALL_LINE_NUM, BRANCH_LINE_NUM, STATUS, REGION_CODE, ORG_FULL_NAME, ORG_SHORT_NAME, 
    BANK_ID, PAY_SYSTEM, BANK_SITE, POST_CODE, PHONE_NUM, DATA_SOURCES, TASK_NUM, TAKE_TIME, 
    LOSE_TIME, BEGIN_TIME, END_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.bank.BankLineNumExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_BANK_LINE_NUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.bank.BankLineNumExample" >
    delete from D_BANK_LINE_NUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.bank.BankLineNum" >
    insert into D_BANK_LINE_NUM (ALL_LINE_NUM, BRANCH_LINE_NUM, STATUS, 
      REGION_CODE, ORG_FULL_NAME, ORG_SHORT_NAME, 
      BANK_ID, PAY_SYSTEM, BANK_SITE, 
      POST_CODE, PHONE_NUM, DATA_SOURCES, 
      TASK_NUM, TAKE_TIME, LOSE_TIME, 
      BEGIN_TIME, END_TIME)
    values (#{allLineNum,jdbcType=VARCHAR}, #{branchLineNum,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{regionCode,jdbcType=VARCHAR}, #{orgFullName,jdbcType=VARCHAR}, #{orgShortName,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=DECIMAL}, #{paySystem,jdbcType=VARCHAR}, #{bankSite,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{dataSources,jdbcType=VARCHAR}, 
      #{taskNum,jdbcType=VARCHAR}, #{takeTime,jdbcType=TIMESTAMP}, #{loseTime,jdbcType=TIMESTAMP}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.bank.BankLineNum" >
    insert into D_BANK_LINE_NUM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="allLineNum != null" >
        ALL_LINE_NUM,
      </if>
      <if test="branchLineNum != null" >
        BRANCH_LINE_NUM,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="regionCode != null" >
        REGION_CODE,
      </if>
      <if test="orgFullName != null" >
        ORG_FULL_NAME,
      </if>
      <if test="orgShortName != null" >
        ORG_SHORT_NAME,
      </if>
      <if test="bankId != null" >
        BANK_ID,
      </if>
      <if test="paySystem != null" >
        PAY_SYSTEM,
      </if>
      <if test="bankSite != null" >
        BANK_SITE,
      </if>
      <if test="postCode != null" >
        POST_CODE,
      </if>
      <if test="phoneNum != null" >
        PHONE_NUM,
      </if>
      <if test="dataSources != null" >
        DATA_SOURCES,
      </if>
      <if test="taskNum != null" >
        TASK_NUM,
      </if>
      <if test="takeTime != null" >
        TAKE_TIME,
      </if>
      <if test="loseTime != null" >
        LOSE_TIME,
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="allLineNum != null" >
        #{allLineNum,jdbcType=VARCHAR},
      </if>
      <if test="branchLineNum != null" >
        #{branchLineNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="orgFullName != null" >
        #{orgFullName,jdbcType=VARCHAR},
      </if>
      <if test="orgShortName != null" >
        #{orgShortName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=DECIMAL},
      </if>
      <if test="paySystem != null" >
        #{paySystem,jdbcType=VARCHAR},
      </if>
      <if test="bankSite != null" >
        #{bankSite,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="dataSources != null" >
        #{dataSources,jdbcType=VARCHAR},
      </if>
      <if test="taskNum != null" >
        #{taskNum,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null" >
        #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loseTime != null" >
        #{loseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.bank.BankLineNumExample" resultType="java.lang.Integer" >
    select count(*) from D_BANK_LINE_NUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>