<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.profit.dao.BalanceApprovalMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.BalanceApproval">
    <result column="BALANCE_ID" jdbcType="VARCHAR" property="balanceId" />
    <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo" />
    <result column="SETTLE_MONTH" jdbcType="VARCHAR" property="settleMonth" />
    <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate" />
    <result column="APPLY_USER" jdbcType="VARCHAR" property="applyUser" />
    <result column="APPLY_TIME" jdbcType="VARCHAR" property="applyTime" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="BUS_CODE" jdbcType="VARCHAR" property="busCode" />
    <result column="REQUEST_NO" jdbcType="VARCHAR" property="requestNo" />
    <result column="BALANCE_AMT" jdbcType="DECIMAL" property="balanceAmt" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="BALANCE_REMARK" jdbcType="VARCHAR" property="balanceRemark" />
    <result column="BALANCE_ACCT_NO" jdbcType="VARCHAR" property="balanceAcctNo" />
    <result column="BALANCE_ACCT_NAME" jdbcType="VARCHAR" property="balanceAcctName" />
    <result column="BALANCE_BANK_NO" jdbcType="VARCHAR" property="balanceBankNo" />
    <result column="BALANCE_BANK_NAME" jdbcType="VARCHAR" property="balanceBankName" />
    <result column="REALITY_AG_ID" jdbcType="VARCHAR" property="realityAgId" />
    <result column="REALITY_AG_NAME" jdbcType="VARCHAR" property="realityAgName" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    P.BALANCE_ID, P.BATCH_NO, P.SETTLE_MONTH, P.APPLY_DATE, P.APPLY_USER, P.APPLY_TIME, P.AGENT_ID,
        P.AGENT_NAME, P.BUS_CODE, P.REQUEST_NO, P.BALANCE_AMT, P.APPROVAL_STATUS, P.BALANCE_REMARK,
           NVL(P.BALANCE_ACCT_NO,
              CASE  WHEN P.BUS_CODE = '6000' THEN AC600.BANKCODE
              ELSE C.CLO_BANK_ACCOUNT
              END) AS BALANCE_ACCT_NO,
           NVL(P.BALANCE_ACCT_NAME,
              CASE  WHEN P.BUS_CODE = '6000' THEN AC600.ACCOUNTNAME
              ELSE C.CLO_REALNAME
              END) AS BALANCE_ACCT_NAME,
           NVL(P.BALANCE_BANK_NO,
              CASE  WHEN P.BUS_CODE = '6000' THEN AC600.BANKID
              ELSE C.BRANCH_LINE_NUM
              END) AS BALANCE_BANK_NO,
           NVL(P.BALANCE_BANK_NAME,
              CASE  WHEN P.BUS_CODE = '6000' THEN AC600.ACCOUNTBANK
              ELSE C.CLO_BANK_BRANCH
              END) AS BALANCE_BANK_NAME,
        P.REALITY_AG_ID, P.REALITY_AG_NAME, P.END_TIME
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.profit.pojo.BalanceApprovalExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_BALANCE_APPROVAL P
        LEFT JOIN A_AGENT_COLINFO C ON P.REALITY_AG_ID=C.AGENT_ID
        LEFT JOIN (SELECT A.AGENCYID,A.BANKCODE,A.ACCOUNTNAME,A.ACCOUNTBANK,A.BANKID FROM RYX_AGENCYBANKINFO A WHERE A.AGENCYID LIKE '600%'
        UNION ALL
        SELECT A.AGENCY_ID AGENCYID,A.BANKCODE,A.ACCOUNTNAME,A.ACCOUNTBANK,A.BANKID FROM QT1TBLAGENCY A WHERE NOT EXISTS (
        SELECT 1 FROM RYX_AGENCYBANKINFO RABI WHERE RABI.AGENCYID LIKE '600%' AND  RABI.AGENCYID=A.AGENCY_ID
        ) AND A.BANKID IS NOT NULL AND A.BANKCODE IS NOT NULL AND A.ACCOUNTNAME IS NOT NULL
        AND LENGTH(A.BANKID)=12 AND LENGTH(A.ACCOUNTNAME)>=2) AC600 ON P.REALITY_AG_ID = AC600.AGENCYID
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.BalanceApprovalExample">
    delete from P_BALANCE_APPROVAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.BalanceApproval">
    insert into P_BALANCE_APPROVAL (BALANCE_ID, BATCH_NO, SETTLE_MONTH, 
      APPLY_DATE, APPLY_USER, APPLY_TIME, 
      AGENT_ID, AGENT_NAME, BUS_CODE,
      REQUEST_NO, BALANCE_AMT, APPROVAL_STATUS,
      BALANCE_REMARK, BALANCE_ACCT_NO, BALANCE_ACCT_NAME,
      BALANCE_BANK_NO, BALANCE_BANK_NAME, REALITY_AG_ID,
      REALITY_AG_NAME, END_TIME)
    values (#{balanceId,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, #{settleMonth,jdbcType=VARCHAR}, 
      #{applyDate,jdbcType=VARCHAR}, #{applyUser,jdbcType=VARCHAR}, #{applyTime,jdbcType=VARCHAR}, 
      #{agentId,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, #{busCode,jdbcType=VARCHAR},
      #{requestNo,jdbcType=VARCHAR}, #{balanceAmt,jdbcType=DECIMAL}, #{approvalStatus,jdbcType=VARCHAR}, 
      #{balanceRemark,jdbcType=VARCHAR}, #{balanceAcctNo,jdbcType=VARCHAR}, #{balanceAcctName,jdbcType=VARCHAR},
      #{balanceBankNo,jdbcType=VARCHAR}, #{balanceBankName,jdbcType=VARCHAR}, #{realityAgId,jdbcType=VARCHAR},
      #{realityAgName,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.BalanceApproval">
    insert into P_BALANCE_APPROVAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="balanceId != null">
        BALANCE_ID,
      </if>
      <if test="batchNo != null">
        BATCH_NO,
      </if>
      <if test="settleMonth != null">
        SETTLE_MONTH,
      </if>
      <if test="applyDate != null">
        APPLY_DATE,
      </if>
      <if test="applyUser != null">
        APPLY_USER,
      </if>
      <if test="applyTime != null">
        APPLY_TIME,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="busCode != null">
        BUS_CODE,
      </if>
      <if test="requestNo != null">
        REQUEST_NO,
      </if>
      <if test="balanceAmt != null">
        BALANCE_AMT,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="balanceRemark != null">
        BALANCE_REMARK,
      </if>
      <if test="balanceAcctNo != null">
        BALANCE_ACCT_NO,
      </if>
      <if test="balanceAcctName != null">
        BALANCE_ACCT_NAME,
      </if>
      <if test="balanceBankNo != null">
        BALANCE_BANK_NO,
      </if>
      <if test="balanceBankName != null">
        BALANCE_BANK_NAME,
      </if>
      <if test="realityAgId != null">
        REALITY_AG_ID,
      </if>
      <if test="realityAgName != null">
        REALITY_AG_NAME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="balanceId != null">
        #{balanceId,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="settleMonth != null">
        #{settleMonth,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null">
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="busCode != null">
        #{busCode,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="balanceAmt != null">
        #{balanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=VARCHAR},
      </if>
      <if test="balanceRemark != null">
        #{balanceRemark,jdbcType=VARCHAR},
      </if>
      <if test="balanceAcctNo != null">
        #{balanceAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="balanceAcctName != null">
        #{balanceAcctName,jdbcType=VARCHAR},
      </if>
      <if test="balanceBankNo != null">
        #{balanceBankNo,jdbcType=VARCHAR},
      </if>
      <if test="balanceBankName != null">
        #{balanceBankName,jdbcType=VARCHAR},
      </if>
      <if test="realityAgId != null">
        #{realityAgId,jdbcType=VARCHAR},
      </if>
      <if test="realityAgName != null">
        #{realityAgName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.BalanceApprovalExample" resultType="java.lang.Long">
    select count(*) from P_BALANCE_APPROVAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <!--以上为生成SQL-->

  <select id="queryDetailByBatchNo" resultType="java.util.Map" parameterType="java.lang.String">
    select BALANCE_ID, BATCH_NO, SETTLE_MONTH, APPLY_DATE, APPLY_USER, APPLY_TIME, AGENT_ID,
           AGENT_NAME, BUS_CODE, REQUEST_NO, BALANCE_AMT, APPROVAL_STATUS, BALANCE_REMARK
    from P_BALANCE_APPROVAL
    where BATCH_NO = #{batchNo,jdbcType=VARCHAR}
  </select>

  <update id="updateAgentPayByBalanceIdAndBatchNo">
    update P_BALANCE_APPROVAL set APPROVAL_STATUS = #{approvalStatus,jdbcType=VARCHAR}
    where 1=1
    <if test="balanceId != null and balanceId != ''">
      and BALANCE_ID = #{balanceId,jdbcType=VARCHAR}
    </if>
       and BATCH_NO = #{batchNo,jdbcType=VARCHAR}
  </update>

  <update id="updateBalanceApproval">
    update P_BALANCE_APPROVAL set APPROVAL_STATUS = #{approvalStatus,jdbcType=VARCHAR}
    where 1=1 and BATCH_NO = #{batchNo,jdbcType=VARCHAR}
    <if test="originalStatus != null and originalStatus != ''">
      and APPROVAL_STATUS= #{originalStatus,jdbcType=VARCHAR}
    </if>
  </update>

  <select id="getBalanceApprovalList" resultType="java.util.Map" parameterType="com.ryx.credit.profit.pojo.BalanceApproval">
    SELECT CASE  WHEN PBA.REQUEST_NO = '77' THEN '第一次导入'
        WHEN PBA.REQUEST_NO = '88' THEN '第二次导入'
        WHEN PBA.REQUEST_NO = '99' THEN '第三次导入'
        ELSE '数据错误'
    END AS REQUEST_NO,
    CASE  WHEN C.CLO_TYPE = '1' THEN '1'
        ELSE '0'
    END AS CLO_TYPE,
    PBA.BALANCE_ID, PBA.BATCH_NO, PBA.APPLY_DATE,
    PBA.APPLY_USER, PBA.APPLY_TIME, PBA.SETTLE_MONTH, PBA.AGENT_ID,
    PBA.AGENT_NAME, PBA.BUS_CODE, AP.PLATFORM_NAME AS BUS_NAME,
    PBA.BALANCE_AMT,PBA.REQUEST_NO AS REQUEST_NO_TEMP,
    NVL(PBA.BALANCE_ACCT_NO,
      CASE  WHEN PBA.BUS_CODE = '6000' THEN AC600.BANKCODE
          ELSE C.CLO_BANK_ACCOUNT
      END) AS BALANCE_ACCT_NO,
    NVL(PBA.BALANCE_ACCT_NAME,
      CASE  WHEN PBA.BUS_CODE = '6000' THEN AC600.ACCOUNTNAME
        ELSE C.CLO_REALNAME
      END) AS BALANCE_ACCT_NAME,
    NVL(PBA.BALANCE_BANK_NO,
      CASE  WHEN PBA.BUS_CODE = '6000' THEN AC600.BANKID
        ELSE C.CLO_BANK_BRANCH
      END) AS BALANCE_BANK_NO,
    NVL(PBA.BALANCE_BANK_NAME,
      CASE  WHEN PBA.BUS_CODE = '6000' THEN AC600.ACCOUNTBANK
        ELSE C.CLO_BANK
      END) AS BALANCE_BANK_NAME,
    PBA.APPROVAL_STATUS,PBA.REALITY_AG_ID, PBA.REALITY_AG_NAME,C.VARSION
    FROM P_BALANCE_APPROVAL PBA
    LEFT JOIN A_PLATFORM AP ON PBA.BUS_CODE = AP.PLATFORM_NUM
    LEFT JOIN A_AGENT_COLINFO C ON PBA.REALITY_AG_ID=C.AGENT_ID
    LEFT JOIN (SELECT A.AGENCYID,A.BANKCODE,A.ACCOUNTNAME,A.ACCOUNTBANK,A.BANKID FROM RYX_AGENCYBANKINFO A WHERE A.AGENCYID LIKE '600%'
      UNION ALL
      SELECT A.AGENCY_ID AGENCYID,A.BANKCODE,A.ACCOUNTNAME,A.ACCOUNTBANK,A.BANKID FROM QT1TBLAGENCY A WHERE NOT EXISTS (
      SELECT 1 FROM RYX_AGENCYBANKINFO RABI WHERE RABI.AGENCYID LIKE '600%' AND  RABI.AGENCYID=A.AGENCY_ID
      ) AND A.BANKID IS NOT NULL AND A.BANKCODE IS NOT NULL AND A.ACCOUNTNAME IS NOT NULL
      AND LENGTH(A.BANKID)=12 AND LENGTH(A.ACCOUNTNAME)>=2) AC600 ON PBA.REALITY_AG_ID = AC600.AGENCYID
    WHERE 1=1
    <if test="approvalStatus != null and approvalStatus != ''">
      and APPROVAL_STATUS != #{approvalStatus,jdbcType=VARCHAR}
    </if>
    <if test="agentId != null and agentId != ''">
      and PBA.AGENT_ID = #{agentId,jdbcType=VARCHAR}
    </if>
    <if test="agentName != null and agentName != ''">
      and AGENT_NAME = #{agentName,jdbcType=VARCHAR}
    </if>
    <if test="settleMonth != null and settleMonth != ''">
      and SETTLE_MONTH = #{settleMonth,jdbcType=VARCHAR}
    </if>
    <if test="busCode != null and busCode != ''">
      and BUS_CODE = #{busCode,jdbcType=VARCHAR}
    </if>
    <if test="requestNo != null and requestNo != ''">
      and REQUEST_NO = #{requestNo,jdbcType=VARCHAR}
    </if>
    <if test="balanceId != null and balanceId != ''">
      and BALANCE_ID = #{balanceId,jdbcType=VARCHAR}
    </if>
    <if test="batchNo != null and batchNo != ''">
      and BATCH_NO = #{batchNo,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="updateBalanceApprovalAcct" parameterType="com.ryx.credit.profit.pojo.BalanceApproval">
    update P_BALANCE_APPROVAL
    set BALANCE_BANK_NO = #{balanceBankNo,jdbcType=VARCHAR},
        BALANCE_BANK_NAME = #{balanceBankName,jdbcType=VARCHAR},
        BALANCE_ACCT_NAME = #{balanceAcctName,jdbcType=VARCHAR},
        BALANCE_ACCT_NO = #{balanceAcctNo,jdbcType=VARCHAR},
        END_TIME = #{endTime,jdbcType=VARCHAR}
    where BALANCE_ID = #{balanceId,jdbcType=VARCHAR}
  </update>

  <select id="countAmtByBatchNo" parameterType="com.ryx.credit.profit.pojo.BalanceApprovalExample" resultType="java.math.BigDecimal">
    select sum(nvl(BALANCE_AMT,0)) as approvalConutAmt from P_BALANCE_APPROVAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>