<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.profit.dao.BuckleRunMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.BuckleRun">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BEAR_AGENT_ID" jdbcType="VARCHAR" property="bearAgentId" />
    <result column="BEAR_AGENT_PID" jdbcType="VARCHAR" property="bearAgentPid" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="RUN_LEVEL" jdbcType="VARCHAR" property="runLevel" />
    <result column="RUN_AMT" jdbcType="DECIMAL" property="runAmt" />
    <result column="SUPPLY_AMT" jdbcType="DECIMAL" property="supplyAmt" />
    <result column="RUN_DATE" jdbcType="VARCHAR" property="runDate" />
    <result column="RUN_STATUS" jdbcType="VARCHAR" property="runStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BEAR_AGENT_ID, BEAR_AGENT_PID, AGENT_ID, RUN_LEVEL, RUN_AMT, SUPPLY_AMT, RUN_DATE, 
    RUN_STATUS
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.profit.pojo.BuckleRunExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_BUCKLE_RUN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P_BUCKLE_RUN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.BuckleRunExample">
    delete from P_BUCKLE_RUN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.BuckleRun">
    insert into P_BUCKLE_RUN (ID, BEAR_AGENT_ID, BEAR_AGENT_PID, 
      AGENT_ID, RUN_LEVEL, RUN_AMT, 
      SUPPLY_AMT, RUN_DATE, RUN_STATUS
      )
    values (#{id,jdbcType=VARCHAR}, #{bearAgentId,jdbcType=VARCHAR}, #{bearAgentPid,jdbcType=VARCHAR}, 
      #{agentId,jdbcType=VARCHAR}, #{runLevel,jdbcType=VARCHAR}, #{runAmt,jdbcType=DECIMAL}, 
      #{supplyAmt,jdbcType=DECIMAL}, #{runDate,jdbcType=VARCHAR}, #{runStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.BuckleRun">
    insert into P_BUCKLE_RUN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bearAgentId != null">
        BEAR_AGENT_ID,
      </if>
      <if test="bearAgentPid != null">
        BEAR_AGENT_PID,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="runLevel != null">
        RUN_LEVEL,
      </if>
      <if test="runAmt != null">
        RUN_AMT,
      </if>
      <if test="supplyAmt != null">
        SUPPLY_AMT,
      </if>
      <if test="runDate != null">
        RUN_DATE,
      </if>
      <if test="runStatus != null">
        RUN_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bearAgentId != null">
        #{bearAgentId,jdbcType=VARCHAR},
      </if>
      <if test="bearAgentPid != null">
        #{bearAgentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="runLevel != null">
        #{runLevel,jdbcType=VARCHAR},
      </if>
      <if test="runAmt != null">
        #{runAmt,jdbcType=DECIMAL},
      </if>
      <if test="supplyAmt != null">
        #{supplyAmt,jdbcType=DECIMAL},
      </if>
      <if test="runDate != null">
        #{runDate,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null">
        #{runStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.BuckleRunExample" resultType="java.lang.Long">
    select count(*) from P_BUCKLE_RUN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="getSumRunAmt" parameterType="java.lang.String" resultType="java.math.BigDecimal">
    select SUM(RUN_AMT-SUPPLY_AMT) from P_BUCKLE_RUN where AGENT_ID = #{agentId,jdbcType=VARCHAR}
  </select>


  <select id="selectListByAgentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from P_BUCKLE_RUN where AGENT_ID = #{agentId,jdbcType=VARCHAR} AND RUN_STATUS='0' ORDER BY RUN_LEVEL DESC
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.BuckleRun">
    update P_BUCKLE_RUN
    <set>
      <if test="bearAgentId != null">
        BEAR_AGENT_ID = #{bearAgentId,jdbcType=VARCHAR},
      </if>
      <if test="bearAgentPid != null">
        BEAR_AGENT_PID = #{bearAgentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="runLevel != null">
        RUN_LEVEL = #{runLevel,jdbcType=VARCHAR},
      </if>
      <if test="runAmt != null">
        RUN_AMT = #{runAmt,jdbcType=DECIMAL},
      </if>
      <if test="supplyAmt != null">
        SUPPLY_AMT = #{supplyAmt,jdbcType=DECIMAL},
      </if>
      <if test="runDate != null">
        RUN_DATE = #{runDate,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null">
        RUN_STATUS = #{runStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.profit.pojo.BuckleRun">
    update P_BUCKLE_RUN
    set BEAR_AGENT_ID = #{bearAgentId,jdbcType=VARCHAR},
      BEAR_AGENT_PID = #{bearAgentPid,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      RUN_LEVEL = #{runLevel,jdbcType=VARCHAR},
      RUN_AMT = #{runAmt,jdbcType=DECIMAL},
      SUPPLY_AMT = #{supplyAmt,jdbcType=DECIMAL},
      RUN_DATE = #{runDate,jdbcType=VARCHAR},
      RUN_STATUS = #{runStatus,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

</mapper>