<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.profit.dao.PAgentMergeMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.PAgentMerge">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MAIN_AGENT_ID" jdbcType="VARCHAR" property="mainAgentId" />
    <result column="SUB_AGENT_ID" jdbcType="VARCHAR" property="subAgentId" />
    <result column="MERGE_DATE" jdbcType="VARCHAR" property="mergeDate" />
    <result column="MERGE_STATUS" jdbcType="VARCHAR" property="mergeStatus" />
    <result column="MAIN_AGENT_NAME" jdbcType="VARCHAR" property="mainAgentName" />
    <result column="SUB_AGENT_NAME" jdbcType="VARCHAR" property="subAgentName" />
    <result column="MAIN_HEAD" jdbcType="VARCHAR" property="mainHead" />
    <result column="MAIN_HEAD_MOBILE" jdbcType="VARCHAR" property="mainHeadMobile" />
    <result column="SUBN_HEAD" jdbcType="VARCHAR" property="subnHead" />
    <result column="SUB_HEAD_MOBILE" jdbcType="VARCHAR" property="subHeadMobile" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MAIN_AGENT_ID, SUB_AGENT_ID, MERGE_DATE, MERGE_STATUS, MAIN_AGENT_NAME, SUB_AGENT_NAME, 
    MAIN_HEAD, MAIN_HEAD_MOBILE, SUBN_HEAD, SUB_HEAD_MOBILE
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.profit.pojo.PAgentMergeExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_AGENT_MERGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from P_AGENT_MERGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectBySubAgentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from P_AGENT_MERGE
    WHERE SUB_AGENT_ID = #{subAgentId,jdbcType=VARCHAR} AND
    (MERGE_STATUS = 'Approved' OR MERGE_STATUS = 'Create' OR MERGE_STATUS = 'Approving')
  </select>

  <select id="selectByAgentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from P_AGENT_MERGE
    WHERE MERGE_STATUS = 'Approved' AND (SUB_AGENT_ID = #{subAgentId,jdbcType=VARCHAR} OR MAIN_AGENT_ID = #{subAgentId,jdbcType=VARCHAR})
  </select>

  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.PAgentMergeExample">
    delete from P_AGENT_MERGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.PAgentMerge">
    insert into P_AGENT_MERGE (ID, MAIN_AGENT_ID, SUB_AGENT_ID, 
      MERGE_DATE, MERGE_STATUS, MAIN_AGENT_NAME, 
      SUB_AGENT_NAME, MAIN_HEAD, MAIN_HEAD_MOBILE, 
      SUBN_HEAD, SUB_HEAD_MOBILE)
    values (#{id,jdbcType=VARCHAR}, #{mainAgentId,jdbcType=VARCHAR}, #{subAgentId,jdbcType=VARCHAR}, 
      #{mergeDate,jdbcType=VARCHAR}, #{mergeStatus,jdbcType=VARCHAR}, #{mainAgentName,jdbcType=VARCHAR}, 
      #{subAgentName,jdbcType=VARCHAR}, #{mainHead,jdbcType=VARCHAR}, #{mainHeadMobile,jdbcType=VARCHAR}, 
      #{subnHead,jdbcType=VARCHAR}, #{subHeadMobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.PAgentMerge">
    insert into P_AGENT_MERGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="mainAgentId != null">
        MAIN_AGENT_ID,
      </if>
      <if test="subAgentId != null">
        SUB_AGENT_ID,
      </if>
      <if test="mergeDate != null">
        MERGE_DATE,
      </if>
      <if test="mergeStatus != null">
        MERGE_STATUS,
      </if>
      <if test="mainAgentName != null">
        MAIN_AGENT_NAME,
      </if>
      <if test="subAgentName != null">
        SUB_AGENT_NAME,
      </if>
      <if test="mainHead != null">
        MAIN_HEAD,
      </if>
      <if test="mainHeadMobile != null">
        MAIN_HEAD_MOBILE,
      </if>
      <if test="subnHead != null">
        SUBN_HEAD,
      </if>
      <if test="subHeadMobile != null">
        SUB_HEAD_MOBILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainAgentId != null">
        #{mainAgentId,jdbcType=VARCHAR},
      </if>
      <if test="subAgentId != null">
        #{subAgentId,jdbcType=VARCHAR},
      </if>
      <if test="mergeDate != null">
        #{mergeDate,jdbcType=VARCHAR},
      </if>
      <if test="mergeStatus != null">
        #{mergeStatus,jdbcType=VARCHAR},
      </if>
      <if test="mainAgentName != null">
        #{mainAgentName,jdbcType=VARCHAR},
      </if>
      <if test="subAgentName != null">
        #{subAgentName,jdbcType=VARCHAR},
      </if>
      <if test="mainHead != null">
        #{mainHead,jdbcType=VARCHAR},
      </if>
      <if test="mainHeadMobile != null">
        #{mainHeadMobile,jdbcType=VARCHAR},
      </if>
      <if test="subnHead != null">
        #{subnHead,jdbcType=VARCHAR},
      </if>
      <if test="subHeadMobile != null">
        #{subHeadMobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.PAgentMergeExample" resultType="java.lang.Long">
    select count(*) from P_AGENT_MERGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <select id="getProfitAgentMergeCount" parameterType="java.util.Map" resultType="java.lang.Long">
    SELECT COUNT(1)
    FROM P_AGENT_MERGE
    <!--<include refid="BASE_WHERE_SQL" />-->
  </select>

  <select id="getProfitAgentMergeList" parameterType="java.util.Map" resultType="java.util.Map">
    <include refid="PAGING_START" />
    SELECT
    <include refid="Base_Column_List" />
    FROM P_AGENT_MERGE
    <!--<include refid="BASE_WHERE_SQL" />-->
    <!--<include refid="SORTING" />-->
    <include refid="PAGING_END" />
  </select>
  <sql id="PAGING_START">
    <if test="begin != null  and end != null and end &gt;0">
      SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
    </if>
  </sql>

  <sql id="PAGING_END">
    <if test="begin != null  and end != null and end &gt;0">
      ) A WHERE ROWNUM &lt;= #{end} ) WHERE RN &gt; #{begin}
    </if>
  </sql>
<!--  <sql id="BASE_WHERE_SQL">
    <where>
      <trim prefixOverrides="and">
        <if test="AGENT_NAME != null and AGENT_NAME !=''">AND AGENT_NAME = #{AGENT_NAME}</if>
        <if test="AGENT_ID != null and AGENT_ID != ''">AND AGENT_ID = #{AGENT_ID}</if>
      </trim>
    </where>
  </sql>-->

  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.PAgentMerge">
    update P_AGENT_MERGE
    <set>
      <if test="mainAgentId != null">
        MAIN_AGENT_ID = #{mainAgentId,jdbcType=VARCHAR},
      </if>
      <if test="subAgentId != null">
        SUB_AGENT_ID = #{subAgentId,jdbcType=VARCHAR},
      </if>
      <if test="mergeDate != null">
        MERGE_DATE = #{mergeDate,jdbcType=VARCHAR},
      </if>
      <if test="mergeStatus != null">
        MERGE_STATUS = #{mergeStatus,jdbcType=VARCHAR},
      </if>
      <if test="mainAgentName != null">
        MAIN_AGENT_NAME = #{mainAgentName,jdbcType=VARCHAR},
      </if>
      <if test="subAgentName != null">
        SUB_AGENT_NAME = #{subAgentName,jdbcType=VARCHAR},
      </if>
      <if test="mainHead != null">
        MAIN_HEAD = #{mainHead,jdbcType=VARCHAR},
      </if>
      <if test="mainHeadMobile != null">
        MAIN_HEAD_MOBILE = #{mainHeadMobile,jdbcType=VARCHAR},
      </if>
      <if test="subnHead != null">
        SUBN_HEAD = #{subnHead,jdbcType=VARCHAR},
      </if>
      <if test="subHeadMobile != null">
        SUB_HEAD_MOBILE = #{subHeadMobile,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--根据agentId查询平台编号-->
  <select id="getByBusPlatform" parameterType="map" resultMap="BusInfoMap">
    SELECT * FROM A_AGENT_BUSINFO
    WHERE AGENT_ID = #{agentId,jdbcType=VARCHAR}
    AND (BUS_PLATFORM = '100002' OR BUS_PLATFORM = '100003')
  </select>

  <resultMap id="BusInfoMap" type="com.ryx.credit.pojo.admin.agent.AgentBusInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="BUS_PLATFORM" jdbcType="VARCHAR" property="busPlatform" />
    <result column="BUS_TYPE" jdbcType="VARCHAR" property="busType" />
    <result column="BUS_PARENT" jdbcType="VARCHAR" property="busParent" />
    <result column="BUS_RISK_PARENT" jdbcType="VARCHAR" property="busRiskParent" />
    <result column="BUS_ACTIVATION_PARENT" jdbcType="VARCHAR" property="busActivationParent" />
    <result column="BUS_REGION" jdbcType="VARCHAR" property="busRegion" />
    <result column="BUS_SENT_DIRECTLY" jdbcType="DECIMAL" property="busSentDirectly" />
    <result column="BUS_DIRECT_CASHBACK" jdbcType="DECIMAL" property="busDirectCashback" />
    <result column="BUS_INDE_ASS" jdbcType="DECIMAL" property="busIndeAss" />
    <result column="BUS_CONTACT" jdbcType="VARCHAR" property="busContact" />
    <result column="BUS_CONTACT_MOBILE" jdbcType="VARCHAR" property="busContactMobile" />
    <result column="BUS_CONTACT_EMAIL" jdbcType="VARCHAR" property="busContactEmail" />
    <result column="BUS_CONTACT_PERSON" jdbcType="VARCHAR" property="busContactPerson" />
    <result column="BUS_RISK_EMAIL" jdbcType="VARCHAR" property="busRiskEmail" />
    <result column="CLO_TAX_POINT" jdbcType="DECIMAL" property="cloTaxPoint" />
    <result column="CLO_INVOICE" jdbcType="DECIMAL" property="cloInvoice" />
    <result column="CLO_RECEIPT" jdbcType="DECIMAL" property="cloReceipt" />
    <result column="CLO_PAY_COMPANY" jdbcType="VARCHAR" property="cloPayCompany" />
    <result column="CLO_AGENT_COLINFO" jdbcType="VARCHAR" property="cloAgentColinfo" />
    <result column="BUS_STATUS" jdbcType="DECIMAL" property="busStatus" />
    <result column="CLO_REVIEW_STATUS" jdbcType="DECIMAL" property="cloReviewStatus" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="C_UTIME" jdbcType="TIMESTAMP" property="cUtime" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="AG_ZBH" jdbcType="VARCHAR" property="agZbh" />
    <result column="BUS_USE_ORGAN" jdbcType="VARCHAR" property="busUseOrgan" />
    <result column="BUS_SCOPE" jdbcType="VARCHAR" property="busScope" />
    <result column="DREDGE_S0" jdbcType="DECIMAL" property="dredgeS0" />
    <result column="BUS_LOGIN_NUM" jdbcType="VARCHAR" property="busLoginNum" />
  </resultMap>

</mapper>