<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.profit.dao.PosRewardMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.PosReward">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AGENT_PID" jdbcType="VARCHAR" property="agentPid" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="TOTAL_CONS_MONTH" jdbcType="VARCHAR" property="totalConsMonth" />
    <result column="GROW_AMT" jdbcType="DECIMAL" property="growAmt" />
    <result column="CREDIT_CONS_MONTH" jdbcType="VARCHAR" property="creditConsMonth" />
    <result column="REWARD_SCALE" jdbcType="DECIMAL" property="rewardScale" />
    <result column="APPLY_STATUS" jdbcType="CHAR" property="applyStatus" />
    <result column="TOTAL_END_MONTH" jdbcType="VARCHAR" property="totalEndMonth" />
    <result column="MACHINERY_NUM" jdbcType="NUMERIC" property="machineryNum" />
    <result column="CREATE_TM" jdbcType="CHAR" property="createTm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, AGENT_PID, AGENT_ID, AGENT_NAME, TOTAL_CONS_MONTH, GROW_AMT, CREDIT_CONS_MONTH, 
    REWARD_SCALE, APPLY_STATUS, TOTAL_END_MONTH ,MACHINERY_NUM ,CREATE_TM
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.profit.pojo.PosRewardExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_POS_REWARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>

  <!--selectByEndMonth 更新按照考核月查询pos奖励申请-->
  <select id="selectByEndMonth" parameterType="com.ryx.credit.profit.pojo.PosRewardExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_POS_REWARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P_POS_REWARD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.PosRewardExample">
    delete from P_POS_REWARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.PosReward">
    insert into P_POS_REWARD (ID, AGENT_PID, AGENT_ID, 
      AGENT_NAME, TOTAL_CONS_MONTH, GROW_AMT, 
      CREDIT_CONS_MONTH, REWARD_SCALE, APPLY_STATUS, TOTAL_END_MONTH,MACHINERY_NUM,CREATE_TM
      )
    values (#{id,jdbcType=VARCHAR}, #{agentPid,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, 
      #{agentName,jdbcType=VARCHAR}, #{totalConsMonth,jdbcType=VARCHAR}, #{growAmt,jdbcType=DECIMAL}, 
      #{creditConsMonth,jdbcType=VARCHAR}, #{rewardScale,jdbcType=DECIMAL}, #{applyStatus,jdbcType=CHAR},
      #{totalEndMonth,jdbcType=VARCHAR}, #{machineryNum,jdbcType=NUMERIC}, #{createTm,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.PosReward">
    insert into P_POS_REWARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="agentPid != null">
        AGENT_PID,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="totalConsMonth != null">
        TOTAL_CONS_MONTH,
      </if>
      <if test="growAmt != null">
        GROW_AMT,
      </if>
      <if test="creditConsMonth != null">
        CREDIT_CONS_MONTH,
      </if>
      <if test="rewardScale != null">
        REWARD_SCALE,
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS,
      </if>
      <if test="totalEndMonth != null">
        TOTAL_END_MONTH,
      </if>
      <if test="machineryNum != null">
        MACHINERY_NUM,
      </if>
      <if test="createTm != null">
        CREATE_TM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="agentPid != null">
        #{agentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="totalConsMonth != null">
        #{totalConsMonth,jdbcType=VARCHAR},
      </if>
      <if test="growAmt != null">
        #{growAmt,jdbcType=DECIMAL},
      </if>
      <if test="creditConsMonth != null">
        #{creditConsMonth,jdbcType=VARCHAR},
      </if>
      <if test="rewardScale != null">
        #{rewardScale,jdbcType=DECIMAL},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="totalEndMonth != null">
        #{totalEndMonth,jdbcType=VARCHAR},
      </if>
      <if test="machineryNum != null">
        #{machineryNum,jdbcType=NUMERIC},
      </if>
      <if test="createTm != null">
        #{createTm,jdbcType=CHAR}
      </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.PosRewardExample" resultType="java.lang.Long">
    select count(*) from P_POS_REWARD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.PosReward">
    update P_POS_REWARD
    <set>
      <if test="agentPid != null">
        AGENT_PID = #{agentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="totalConsMonth != null">
        TOTAL_CONS_MONTH = #{totalConsMonth,jdbcType=VARCHAR},
      </if>
      <if test="growAmt != null">
        GROW_AMT = #{growAmt,jdbcType=DECIMAL},
      </if>
      <if test="creditConsMonth != null">
        CREDIT_CONS_MONTH = #{creditConsMonth,jdbcType=VARCHAR},
      </if>
      <if test="rewardScale != null">
        REWARD_SCALE = #{rewardScale,jdbcType=DECIMAL},
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="totalEndMonth != null">
        TOTAL_END_MONTH = #{totalEndMonth,jdbcType=VARCHAR},
      </if>
      <if test="machineryNum != null">
        MACHINERY_NUM = #{machineryNum,jdbcType=NUMERIC},
      </if>
      <if test="createTm != null">
        CREATE_TM= #{createTm,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.profit.pojo.PosReward">
    update P_POS_REWARD
    set AGENT_PID = #{agentPid,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      TOTAL_CONS_MONTH = #{totalConsMonth,jdbcType=VARCHAR},
      GROW_AMT = #{growAmt,jdbcType=DECIMAL},
      CREDIT_CONS_MONTH = #{creditConsMonth,jdbcType=VARCHAR},
      REWARD_SCALE = #{rewardScale,jdbcType=DECIMAL},
      APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
    TOTAL_END_MONTH = #{totalEndMonth,jdbcType=VARCHAR},
    MACHINERY_NUM = #{machineryNum,jdbcType=NUMERIC},
    CREATE_TM = #{createTm,jdbcType=CHAR},
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>