<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.profit.dao.ProfitDayMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.ProfitDay">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AGENT_PID" jdbcType="VARCHAR" property="agentPid" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="TRANS_DATE" jdbcType="VARCHAR" property="transDate" />
    <result column="REMIT_DATE" jdbcType="VARCHAR" property="remitDate" />
    <result column="TOTAL_PROFIT" jdbcType="DECIMAL" property="totalProfit" />
    <result column="FROZEN_MONEY" jdbcType="DECIMAL" property="frozenMoney" />
    <result column="SUCCESS_MONEY" jdbcType="DECIMAL" property="successMoney" />
    <result column="FAIL_MONEY" jdbcType="DECIMAL" property="failMoney" />
    <result column="REAL_MONEY" jdbcType="DECIMAL" property="realMoney" />
    <result column="REDO_MONEY" jdbcType="DECIMAL" property="redoMoney" />
    <result column="RETURN_MONEY" jdbcType="DECIMAL" property="returnMoney" />
    <result column="TOTAL_PROFIT1" jdbcType="DECIMAL" property="totalProfit1" />
    <result column="PLATFORMNUM" jdbcType="VARCHAR" property="platformnum" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="PARENT_BUS_NUM" jdbcType="VARCHAR" property="parentBusNum" />
    <result column="PARENT_AGENT_ID" jdbcType="VARCHAR" property="parentAgentId" />
    <result column="AGENT_TYPE" jdbcType="VARCHAR" property="agentType" />
    <result column="PARENT_AGENT_NAME" jdbcType="VARCHAR" property="parentAgentName" />
    <result column="PAY_COMPANY" jdbcType="VARCHAR" property="payCompany" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, AGENT_PID, AGENT_ID, AGENT_NAME, TRANS_DATE, REMIT_DATE, TOTAL_PROFIT, FROZEN_MONEY,
    SUCCESS_MONEY, FAIL_MONEY, REAL_MONEY, REDO_MONEY, RETURN_MONEY, TOTAL_PROFIT1, PLATFORMNUM,
    BUS_NUM, PARENT_BUS_NUM, PARENT_AGENT_ID, AGENT_TYPE, PARENT_AGENT_NAME, PAY_COMPANY
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.profit.pojo.ProfitDayExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_PROFIT_D
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from P_PROFIT_D
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.ProfitDayExample">
    delete from P_PROFIT_D
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.ProfitDay">
    insert into P_PROFIT_D (ID, AGENT_PID, AGENT_ID,
      AGENT_NAME, TRANS_DATE, REMIT_DATE,
      TOTAL_PROFIT, FROZEN_MONEY, SUCCESS_MONEY,
      FAIL_MONEY, REAL_MONEY, REDO_MONEY,
      RETURN_MONEY, TOTAL_PROFIT1, PLATFORMNUM,
      BUS_NUM, PARENT_BUS_NUM, PARENT_AGENT_ID,
      AGENT_TYPE, PARENT_AGENT_NAME, PAY_COMPANY
      )
    values (#{id,jdbcType=VARCHAR}, #{agentPid,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR},
      #{agentName,jdbcType=VARCHAR}, #{transDate,jdbcType=VARCHAR}, #{remitDate,jdbcType=VARCHAR},
      #{totalProfit,jdbcType=DECIMAL}, #{frozenMoney,jdbcType=DECIMAL}, #{successMoney,jdbcType=DECIMAL},
      #{failMoney,jdbcType=DECIMAL}, #{realMoney,jdbcType=DECIMAL}, #{redoMoney,jdbcType=DECIMAL},
      #{returnMoney,jdbcType=DECIMAL}, #{totalProfit1,jdbcType=DECIMAL}, #{platformnum,jdbcType=VARCHAR},
      #{busNum,jdbcType=VARCHAR}, #{parentBusNum,jdbcType=VARCHAR}, #{parentAgentId,jdbcType=VARCHAR},
      #{agentType,jdbcType=VARCHAR}, #{parentAgentName,jdbcType=VARCHAR}, #{payCompany,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.ProfitDay">
    insert into P_PROFIT_D
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="agentPid != null">
        AGENT_PID,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="transDate != null">
        TRANS_DATE,
      </if>
      <if test="remitDate != null">
        REMIT_DATE,
      </if>
      <if test="totalProfit != null">
        TOTAL_PROFIT,
      </if>
      <if test="frozenMoney != null">
        FROZEN_MONEY,
      </if>
      <if test="successMoney != null">
        SUCCESS_MONEY,
      </if>
      <if test="failMoney != null">
        FAIL_MONEY,
      </if>
      <if test="realMoney != null">
        REAL_MONEY,
      </if>
      <if test="redoMoney != null">
        REDO_MONEY,
      </if>
      <if test="returnMoney != null">
        RETURN_MONEY,
      </if>
      <if test="totalProfit1 != null">
        TOTAL_PROFIT1,
      </if>
      <if test="platformnum != null">
        PLATFORMNUM,
      </if>
      <if test="busNum != null">
        BUS_NUM,
      </if>
      <if test="parentBusNum != null">
        PARENT_BUS_NUM,
      </if>
      <if test="parentAgentId != null">
        PARENT_AGENT_ID,
      </if>
      <if test="agentType != null">
        AGENT_TYPE,
      </if>
      <if test="parentAgentName != null">
        PARENT_AGENT_NAME,
      </if>
      <if test="payCompany != null">
        PAY_COMPANY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="agentPid != null">
        #{agentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="remitDate != null">
        #{remitDate,jdbcType=VARCHAR},
      </if>
      <if test="totalProfit != null">
        #{totalProfit,jdbcType=DECIMAL},
      </if>
      <if test="frozenMoney != null">
        #{frozenMoney,jdbcType=DECIMAL},
      </if>
      <if test="successMoney != null">
        #{successMoney,jdbcType=DECIMAL},
      </if>
      <if test="failMoney != null">
        #{failMoney,jdbcType=DECIMAL},
      </if>
      <if test="realMoney != null">
        #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="redoMoney != null">
        #{redoMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnMoney != null">
        #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalProfit1 != null">
        #{totalProfit1,jdbcType=DECIMAL},
      </if>
      <if test="platformnum != null">
        #{platformnum,jdbcType=VARCHAR},
      </if>
      <if test="busNum != null">
        #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="parentBusNum != null">
        #{parentBusNum,jdbcType=VARCHAR},
      </if>
      <if test="parentAgentId != null">
        #{parentAgentId,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null">
        #{agentType,jdbcType=VARCHAR},
      </if>
      <if test="parentAgentName != null">
        #{parentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="payCompany != null">
        #{payCompany,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample"  parameterType="com.ryx.credit.profit.pojo.ProfitDayExample" resultType="java.lang.Integer">
    select count(*) from P_PROFIT_D
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.ProfitDay">
    update P_PROFIT_D
    <set>
      <if test="agentPid != null">
        AGENT_PID = #{agentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null">
        TRANS_DATE = #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="remitDate != null">
        REMIT_DATE = #{remitDate,jdbcType=VARCHAR},
      </if>
      <if test="totalProfit != null">
        TOTAL_PROFIT = #{totalProfit,jdbcType=DECIMAL},
      </if>
      <if test="frozenMoney != null">
        FROZEN_MONEY = #{frozenMoney,jdbcType=DECIMAL},
      </if>
      <if test="successMoney != null">
        SUCCESS_MONEY = #{successMoney,jdbcType=DECIMAL},
      </if>
      <if test="failMoney != null">
        FAIL_MONEY = #{failMoney,jdbcType=DECIMAL},
      </if>
      <if test="realMoney != null">
        REAL_MONEY = #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="redoMoney != null">
        REDO_MONEY = #{redoMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnMoney != null">
        RETURN_MONEY = #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalProfit1 != null">
        TOTAL_PROFIT1 = #{totalProfit1,jdbcType=DECIMAL},
      </if>
      <if test="platformnum != null">
        PLATFORMNUM = #{platformnum,jdbcType=VARCHAR},
      </if>
      <if test="busNum != null">
        BUS_NUM = #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="parentBusNum != null">
        PARENT_BUS_NUM = #{parentBusNum,jdbcType=VARCHAR},
      </if>
      <if test="parentAgentId != null">
        PARENT_AGENT_ID = #{parentAgentId,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null">
        AGENT_TYPE = #{agentType,jdbcType=VARCHAR},
      </if>
      <if test="parentAgentName != null">
        PARENT_AGENT_NAME = #{parentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="payCompany != null">
        PAY_COMPANY = #{payCompany,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.profit.pojo.ProfitDay">
    update P_PROFIT_D
    set AGENT_PID = #{agentPid,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      TRANS_DATE = #{transDate,jdbcType=VARCHAR},
      REMIT_DATE = #{remitDate,jdbcType=VARCHAR},
      TOTAL_PROFIT = #{totalProfit,jdbcType=DECIMAL},
      FROZEN_MONEY = #{frozenMoney,jdbcType=DECIMAL},
      SUCCESS_MONEY = #{successMoney,jdbcType=DECIMAL},
      FAIL_MONEY = #{failMoney,jdbcType=DECIMAL},
      REAL_MONEY = #{realMoney,jdbcType=DECIMAL},
      REDO_MONEY = #{redoMoney,jdbcType=DECIMAL},
      RETURN_MONEY = #{returnMoney,jdbcType=DECIMAL},
      TOTAL_PROFIT1 = #{totalProfit1,jdbcType=DECIMAL},
      PLATFORMNUM = #{platformnum,jdbcType=VARCHAR},
      BUS_NUM = #{busNum,jdbcType=VARCHAR},
      PARENT_BUS_NUM = #{parentBusNum,jdbcType=VARCHAR},
      PARENT_AGENT_ID = #{parentAgentId,jdbcType=VARCHAR},
      AGENT_TYPE = #{agentType,jdbcType=VARCHAR},
      PARENT_AGENT_NAME = #{parentAgentName,jdbcType=VARCHAR},
      PAY_COMPANY = #{payCompany,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <select id="totalMonthByAgentPid" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
    SELECT SUM(TOTAL_PROFIT)
    FROM P_PROFIT_D
    where
    to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
    AND AGENT_PID = #{agentPid,jdbcType=VARCHAR}
  </select>

  <select id="totalRPByAgentPid" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
        SELECT SUM(TOTAL_PROFIT)
        FROM P_PROFIT_D
        where
        to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
        AND AGENT_PID = #{agentPid,jdbcType=VARCHAR}
    </select>

  <select id="totalRPByAgentId" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
    SELECT SUM(TOTAL_PROFIT)
    FROM P_PROFIT_D
    where
    to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
    AND AGENT_ID = #{agentId,jdbcType=VARCHAR}
  </select>

  <select id="totalReturnByAgentPid" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
    SELECT SUM(RETURN_MONEY)
    FROM P_PROFIT_D
    where
    to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
    AND AGENT_PID = #{agentPid,jdbcType=VARCHAR}
  </select>

  <select id="totalMonthByAgentId" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
    SELECT SUM(TOTAL_PROFIT)
    FROM P_PROFIT_D
    where
    to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
    AND AGENT_ID = #{agentId,jdbcType=VARCHAR}
  </select>

  <select id="totalProfitAndReturn" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
    SELECT SUM(TOTAL_PROFIT+RETURN_MONEY)
    FROM P_PROFIT_D
    where
    to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
    AND AGENT_PID = #{agentPid,jdbcType=VARCHAR}
  </select>

  <select id="totalProfitAndReturnById" parameterType="com.ryx.credit.profit.pojo.ProfitDay" resultType="java.math.BigDecimal">
    SELECT SUM(TOTAL_PROFIT+RETURN_MONEY)
    FROM P_PROFIT_D
    where
    to_date(substr(TRANS_DATE,0,6),'yyyymm') = to_date(#{transDate},'yyyymm')
    AND AGENT_ID = #{agentId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByDay" parameterType="java.lang.String">
    delete from P_PROFIT_D
    where REMIT_DATE = '${frDate}'
  </delete>

  <!-- List<Map<String,Object>> selectIncludePayComByExample(ProfitDayExample example);-->
  <select id="selectIncludePayComByExample" parameterType="com.ryx.credit.profit.pojo.ProfitDayExample" resultType="java.util.Map">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
    distinct
  </if>
    <include refid="BASE_COM_NAME_INCLUDE" />
    from P_PROFIT_D left join A_PAY_COMP on  P_PROFIT_D.PAY_COMPANY = A_PAY_COMP.ID
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <sql id="BASE_COM_NAME_INCLUDE">
      P_PROFIT_D.ID as id,P_PROFIT_D.AGENT_PID as agentPid, P_PROFIT_D.AGENT_ID as agentId,
      P_PROFIT_D.AGENT_NAME as agentName, P_PROFIT_D.TRANS_DATE as transDate,P_PROFIT_D.REMIT_DATE as remitDate,
      P_PROFIT_D.REDO_MONEY as redoMoney,P_PROFIT_D.RETURN_MONEY as returnMoney, P_PROFIT_D.TOTAL_PROFIT as totalProfit,
      P_PROFIT_D.REAL_MONEY as realMoney,
      P_PROFIT_D.FROZEN_MONEY as frozenMoney,
      P_PROFIT_D.SUCCESS_MONEY as successMoney,
      P_PROFIT_D.FAIL_MONEY as failMoney,
      A_PAY_COMP.COM_NAME as comName
  </sql>

  <select id="profitDayLList" parameterType="java.util.Map" resultType="java.util.Map">
    <include refid="OracleDialectPrefix" />
    select * from(
    select
    <include refid="BASE_COM_NAME_INCLUDE"/>
    from P_PROFIT_D left join A_PAY_COMP on P_PROFIT_D.PAY_COMPANY = A_PAY_COMP.ID
    where 1=1
    <if test="agentName != null and agentName!='' ">
      and P_PROFIT_D.AGENT_NAME = #{agentName,jdbcType=VARCHAR}
    </if>
    <if test="agentId != null and agentId!='' ">
      and P_PROFIT_D.AGENT_ID = #{agentId,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate!='' ">
      and P_PROFIT_D.REMIT_DATE &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate!='' ">
      and P_PROFIT_D.REMIT_DATE &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    ) xxx join A_AGENT zzz on xxx.agentId = zzz.ID
    where 1=1
    <if test="orgId != null and  orgId !='' ">
    and zzz.AG_DOC_PRO = #{orgId}
  </if>
    <if test="area != null and  area !='' ">
      and zzz.AG_DOC_DISTRICT = #{area}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>


  <select id="profitDayListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from(
    select
    <include refid="BASE_COM_NAME_INCLUDE"/>
    from P_PROFIT_D left join A_PAY_COMP on P_PROFIT_D.PAY_COMPANY = A_PAY_COMP.ID
    where 1=1
    <if test="agentName != null and agentName!='' ">
      and P_PROFIT_D.AGENT_NAME = #{agentName,jdbcType=VARCHAR}
    </if>
    <if test="agentId != null and agentId!='' ">
      and P_PROFIT_D.AGENT_ID = #{agentId,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate!='' ">
      and P_PROFIT_D.REMIT_DATE &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate!='' ">
      and P_PROFIT_D.REMIT_DATE &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    ) xxx join A_AGENT zzz on xxx.agentId = zzz.ID
    where 1=1
    <if test="orgId != null and  orgId !='' ">
      and zzz.AG_DOC_PRO = #{orgId}
    </if>
    <if test="area != null and  area !='' ">
      and zzz.AG_DOC_DISTRICT = #{area}
    </if>
  </select>

</mapper>