<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.profit.dao.ProfitDayMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.ProfitDay" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AGENT_PID" property="agentPid" jdbcType="VARCHAR" />
    <result column="AGENT_ID" property="agentId" jdbcType="VARCHAR" />
    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
    <result column="TRANS_DATE" property="transDate" jdbcType="VARCHAR" />
    <result column="REMIT_DATE" property="remitDate" jdbcType="VARCHAR" />
    <result column="RHB_PROFIT" property="rhbProfit" jdbcType="DECIMAL" />
    <result column="ZF_PROFIT" property="zfProfit" jdbcType="DECIMAL" />
    <result column="DAILY_MAKEUP" property="dailyMakeup" jdbcType="DECIMAL" />
    <result column="TOTAL_PROFIT" property="totalProfit" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, AGENT_PID, AGENT_ID, AGENT_NAME, TRANS_DATE, REMIT_DATE, RHB_PROFIT, ZF_PROFIT, 
    TOTAL_PROFIT,DAILY_MAKEUP
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.profit.pojo.ProfitDayExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_PROFIT_D
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>

  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.ryx.credit.profit.pojo.ProfitDay" >
    select
    <include refid="Base_Column_List" />
    from P_PROFIT_D
    <where>
      1=1
      <if test='null!= agentName and agentName !="" '>
        AND AGENT_NAME = #{agentName}
      </if>
      <if test='null!= agentPid and agentPid !="" '>
        AND AGENT_PID = #{agentPid}
      </if>
      <if test='null!= transDate and transDate !="" '>
        AND TRANS_DATE = #{transDate}
      </if>
      <if test='null!= remitDate and remitDate !="" '>
        AND REMIT_DATE = #{remitDate}
      </if>
    </where>
    order by TRANS_DATE
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from P_PROFIT_D
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.ProfitDayExample" >
    delete from P_PROFIT_D
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.ProfitDay" >
    insert into P_PROFIT_D (ID, AGENT_PID, AGENT_ID, 
      AGENT_NAME, TRANS_DATE, REMIT_DATE, 
      RHB_PROFIT, ZF_PROFIT, TOTAL_PROFIT,DAILY_MAKEUP
      )
    values (#{id,jdbcType=VARCHAR}, #{agentPid,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, 
      #{agentName,jdbcType=VARCHAR}, #{transDate,jdbcType=VARCHAR}, #{remitDate,jdbcType=VARCHAR}, 
      #{rhbProfit,jdbcType=DECIMAL}, #{zfProfit,jdbcType=DECIMAL}, #{totalProfit,jdbcType=DECIMAL}
      , #{dailyMakeup,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.ProfitDay" >
    insert into P_PROFIT_D
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="agentPid != null" >
        AGENT_PID,
      </if>
      <if test="agentId != null" >
        AGENT_ID,
      </if>
      <if test="agentName != null" >
        AGENT_NAME,
      </if>
      <if test="transDate != null" >
        TRANS_DATE,
      </if>
      <if test="remitDate != null" >
        REMIT_DATE,
      </if>
      <if test="rhbProfit != null" >
        RHB_PROFIT,
      </if>
      <if test="zfProfit != null" >
        ZF_PROFIT,
      </if>
      <if test="totalProfit != null" >
        TOTAL_PROFIT,
      </if>
      <if test="dailyMakeup != null" >
        DAILY_MAKEUP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="agentPid != null" >
        #{agentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="remitDate != null" >
        #{remitDate,jdbcType=VARCHAR},
      </if>
      <if test="rhbProfit != null" >
        #{rhbProfit,jdbcType=DECIMAL},
      </if>
      <if test="zfProfit != null" >
        #{zfProfit,jdbcType=DECIMAL},
      </if>
      <if test="totalProfit != null" >
        #{totalProfit,jdbcType=DECIMAL},
      </if>
      <if test="dailyMakeup != null" >
        #{dailyMakeup,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.ProfitDayExample" resultType="java.lang.Integer" >
    select count(*) from P_PROFIT_D
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.ProfitDay" >
    update P_PROFIT_D
    <set >
      <if test="agentPid != null" >
        AGENT_PID = #{agentPid,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        TRANS_DATE = #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="remitDate != null" >
        REMIT_DATE = #{remitDate,jdbcType=VARCHAR},
      </if>
      <if test="rhbProfit != null" >
        RHB_PROFIT = #{rhbProfit,jdbcType=DECIMAL},
      </if>
      <if test="zfProfit != null" >
        ZF_PROFIT = #{zfProfit,jdbcType=DECIMAL},
      </if>
      <if test="totalProfit != null" >
        TOTAL_PROFIT = #{totalProfit,jdbcType=DECIMAL},
      </if>
      <if test="dailyMakeup != null" >
        DAILY_MAKEUP = #{dailyMakeup,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.profit.pojo.ProfitDay" >
    update P_PROFIT_D
    set AGENT_PID = #{agentPid,jdbcType=VARCHAR},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      TRANS_DATE = #{transDate,jdbcType=VARCHAR},
      REMIT_DATE = #{remitDate,jdbcType=VARCHAR},
      RHB_PROFIT = #{rhbProfit,jdbcType=DECIMAL},
      ZF_PROFIT = #{zfProfit,jdbcType=DECIMAL},
      TOTAL_PROFIT = #{totalProfit,jdbcType=DECIMAL}
      DAILY_MAKEUP = #{dailyMakeup,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>