<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.profit.dao.ProfitSettleErrLsMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.ProfitSettleErrLs" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ERR_CODE" property="errCode" jdbcType="VARCHAR" />
    <result column="TRAN_LS" property="tranLs" jdbcType="VARCHAR" />
    <result column="TRAN_DATE" property="tranDate" jdbcType="VARCHAR" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="COOPERATION_MODE" property="cooperationMode" jdbcType="VARCHAR" />
    <result column="MERCH_ID" property="merchId" jdbcType="VARCHAR" />
    <result column="MERCH_TYPE" property="merchType" jdbcType="VARCHAR" />
    <result column="ERR_DATE" property="errDate" jdbcType="VARCHAR" />
    <result column="CHARGEBACK_DATE" property="chargebackDate" jdbcType="VARCHAR" />
    <result column="ERR_TYPE" property="errType" jdbcType="VARCHAR" />
    <result column="SETTLE_DATE" property="settleDate" jdbcType="VARCHAR" />
    <result column="TRAN_TIME" property="tranTime" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="TRAN_AMT" property="tranAmt" jdbcType="DECIMAL" />
    <result column="HOST_LS" property="hostLs" jdbcType="VARCHAR" />
    <result column="TRAN_TYPE" property="tranType" jdbcType="VARCHAR" />
    <result column="ERR_DESC" property="errDesc" jdbcType="VARCHAR" />
    <result column="ERR_LS" property="errLs" jdbcType="VARCHAR" />
    <result column="OLD_ERR_LS" property="oldErrLs" jdbcType="VARCHAR" />
    <result column="ERR_FLAG" property="errFlag" jdbcType="VARCHAR" />
    <result column="FREEZE_DATE" property="freezeDate" jdbcType="VARCHAR" />
    <result column="OFFSET_BALANCE_AMT" property="offsetBalanceAmt" jdbcType="DECIMAL" />
    <result column="BALANCE_AMT" property="balanceAmt" jdbcType="DECIMAL" />
    <result column="NET_AMT" property="netAmt" jdbcType="DECIMAL" />
    <result column="REPAYMENT_TYPE" property="repaymentType" jdbcType="VARCHAR" />
    <result column="LONG_SHORT_TYPE" property="longShortType" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CHARGEOFF_TYPE" property="chargeoffType" jdbcType="VARCHAR" />
    <result column="HB_MERCH_ID" property="hbMerchId" jdbcType="VARCHAR" />
    <result column="HB_ORG" property="hbOrg" jdbcType="VARCHAR" />
    <result column="HB_PHONE" property="hbPhone" jdbcType="VARCHAR" />
    <result column="HB_NAME" property="hbName" jdbcType="VARCHAR" />
    <result column="HB_TERM_ID" property="hbTermId" jdbcType="VARCHAR" />
    <result column="BALANCE_DATE" property="balanceDate" jdbcType="VARCHAR" />
    <result column="NETTING_STATUS" property="nettingStatus" jdbcType="CHAR" />
    <result column="REAL_DEDUCT_AMT" property="realDeductAmt" jdbcType="DECIMAL" />
    <result column="MAKE_AMT" property="makeAmt" jdbcType="DECIMAL" />
    <result column="LOSS_AMT" property="lossAmt" jdbcType="DECIMAL" />
    <result column="HB_ORG_ID" property="hbOrgId" jdbcType="VARCHAR" />
    <result column="OFFSET_LOSS_AMT" property="offsetLossAmt" jdbcType="DECIMAL" />
    <result column="PROVINCES" property="provinces" jdbcType="VARCHAR" />
    <result column="FENRUN_FLAG" property="fenrunFlag" jdbcType="VARCHAR" />
    <result column="INST_ID" property="instId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ERR_CODE, TRAN_LS, TRAN_DATE, BUSINESS_TYPE, COOPERATION_MODE, MERCH_ID, MERCH_TYPE, 
    ERR_DATE, CHARGEBACK_DATE, ERR_TYPE, SETTLE_DATE, TRAN_TIME, CARD_NO, TRAN_AMT, HOST_LS, 
    TRAN_TYPE, ERR_DESC, ERR_LS, OLD_ERR_LS, ERR_FLAG, FREEZE_DATE, OFFSET_BALANCE_AMT, 
    BALANCE_AMT, NET_AMT, REPAYMENT_TYPE, LONG_SHORT_TYPE, RECORD_STATUS, CHARGEOFF_TYPE, 
    HB_MERCH_ID, HB_ORG, HB_PHONE, HB_NAME, HB_TERM_ID, BALANCE_DATE, NETTING_STATUS, 
    REAL_DEDUCT_AMT, MAKE_AMT, LOSS_AMT, HB_ORG_ID, OFFSET_LOSS_AMT, PROVINCES, FENRUN_FLAG, 
    INST_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLsExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_SETTLE_ERR_LS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from P_SETTLE_ERR_LS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLsExample" >
    delete from P_SETTLE_ERR_LS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLs" >
    insert into P_SETTLE_ERR_LS (ID, ERR_CODE, TRAN_LS, 
      TRAN_DATE, BUSINESS_TYPE, COOPERATION_MODE, 
      MERCH_ID, MERCH_TYPE, ERR_DATE, 
      CHARGEBACK_DATE, ERR_TYPE, SETTLE_DATE, 
      TRAN_TIME, CARD_NO, TRAN_AMT, 
      HOST_LS, TRAN_TYPE, ERR_DESC, 
      ERR_LS, OLD_ERR_LS, ERR_FLAG, 
      FREEZE_DATE, OFFSET_BALANCE_AMT, BALANCE_AMT, 
      NET_AMT, REPAYMENT_TYPE, LONG_SHORT_TYPE, 
      RECORD_STATUS, CHARGEOFF_TYPE, HB_MERCH_ID, 
      HB_ORG, HB_PHONE, HB_NAME, 
      HB_TERM_ID, BALANCE_DATE, NETTING_STATUS, 
      REAL_DEDUCT_AMT, MAKE_AMT, LOSS_AMT, 
      HB_ORG_ID, OFFSET_LOSS_AMT, PROVINCES, 
      FENRUN_FLAG, INST_ID)
    values (#{id,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, #{tranLs,jdbcType=VARCHAR}, 
      #{tranDate,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, #{cooperationMode,jdbcType=VARCHAR}, 
      #{merchId,jdbcType=VARCHAR}, #{merchType,jdbcType=VARCHAR}, #{errDate,jdbcType=VARCHAR}, 
      #{chargebackDate,jdbcType=VARCHAR}, #{errType,jdbcType=VARCHAR}, #{settleDate,jdbcType=VARCHAR}, 
      #{tranTime,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{tranAmt,jdbcType=DECIMAL}, 
      #{hostLs,jdbcType=VARCHAR}, #{tranType,jdbcType=VARCHAR}, #{errDesc,jdbcType=VARCHAR}, 
      #{errLs,jdbcType=VARCHAR}, #{oldErrLs,jdbcType=VARCHAR}, #{errFlag,jdbcType=VARCHAR}, 
      #{freezeDate,jdbcType=VARCHAR}, #{offsetBalanceAmt,jdbcType=DECIMAL}, #{balanceAmt,jdbcType=DECIMAL}, 
      #{netAmt,jdbcType=DECIMAL}, #{repaymentType,jdbcType=VARCHAR}, #{longShortType,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{chargeoffType,jdbcType=VARCHAR}, #{hbMerchId,jdbcType=VARCHAR}, 
      #{hbOrg,jdbcType=VARCHAR}, #{hbPhone,jdbcType=VARCHAR}, #{hbName,jdbcType=VARCHAR}, 
      #{hbTermId,jdbcType=VARCHAR}, #{balanceDate,jdbcType=VARCHAR}, #{nettingStatus,jdbcType=CHAR}, 
      #{realDeductAmt,jdbcType=DECIMAL}, #{makeAmt,jdbcType=DECIMAL}, #{lossAmt,jdbcType=DECIMAL}, 
      #{hbOrgId,jdbcType=VARCHAR}, #{offsetLossAmt,jdbcType=DECIMAL}, #{provinces,jdbcType=VARCHAR}, 
      #{fenrunFlag,jdbcType=VARCHAR}, #{instId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLs" >
    insert into P_SETTLE_ERR_LS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="errCode != null" >
        ERR_CODE,
      </if>
      <if test="tranLs != null" >
        TRAN_LS,
      </if>
      <if test="tranDate != null" >
        TRAN_DATE,
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE,
      </if>
      <if test="cooperationMode != null" >
        COOPERATION_MODE,
      </if>
      <if test="merchId != null" >
        MERCH_ID,
      </if>
      <if test="merchType != null" >
        MERCH_TYPE,
      </if>
      <if test="errDate != null" >
        ERR_DATE,
      </if>
      <if test="chargebackDate != null" >
        CHARGEBACK_DATE,
      </if>
      <if test="errType != null" >
        ERR_TYPE,
      </if>
      <if test="settleDate != null" >
        SETTLE_DATE,
      </if>
      <if test="tranTime != null" >
        TRAN_TIME,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="tranAmt != null" >
        TRAN_AMT,
      </if>
      <if test="hostLs != null" >
        HOST_LS,
      </if>
      <if test="tranType != null" >
        TRAN_TYPE,
      </if>
      <if test="errDesc != null" >
        ERR_DESC,
      </if>
      <if test="errLs != null" >
        ERR_LS,
      </if>
      <if test="oldErrLs != null" >
        OLD_ERR_LS,
      </if>
      <if test="errFlag != null" >
        ERR_FLAG,
      </if>
      <if test="freezeDate != null" >
        FREEZE_DATE,
      </if>
      <if test="offsetBalanceAmt != null" >
        OFFSET_BALANCE_AMT,
      </if>
      <if test="balanceAmt != null" >
        BALANCE_AMT,
      </if>
      <if test="netAmt != null" >
        NET_AMT,
      </if>
      <if test="repaymentType != null" >
        REPAYMENT_TYPE,
      </if>
      <if test="longShortType != null" >
        LONG_SHORT_TYPE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="chargeoffType != null" >
        CHARGEOFF_TYPE,
      </if>
      <if test="hbMerchId != null" >
        HB_MERCH_ID,
      </if>
      <if test="hbOrg != null" >
        HB_ORG,
      </if>
      <if test="hbPhone != null" >
        HB_PHONE,
      </if>
      <if test="hbName != null" >
        HB_NAME,
      </if>
      <if test="hbTermId != null" >
        HB_TERM_ID,
      </if>
      <if test="balanceDate != null" >
        BALANCE_DATE,
      </if>
      <if test="nettingStatus != null" >
        NETTING_STATUS,
      </if>
      <if test="realDeductAmt != null" >
        REAL_DEDUCT_AMT,
      </if>
      <if test="makeAmt != null" >
        MAKE_AMT,
      </if>
      <if test="lossAmt != null" >
        LOSS_AMT,
      </if>
      <if test="hbOrgId != null" >
        HB_ORG_ID,
      </if>
      <if test="offsetLossAmt != null" >
        OFFSET_LOSS_AMT,
      </if>
      <if test="provinces != null" >
        PROVINCES,
      </if>
      <if test="fenrunFlag != null" >
        FENRUN_FLAG,
      </if>
      <if test="instId != null" >
        INST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="tranLs != null" >
        #{tranLs,jdbcType=VARCHAR},
      </if>
      <if test="tranDate != null" >
        #{tranDate,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="cooperationMode != null" >
        #{cooperationMode,jdbcType=VARCHAR},
      </if>
      <if test="merchId != null" >
        #{merchId,jdbcType=VARCHAR},
      </if>
      <if test="merchType != null" >
        #{merchType,jdbcType=VARCHAR},
      </if>
      <if test="errDate != null" >
        #{errDate,jdbcType=VARCHAR},
      </if>
      <if test="chargebackDate != null" >
        #{chargebackDate,jdbcType=VARCHAR},
      </if>
      <if test="errType != null" >
        #{errType,jdbcType=VARCHAR},
      </if>
      <if test="settleDate != null" >
        #{settleDate,jdbcType=VARCHAR},
      </if>
      <if test="tranTime != null" >
        #{tranTime,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="tranAmt != null" >
        #{tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="hostLs != null" >
        #{hostLs,jdbcType=VARCHAR},
      </if>
      <if test="tranType != null" >
        #{tranType,jdbcType=VARCHAR},
      </if>
      <if test="errDesc != null" >
        #{errDesc,jdbcType=VARCHAR},
      </if>
      <if test="errLs != null" >
        #{errLs,jdbcType=VARCHAR},
      </if>
      <if test="oldErrLs != null" >
        #{oldErrLs,jdbcType=VARCHAR},
      </if>
      <if test="errFlag != null" >
        #{errFlag,jdbcType=VARCHAR},
      </if>
      <if test="freezeDate != null" >
        #{freezeDate,jdbcType=VARCHAR},
      </if>
      <if test="offsetBalanceAmt != null" >
        #{offsetBalanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="balanceAmt != null" >
        #{balanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="netAmt != null" >
        #{netAmt,jdbcType=DECIMAL},
      </if>
      <if test="repaymentType != null" >
        #{repaymentType,jdbcType=VARCHAR},
      </if>
      <if test="longShortType != null" >
        #{longShortType,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="chargeoffType != null" >
        #{chargeoffType,jdbcType=VARCHAR},
      </if>
      <if test="hbMerchId != null" >
        #{hbMerchId,jdbcType=VARCHAR},
      </if>
      <if test="hbOrg != null" >
        #{hbOrg,jdbcType=VARCHAR},
      </if>
      <if test="hbPhone != null" >
        #{hbPhone,jdbcType=VARCHAR},
      </if>
      <if test="hbName != null" >
        #{hbName,jdbcType=VARCHAR},
      </if>
      <if test="hbTermId != null" >
        #{hbTermId,jdbcType=VARCHAR},
      </if>
      <if test="balanceDate != null" >
        #{balanceDate,jdbcType=VARCHAR},
      </if>
      <if test="nettingStatus != null" >
        #{nettingStatus,jdbcType=CHAR},
      </if>
      <if test="realDeductAmt != null" >
        #{realDeductAmt,jdbcType=DECIMAL},
      </if>
      <if test="makeAmt != null" >
        #{makeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lossAmt != null" >
        #{lossAmt,jdbcType=DECIMAL},
      </if>
      <if test="hbOrgId != null" >
        #{hbOrgId,jdbcType=VARCHAR},
      </if>
      <if test="offsetLossAmt != null" >
        #{offsetLossAmt,jdbcType=DECIMAL},
      </if>
      <if test="provinces != null" >
        #{provinces,jdbcType=VARCHAR},
      </if>
      <if test="fenrunFlag != null" >
        #{fenrunFlag,jdbcType=VARCHAR},
      </if>
      <if test="instId != null" >
        #{instId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLsExample" resultType="java.lang.Integer" >
    select count(*) from P_SETTLE_ERR_LS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLs" >
    update P_SETTLE_ERR_LS
    <set >
      <if test="errCode != null" >
        ERR_CODE = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="tranLs != null" >
        TRAN_LS = #{tranLs,jdbcType=VARCHAR},
      </if>
      <if test="tranDate != null" >
        TRAN_DATE = #{tranDate,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="cooperationMode != null" >
        COOPERATION_MODE = #{cooperationMode,jdbcType=VARCHAR},
      </if>
      <if test="merchId != null" >
        MERCH_ID = #{merchId,jdbcType=VARCHAR},
      </if>
      <if test="merchType != null" >
        MERCH_TYPE = #{merchType,jdbcType=VARCHAR},
      </if>
      <if test="errDate != null" >
        ERR_DATE = #{errDate,jdbcType=VARCHAR},
      </if>
      <if test="chargebackDate != null" >
        CHARGEBACK_DATE = #{chargebackDate,jdbcType=VARCHAR},
      </if>
      <if test="errType != null" >
        ERR_TYPE = #{errType,jdbcType=VARCHAR},
      </if>
      <if test="settleDate != null" >
        SETTLE_DATE = #{settleDate,jdbcType=VARCHAR},
      </if>
      <if test="tranTime != null" >
        TRAN_TIME = #{tranTime,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="tranAmt != null" >
        TRAN_AMT = #{tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="hostLs != null" >
        HOST_LS = #{hostLs,jdbcType=VARCHAR},
      </if>
      <if test="tranType != null" >
        TRAN_TYPE = #{tranType,jdbcType=VARCHAR},
      </if>
      <if test="errDesc != null" >
        ERR_DESC = #{errDesc,jdbcType=VARCHAR},
      </if>
      <if test="errLs != null" >
        ERR_LS = #{errLs,jdbcType=VARCHAR},
      </if>
      <if test="oldErrLs != null" >
        OLD_ERR_LS = #{oldErrLs,jdbcType=VARCHAR},
      </if>
      <if test="errFlag != null" >
        ERR_FLAG = #{errFlag,jdbcType=VARCHAR},
      </if>
      <if test="freezeDate != null" >
        FREEZE_DATE = #{freezeDate,jdbcType=VARCHAR},
      </if>
      <if test="offsetBalanceAmt != null" >
        OFFSET_BALANCE_AMT = #{offsetBalanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="balanceAmt != null" >
        BALANCE_AMT = #{balanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="netAmt != null" >
        NET_AMT = #{netAmt,jdbcType=DECIMAL},
      </if>
      <if test="repaymentType != null" >
        REPAYMENT_TYPE = #{repaymentType,jdbcType=VARCHAR},
      </if>
      <if test="longShortType != null" >
        LONG_SHORT_TYPE = #{longShortType,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="chargeoffType != null" >
        CHARGEOFF_TYPE = #{chargeoffType,jdbcType=VARCHAR},
      </if>
      <if test="hbMerchId != null" >
        HB_MERCH_ID = #{hbMerchId,jdbcType=VARCHAR},
      </if>
      <if test="hbOrg != null" >
        HB_ORG = #{hbOrg,jdbcType=VARCHAR},
      </if>
      <if test="hbPhone != null" >
        HB_PHONE = #{hbPhone,jdbcType=VARCHAR},
      </if>
      <if test="hbName != null" >
        HB_NAME = #{hbName,jdbcType=VARCHAR},
      </if>
      <if test="hbTermId != null" >
        HB_TERM_ID = #{hbTermId,jdbcType=VARCHAR},
      </if>
      <if test="balanceDate != null" >
        BALANCE_DATE = #{balanceDate,jdbcType=VARCHAR},
      </if>
      <if test="nettingStatus != null" >
        NETTING_STATUS = #{nettingStatus,jdbcType=CHAR},
      </if>
      <if test="realDeductAmt != null" >
        REAL_DEDUCT_AMT = #{realDeductAmt,jdbcType=DECIMAL},
      </if>
      <if test="makeAmt != null" >
        MAKE_AMT = #{makeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lossAmt != null" >
        LOSS_AMT = #{lossAmt,jdbcType=DECIMAL},
      </if>
      <if test="hbOrgId != null" >
        HB_ORG_ID = #{hbOrgId,jdbcType=VARCHAR},
      </if>
      <if test="offsetLossAmt != null" >
        OFFSET_LOSS_AMT = #{offsetLossAmt,jdbcType=DECIMAL},
      </if>
      <if test="provinces != null" >
        PROVINCES = #{provinces,jdbcType=VARCHAR},
      </if>
      <if test="fenrunFlag != null" >
        FENRUN_FLAG = #{fenrunFlag,jdbcType=VARCHAR},
      </if>
      <if test="instId != null" >
        INST_ID = #{instId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.profit.pojo.ProfitSettleErrLs" >
    update P_SETTLE_ERR_LS
    set ERR_CODE = #{errCode,jdbcType=VARCHAR},
      TRAN_LS = #{tranLs,jdbcType=VARCHAR},
      TRAN_DATE = #{tranDate,jdbcType=VARCHAR},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      COOPERATION_MODE = #{cooperationMode,jdbcType=VARCHAR},
      MERCH_ID = #{merchId,jdbcType=VARCHAR},
      MERCH_TYPE = #{merchType,jdbcType=VARCHAR},
      ERR_DATE = #{errDate,jdbcType=VARCHAR},
      CHARGEBACK_DATE = #{chargebackDate,jdbcType=VARCHAR},
      ERR_TYPE = #{errType,jdbcType=VARCHAR},
      SETTLE_DATE = #{settleDate,jdbcType=VARCHAR},
      TRAN_TIME = #{tranTime,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      TRAN_AMT = #{tranAmt,jdbcType=DECIMAL},
      HOST_LS = #{hostLs,jdbcType=VARCHAR},
      TRAN_TYPE = #{tranType,jdbcType=VARCHAR},
      ERR_DESC = #{errDesc,jdbcType=VARCHAR},
      ERR_LS = #{errLs,jdbcType=VARCHAR},
      OLD_ERR_LS = #{oldErrLs,jdbcType=VARCHAR},
      ERR_FLAG = #{errFlag,jdbcType=VARCHAR},
      FREEZE_DATE = #{freezeDate,jdbcType=VARCHAR},
      OFFSET_BALANCE_AMT = #{offsetBalanceAmt,jdbcType=DECIMAL},
      BALANCE_AMT = #{balanceAmt,jdbcType=DECIMAL},
      NET_AMT = #{netAmt,jdbcType=DECIMAL},
      REPAYMENT_TYPE = #{repaymentType,jdbcType=VARCHAR},
      LONG_SHORT_TYPE = #{longShortType,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CHARGEOFF_TYPE = #{chargeoffType,jdbcType=VARCHAR},
      HB_MERCH_ID = #{hbMerchId,jdbcType=VARCHAR},
      HB_ORG = #{hbOrg,jdbcType=VARCHAR},
      HB_PHONE = #{hbPhone,jdbcType=VARCHAR},
      HB_NAME = #{hbName,jdbcType=VARCHAR},
      HB_TERM_ID = #{hbTermId,jdbcType=VARCHAR},
      BALANCE_DATE = #{balanceDate,jdbcType=VARCHAR},
      NETTING_STATUS = #{nettingStatus,jdbcType=CHAR},
      REAL_DEDUCT_AMT = #{realDeductAmt,jdbcType=DECIMAL},
      MAKE_AMT = #{makeAmt,jdbcType=DECIMAL},
      LOSS_AMT = #{lossAmt,jdbcType=DECIMAL},
      HB_ORG_ID = #{hbOrgId,jdbcType=VARCHAR},
      OFFSET_LOSS_AMT = #{offsetLossAmt,jdbcType=DECIMAL},
      PROVINCES = #{provinces,jdbcType=VARCHAR},
      FENRUN_FLAG = #{fenrunFlag,jdbcType=VARCHAR},
      INST_ID = #{instId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>