<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.profit.dao.ProfitOrganTranMonthMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.profit.pojo.ProfitOrganTranMonth" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE" property="productType" jdbcType="CHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="TRAN_AMT" property="tranAmt" jdbcType="DECIMAL" />
    <result column="SETTLE_AMT" property="settleAmt" jdbcType="DECIMAL" />
    <result column="CHECK_DATE" property="checkDate" jdbcType="VARCHAR" />
    <result column="PROFIT_DATE" property="profitDate" jdbcType="VARCHAR" />
    <result column="DIFFERENCE_AMT" property="differenceAmt" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PRODUCT_TYPE, PRODUCT_NAME, TRAN_AMT, SETTLE_AMT, CHECK_DATE, PROFIT_DATE, DIFFERENCE_AMT, 
    STATUS, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonthExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_ORGAN_TRAN_MONTH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from P_ORGAN_TRAN_MONTH
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonthExample" >
    delete from P_ORGAN_TRAN_MONTH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonth" >
    insert into P_ORGAN_TRAN_MONTH (ID, PRODUCT_TYPE, PRODUCT_NAME, 
      TRAN_AMT, SETTLE_AMT, CHECK_DATE, 
      PROFIT_DATE, DIFFERENCE_AMT, STATUS, 
      REMARK)
    values (#{id,jdbcType=VARCHAR}, #{productType,jdbcType=CHAR}, #{productName,jdbcType=VARCHAR}, 
      #{tranAmt,jdbcType=DECIMAL}, #{settleAmt,jdbcType=DECIMAL}, #{checkDate,jdbcType=VARCHAR}, 
      #{profitDate,jdbcType=VARCHAR}, #{differenceAmt,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonth" >
    insert into P_ORGAN_TRAN_MONTH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="tranAmt != null" >
        TRAN_AMT,
      </if>
      <if test="settleAmt != null" >
        SETTLE_AMT,
      </if>
      <if test="checkDate != null" >
        CHECK_DATE,
      </if>
      <if test="profitDate != null" >
        PROFIT_DATE,
      </if>
      <if test="differenceAmt != null" >
        DIFFERENCE_AMT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=CHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="tranAmt != null" >
        #{tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="settleAmt != null" >
        #{settleAmt,jdbcType=DECIMAL},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=VARCHAR},
      </if>
      <if test="profitDate != null" >
        #{profitDate,jdbcType=VARCHAR},
      </if>
      <if test="differenceAmt != null" >
        #{differenceAmt,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonthExample" resultType="java.lang.Integer" >
    select count(*) from P_ORGAN_TRAN_MONTH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonth" >
    update P_ORGAN_TRAN_MONTH
    <set >
      <if test="productType != null" >
        PRODUCT_TYPE = #{productType,jdbcType=CHAR},
      </if>
      <if test="productName != null" >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="tranAmt != null" >
        TRAN_AMT = #{tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="settleAmt != null" >
        SETTLE_AMT = #{settleAmt,jdbcType=DECIMAL},
      </if>
      <if test="checkDate != null" >
        CHECK_DATE = #{checkDate,jdbcType=VARCHAR},
      </if>
      <if test="profitDate != null" >
        PROFIT_DATE = #{profitDate,jdbcType=VARCHAR},
      </if>
      <if test="differenceAmt != null" >
        DIFFERENCE_AMT = #{differenceAmt,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.profit.pojo.ProfitOrganTranMonth" >
    update P_ORGAN_TRAN_MONTH
    set PRODUCT_TYPE = #{productType,jdbcType=CHAR},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      TRAN_AMT = #{tranAmt,jdbcType=DECIMAL},
      SETTLE_AMT = #{settleAmt,jdbcType=DECIMAL},
      CHECK_DATE = #{checkDate,jdbcType=VARCHAR},
      PROFIT_DATE = #{profitDate,jdbcType=VARCHAR},
      DIFFERENCE_AMT = #{differenceAmt,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>