<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.jobOrder.dao.JoOrderMapper">
  <resultMap id="BaseResultMap" type="com.ryx.jobOrder.pojo.JoOrder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AG_ID" jdbcType="VARCHAR" property="agId" />
    <result column="AG_NAME" jdbcType="VARCHAR" property="agName" />
    <result column="BUS_ID" jdbcType="VARCHAR" property="busId" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="PALTFORM_NUM" jdbcType="VARCHAR" property="paltformNum" />
    <result column="PLATFORM_NAME" jdbcType="VARCHAR" property="platformName" />
    <result column="JO_FIRST_KEY_NUM" jdbcType="VARCHAR" property="joFirstKeyNum" />
    <result column="JO_SECOND_KEY_NUM" jdbcType="VARCHAR" property="joSecondKeyNum" />
    <result column="PRIORITY_LEVEL" jdbcType="VARCHAR" property="priorityLevel" />
    <result column="LAUNCH_TIME" jdbcType="TIMESTAMP" property="launchTime" />
    <result column="LAUNCH_PERSON_ID" jdbcType="VARCHAR" property="launchPersonId" />
    <result column="LAUNCH_PERSON_NAME" jdbcType="VARCHAR" property="launchPersonName" />
    <result column="LAUNCH_PERSON_EMAIL" jdbcType="VARCHAR" property="launchPersonEmail" />
    <result column="LAUNCH_BRANCH_ID" jdbcType="VARCHAR" property="launchBranchId" />
    <result column="LAUNCH_BRANCH_NAME" jdbcType="VARCHAR" property="launchBranchName" />
    <result column="ACCEPT_GROUP_CODE" jdbcType="VARCHAR" property="acceptGroupCode" />
    <result column="ACCEPT_GROUP" jdbcType="VARCHAR" property="acceptGroup" />
    <result column="ACCEPT_NOW_GROUP" jdbcType="VARCHAR" property="acceptNowGroup" />
    <result column="DEAL_TIME_START" jdbcType="TIMESTAMP" property="dealTimeStart" />
    <result column="DEAL_TIME_END" jdbcType="TIMESTAMP" property="dealTimeEnd" />
    <result column="DEAL_TIME_LENGTH" jdbcType="DECIMAL" property="dealTimeLength" />
    <result column="JO_PROGRESS" jdbcType="VARCHAR" property="joProgress" />
    <result column="JO_TITLE" jdbcType="VARCHAR" property="joTitle" />
    <result column="JO_CONTENT" jdbcType="VARCHAR" property="joContent" />
    <result column="JO_ASSESS_LEVEL" jdbcType="DECIMAL" property="joAssessLevel" />
    <result column="JO_ASSESSOR_NAME" jdbcType="VARCHAR" property="joAssessorName" />
    <result column="JO_ASSESSOR_TYPE" jdbcType="VARCHAR" property="joAssessorType" />
    <result column="JO_ASSESSOR_ID" jdbcType="VARCHAR" property="joAssessorId" />
    <result column="JO_ASSESS_CONTENT" jdbcType="VARCHAR" property="joAssessContent" />
    <result column="JO_ASSESS_TIME" jdbcType="TIMESTAMP" property="joAssessTime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, AG_ID, AG_NAME, BUS_ID, BUS_NUM, PALTFORM_NUM, PLATFORM_NAME, JO_FIRST_KEY_NUM, 
    JO_SECOND_KEY_NUM, PRIORITY_LEVEL, LAUNCH_TIME, LAUNCH_PERSON_ID, LAUNCH_PERSON_NAME, 
    LAUNCH_PERSON_EMAIL, LAUNCH_BRANCH_ID, LAUNCH_BRANCH_NAME, ACCEPT_GROUP_CODE, ACCEPT_GROUP, 
    ACCEPT_NOW_GROUP, DEAL_TIME_START, DEAL_TIME_END, DEAL_TIME_LENGTH, JO_PROGRESS, 
    JO_TITLE, JO_CONTENT, JO_ASSESS_LEVEL, JO_ASSESSOR_NAME, JO_ASSESSOR_TYPE, JO_ASSESSOR_ID, 
    JO_ASSESS_CONTENT, JO_ASSESS_TIME, VERSION
  </sql>
  <select id="selectByExample" parameterType="com.ryx.jobOrder.pojo.JoOrderExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from JO_ORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JO_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.jobOrder.pojo.JoOrderExample">
    delete from JO_ORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.jobOrder.pojo.JoOrder">
    insert into JO_ORDER (ID, AG_ID, AG_NAME, 
      BUS_ID, BUS_NUM, PALTFORM_NUM, 
      PLATFORM_NAME, JO_FIRST_KEY_NUM, JO_SECOND_KEY_NUM, 
      PRIORITY_LEVEL, LAUNCH_TIME, LAUNCH_PERSON_ID, 
      LAUNCH_PERSON_NAME, LAUNCH_PERSON_EMAIL, LAUNCH_BRANCH_ID, 
      LAUNCH_BRANCH_NAME, ACCEPT_GROUP_CODE, ACCEPT_GROUP, 
      ACCEPT_NOW_GROUP, DEAL_TIME_START, DEAL_TIME_END, 
      DEAL_TIME_LENGTH, JO_PROGRESS, JO_TITLE, 
      JO_CONTENT, JO_ASSESS_LEVEL, JO_ASSESSOR_NAME, 
      JO_ASSESSOR_TYPE, JO_ASSESSOR_ID, JO_ASSESS_CONTENT, 
      JO_ASSESS_TIME, VERSION)
    values (#{id,jdbcType=VARCHAR}, #{agId,jdbcType=VARCHAR}, #{agName,jdbcType=VARCHAR}, 
      #{busId,jdbcType=VARCHAR}, #{busNum,jdbcType=VARCHAR}, #{paltformNum,jdbcType=VARCHAR}, 
      #{platformName,jdbcType=VARCHAR}, #{joFirstKeyNum,jdbcType=VARCHAR}, #{joSecondKeyNum,jdbcType=VARCHAR}, 
      #{priorityLevel,jdbcType=VARCHAR}, #{launchTime,jdbcType=TIMESTAMP}, #{launchPersonId,jdbcType=VARCHAR}, 
      #{launchPersonName,jdbcType=VARCHAR}, #{launchPersonEmail,jdbcType=VARCHAR}, #{launchBranchId,jdbcType=VARCHAR}, 
      #{launchBranchName,jdbcType=VARCHAR}, #{acceptGroupCode,jdbcType=VARCHAR}, #{acceptGroup,jdbcType=VARCHAR}, 
      #{acceptNowGroup,jdbcType=VARCHAR}, #{dealTimeStart,jdbcType=TIMESTAMP}, #{dealTimeEnd,jdbcType=TIMESTAMP}, 
      #{dealTimeLength,jdbcType=DECIMAL}, #{joProgress,jdbcType=VARCHAR}, #{joTitle,jdbcType=VARCHAR}, 
      #{joContent,jdbcType=VARCHAR}, #{joAssessLevel,jdbcType=DECIMAL}, #{joAssessorName,jdbcType=VARCHAR}, 
      #{joAssessorType,jdbcType=VARCHAR}, #{joAssessorId,jdbcType=VARCHAR}, #{joAssessContent,jdbcType=VARCHAR}, 
      #{joAssessTime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.jobOrder.pojo.JoOrder">
    insert into JO_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="agId != null">
        AG_ID,
      </if>
      <if test="agName != null">
        AG_NAME,
      </if>
      <if test="busId != null">
        BUS_ID,
      </if>
      <if test="busNum != null">
        BUS_NUM,
      </if>
      <if test="paltformNum != null">
        PALTFORM_NUM,
      </if>
      <if test="platformName != null">
        PLATFORM_NAME,
      </if>
      <if test="joFirstKeyNum != null">
        JO_FIRST_KEY_NUM,
      </if>
      <if test="joSecondKeyNum != null">
        JO_SECOND_KEY_NUM,
      </if>
      <if test="priorityLevel != null">
        PRIORITY_LEVEL,
      </if>
      <if test="launchTime != null">
        LAUNCH_TIME,
      </if>
      <if test="launchPersonId != null">
        LAUNCH_PERSON_ID,
      </if>
      <if test="launchPersonName != null">
        LAUNCH_PERSON_NAME,
      </if>
      <if test="launchPersonEmail != null">
        LAUNCH_PERSON_EMAIL,
      </if>
      <if test="launchBranchId != null">
        LAUNCH_BRANCH_ID,
      </if>
      <if test="launchBranchName != null">
        LAUNCH_BRANCH_NAME,
      </if>
      <if test="acceptGroupCode != null">
        ACCEPT_GROUP_CODE,
      </if>
      <if test="acceptGroup != null">
        ACCEPT_GROUP,
      </if>
      <if test="acceptNowGroup != null">
        ACCEPT_NOW_GROUP,
      </if>
      <if test="dealTimeStart != null">
        DEAL_TIME_START,
      </if>
      <if test="dealTimeEnd != null">
        DEAL_TIME_END,
      </if>
      <if test="dealTimeLength != null">
        DEAL_TIME_LENGTH,
      </if>
      <if test="joProgress != null">
        JO_PROGRESS,
      </if>
      <if test="joTitle != null">
        JO_TITLE,
      </if>
      <if test="joContent != null">
        JO_CONTENT,
      </if>
      <if test="joAssessLevel != null">
        JO_ASSESS_LEVEL,
      </if>
      <if test="joAssessorName != null">
        JO_ASSESSOR_NAME,
      </if>
      <if test="joAssessorType != null">
        JO_ASSESSOR_TYPE,
      </if>
      <if test="joAssessorId != null">
        JO_ASSESSOR_ID,
      </if>
      <if test="joAssessContent != null">
        JO_ASSESS_CONTENT,
      </if>
      <if test="joAssessTime != null">
        JO_ASSESS_TIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="agId != null">
        #{agId,jdbcType=VARCHAR},
      </if>
      <if test="agName != null">
        #{agName,jdbcType=VARCHAR},
      </if>
      <if test="busId != null">
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="busNum != null">
        #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="paltformNum != null">
        #{paltformNum,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="joFirstKeyNum != null">
        #{joFirstKeyNum,jdbcType=VARCHAR},
      </if>
      <if test="joSecondKeyNum != null">
        #{joSecondKeyNum,jdbcType=VARCHAR},
      </if>
      <if test="priorityLevel != null">
        #{priorityLevel,jdbcType=VARCHAR},
      </if>
      <if test="launchTime != null">
        #{launchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="launchPersonId != null">
        #{launchPersonId,jdbcType=VARCHAR},
      </if>
      <if test="launchPersonName != null">
        #{launchPersonName,jdbcType=VARCHAR},
      </if>
      <if test="launchPersonEmail != null">
        #{launchPersonEmail,jdbcType=VARCHAR},
      </if>
      <if test="launchBranchId != null">
        #{launchBranchId,jdbcType=VARCHAR},
      </if>
      <if test="launchBranchName != null">
        #{launchBranchName,jdbcType=VARCHAR},
      </if>
      <if test="acceptGroupCode != null">
        #{acceptGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptGroup != null">
        #{acceptGroup,jdbcType=VARCHAR},
      </if>
      <if test="acceptNowGroup != null">
        #{acceptNowGroup,jdbcType=VARCHAR},
      </if>
      <if test="dealTimeStart != null">
        #{dealTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTimeEnd != null">
        #{dealTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTimeLength != null">
        #{dealTimeLength,jdbcType=DECIMAL},
      </if>
      <if test="joProgress != null">
        #{joProgress,jdbcType=VARCHAR},
      </if>
      <if test="joTitle != null">
        #{joTitle,jdbcType=VARCHAR},
      </if>
      <if test="joContent != null">
        #{joContent,jdbcType=VARCHAR},
      </if>
      <if test="joAssessLevel != null">
        #{joAssessLevel,jdbcType=DECIMAL},
      </if>
      <if test="joAssessorName != null">
        #{joAssessorName,jdbcType=VARCHAR},
      </if>
      <if test="joAssessorType != null">
        #{joAssessorType,jdbcType=VARCHAR},
      </if>
      <if test="joAssessorId != null">
        #{joAssessorId,jdbcType=VARCHAR},
      </if>
      <if test="joAssessContent != null">
        #{joAssessContent,jdbcType=VARCHAR},
      </if>
      <if test="joAssessTime != null">
        #{joAssessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.jobOrder.pojo.JoOrderExample" resultType="java.lang.Long">
    select count(*) from JO_ORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.jobOrder.pojo.JoOrder">
    update JO_ORDER
    <set>
      <if test="agId != null">
        AG_ID = #{agId,jdbcType=VARCHAR},
      </if>
      <if test="agName != null">
        AG_NAME = #{agName,jdbcType=VARCHAR},
      </if>
      <if test="busId != null">
        BUS_ID = #{busId,jdbcType=VARCHAR},
      </if>
      <if test="busNum != null">
        BUS_NUM = #{busNum,jdbcType=VARCHAR},
      </if>
      <if test="paltformNum != null">
        PALTFORM_NUM = #{paltformNum,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="joFirstKeyNum != null">
        JO_FIRST_KEY_NUM = #{joFirstKeyNum,jdbcType=VARCHAR},
      </if>
      <if test="joSecondKeyNum != null">
        JO_SECOND_KEY_NUM = #{joSecondKeyNum,jdbcType=VARCHAR},
      </if>
      <if test="priorityLevel != null">
        PRIORITY_LEVEL = #{priorityLevel,jdbcType=VARCHAR},
      </if>
      <if test="launchTime != null">
        LAUNCH_TIME = #{launchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="launchPersonId != null">
        LAUNCH_PERSON_ID = #{launchPersonId,jdbcType=VARCHAR},
      </if>
      <if test="launchPersonName != null">
        LAUNCH_PERSON_NAME = #{launchPersonName,jdbcType=VARCHAR},
      </if>
      <if test="launchPersonEmail != null">
        LAUNCH_PERSON_EMAIL = #{launchPersonEmail,jdbcType=VARCHAR},
      </if>
      <if test="launchBranchId != null">
        LAUNCH_BRANCH_ID = #{launchBranchId,jdbcType=VARCHAR},
      </if>
      <if test="launchBranchName != null">
        LAUNCH_BRANCH_NAME = #{launchBranchName,jdbcType=VARCHAR},
      </if>
      <if test="acceptGroupCode != null">
        ACCEPT_GROUP_CODE = #{acceptGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptGroup != null">
        ACCEPT_GROUP = #{acceptGroup,jdbcType=VARCHAR},
      </if>
      <if test="acceptNowGroup != null">
        ACCEPT_NOW_GROUP = #{acceptNowGroup,jdbcType=VARCHAR},
      </if>
      <if test="dealTimeStart != null">
        DEAL_TIME_START = #{dealTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTimeEnd != null">
        DEAL_TIME_END = #{dealTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTimeLength != null">
        DEAL_TIME_LENGTH = #{dealTimeLength,jdbcType=DECIMAL},
      </if>
      <if test="joProgress != null">
        JO_PROGRESS = #{joProgress,jdbcType=VARCHAR},
      </if>
      <if test="joTitle != null">
        JO_TITLE = #{joTitle,jdbcType=VARCHAR},
      </if>
      <if test="joContent != null">
        JO_CONTENT = #{joContent,jdbcType=VARCHAR},
      </if>
      <if test="joAssessLevel != null">
        JO_ASSESS_LEVEL = #{joAssessLevel,jdbcType=DECIMAL},
      </if>
      <if test="joAssessorName != null">
        JO_ASSESSOR_NAME = #{joAssessorName,jdbcType=VARCHAR},
      </if>
      <if test="joAssessorType != null">
        JO_ASSESSOR_TYPE = #{joAssessorType,jdbcType=VARCHAR},
      </if>
      <if test="joAssessorId != null">
        JO_ASSESSOR_ID = #{joAssessorId,jdbcType=VARCHAR},
      </if>
      <if test="joAssessContent != null">
        JO_ASSESS_CONTENT = #{joAssessContent,jdbcType=VARCHAR},
      </if>
      <if test="joAssessTime != null">
        JO_ASSESS_TIME = #{joAssessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.jobOrder.pojo.JoOrder">
    update JO_ORDER
    set AG_ID = #{agId,jdbcType=VARCHAR},
      AG_NAME = #{agName,jdbcType=VARCHAR},
      BUS_ID = #{busId,jdbcType=VARCHAR},
      BUS_NUM = #{busNum,jdbcType=VARCHAR},
      PALTFORM_NUM = #{paltformNum,jdbcType=VARCHAR},
      PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      JO_FIRST_KEY_NUM = #{joFirstKeyNum,jdbcType=VARCHAR},
      JO_SECOND_KEY_NUM = #{joSecondKeyNum,jdbcType=VARCHAR},
      PRIORITY_LEVEL = #{priorityLevel,jdbcType=VARCHAR},
      LAUNCH_TIME = #{launchTime,jdbcType=TIMESTAMP},
      LAUNCH_PERSON_ID = #{launchPersonId,jdbcType=VARCHAR},
      LAUNCH_PERSON_NAME = #{launchPersonName,jdbcType=VARCHAR},
      LAUNCH_PERSON_EMAIL = #{launchPersonEmail,jdbcType=VARCHAR},
      LAUNCH_BRANCH_ID = #{launchBranchId,jdbcType=VARCHAR},
      LAUNCH_BRANCH_NAME = #{launchBranchName,jdbcType=VARCHAR},
      ACCEPT_GROUP_CODE = #{acceptGroupCode,jdbcType=VARCHAR},
      ACCEPT_GROUP = #{acceptGroup,jdbcType=VARCHAR},
      ACCEPT_NOW_GROUP = #{acceptNowGroup,jdbcType=VARCHAR},
      DEAL_TIME_START = #{dealTimeStart,jdbcType=TIMESTAMP},
      DEAL_TIME_END = #{dealTimeEnd,jdbcType=TIMESTAMP},
      DEAL_TIME_LENGTH = #{dealTimeLength,jdbcType=DECIMAL},
      JO_PROGRESS = #{joProgress,jdbcType=VARCHAR},
      JO_TITLE = #{joTitle,jdbcType=VARCHAR},
      JO_CONTENT = #{joContent,jdbcType=VARCHAR},
      JO_ASSESS_LEVEL = #{joAssessLevel,jdbcType=DECIMAL},
      JO_ASSESSOR_NAME = #{joAssessorName,jdbcType=VARCHAR},
      JO_ASSESSOR_TYPE = #{joAssessorType,jdbcType=VARCHAR},
      JO_ASSESSOR_ID = #{joAssessorId,jdbcType=VARCHAR},
      JO_ASSESS_CONTENT = #{joAssessContent,jdbcType=VARCHAR},
      JO_ASSESS_TIME = #{joAssessTime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>


  <resultMap id="JoOrderVoResultMap" type="com.ryx.jobOrder.vo.JoTaskVo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AG_ID" jdbcType="VARCHAR" property="agId" />
    <result column="AG_NAME" jdbcType="VARCHAR" property="agName" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="PLATFORM_NAME" jdbcType="VARCHAR" property="platformName" />
    <result column="JO_TOP_KEY_NUM" jdbcType="VARCHAR" property="joTopKeyNum" />
    <result column="JO_FIRST_KEY_NUM" jdbcType="VARCHAR" property="joFirstKeyNum" />
    <result column="JO_SECOND_KEY_NUM" jdbcType="VARCHAR" property="joSecondKeyNum" />
    <result column="PRIORITY_LEVEL" jdbcType="VARCHAR" property="priorityLevel" />
    <result column="LAUNCH_TIME" jdbcType="TIMESTAMP" property="launchTime" />
    <result column="LAUNCH_PERSON_NAME" jdbcType="VARCHAR" property="launchPersonName" />
    <result column="LAUNCH_PERSON_ID" jdbcType="VARCHAR" property="launchPersonId" />
    <result column="LAUNCH_BRANCH_NAME" jdbcType="VARCHAR" property="launchBranchName" />
    <result column="LAUNCH_PERSON_EMAIL" jdbcType="VARCHAR" property="launchPersonEmail" />
    <result column="JO_PROGRESS" jdbcType="VARCHAR" property="joProgress" />
    <result column="ACCEPT_GROUP" jdbcType="VARCHAR" property="acceptGroup" />
    <result column="ACCEPT_NOW_GROUP" jdbcType="VARCHAR" property="acceptNowGroup" />
    <result column="DEAL_TIME_START" jdbcType="TIMESTAMP" property="dealTimeStart" />
    <result column="LAUNCH_BRANCH_NAME" jdbcType="VARCHAR" property="launchBranchName" />
    <result column="DEAL_PERSON_ID" jdbcType="VARCHAR" property="joDealPersonId" />
    <result column="DEAL_GROUP_ID" jdbcType="VARCHAR" property="joDealGroupId" />
  </resultMap>
  <sql id="selectByJobOrderSql">
    select
    distinct (jo.id) as id, jo.ag_id, jo.ag_name, jo.bus_num, jo.platform_name,
    top.jo_key_name as jo_top_key_num,
    one.jo_key_name as jo_first_key_num,
    two.jo_key_name as jo_second_key_num,
    jo.priority_level, jo.launch_time, jo.launch_person_name, jo.launch_branch_name,
    jo.launch_person_email, jo.jo_progress, jo.accept_group, jo.deal_time_start, jo.accept_now_group
    from jo_order jo
    left join jo_key_manage one on one.jo_key = jo.jo_first_key_num
    left join jo_key_manage top on top.jo_key = one.jo_key_back_num
    left join jo_key_manage two on two.jo_key = jo.jo_second_key_num
    <where>
      1 = 1
      <if test="id!=null and id!=''"> and jo.id = #{id} </if>
      <if test="joSecondKeyNum!=null and joSecondKeyNum!=''"> and jo.jo_second_key_num like CONCAT(CONCAT('%',#{joSecondKeyNum}),'%') </if>
      <if test="agName!=null and agName!=''"> and jo.ag_name like CONCAT(CONCAT('%',#{agName}),'%') </if>
      <if test="busNum!=null and busNum!=''"> and jo.bus_num like CONCAT(CONCAT('%',#{busNum}),'%') </if>
      <if test="priorityLevel!=null and priorityLevel!=''"> and jo.priority_level = #{priorityLevel} </if>
      <if test="joProgress!=null and joProgress!=''"> and jo.jo_progress = #{joProgress} </if>
      <if test="launchBranchName!=null and launchBranchName!=''"> and jo.launch_branch_name = #{launchBranchName} </if>
      <if test="launchBeginTime!=null and launchEndTime!=null">  and jo.launch_time between #{launchBeginTime} and #{launchEndTime} </if>
      <if test="taskBeginTime!=null and taskEndTime!=null"> and ta.jo_task_accept_time between #{taskBeginTime} and #{taskEndTime}) </if>
      <if test="agId!=null and agId!=''"> and jo.ag_id = #{agId} </if>
      <if test="joDealGroupId!=null and joDealGroupId!=''"> and exists(select jt.id from jo_task jt where jt.jo_id = jo.id and jt.deal_group_id = #{joDealGroupId}) </if>
      <if test="secondDealGroup!=null and secondDealGroup!=''"> and exists(select jt.id from jo_task jt where jt.jo_id = jo.id and jt.second_deal_group like CONCAT(CONCAT('%',#{secondDealGroup}),'%')) </if>
    </where>
    order by jo.launch_time desc
  </sql>

  <!--总部查询所有-->
  <select id="queryJobOrderList" resultMap="JoOrderVoResultMap">
    <include refid="OracleDialectPrefix" />
    <include refid="selectByJobOrderSql" />
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="queryJobOrderListCount" resultType="int">
    select count(*) from (
    <include refid="selectByJobOrderSql" />
    )
  </select>

  <!--代理商工单组查询-->
  <select id="queryAgentJobOrderList" resultMap="JoOrderVoResultMap">
    <include refid="OracleDialectPrefix" />
    <include refid="selectByJobOrderSql" />
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="queryAgentJobOrderListCount" resultType="int">
    select count(*) from (
    <include refid="selectByJobOrderSql" />
    )
  </select>

  <!--省区工单组查询-->
  <select id="queryCityJobOrderList" resultMap="JoOrderVoResultMap">
    <include refid="OracleDialectPrefix" />
    <include refid="selectByJobOrderSql" />
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="queryCityJobOrderListCount" resultType="int">
    select count(*) from (
    <include refid="selectByJobOrderSql" />
    )
  </select>

  <!--总部工单组查询-->
  <select id="queryGroupJobOrderList" resultMap="JoOrderVoResultMap">
    <include refid="OracleDialectPrefix" />
    <include refid="selectByJobOrderSql" />
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="queryGroupJobOrderListCount" resultType="int">
    select count(*) from (
    <include refid="selectByJobOrderSql" />
    )
  </select>


  <select id="queryJobOrderLaunchList" resultMap="JoOrderVoResultMap">
    <include refid="OracleDialectPrefix" />
    <include refid="selectByJobOrderLaunchSql" />
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="queryJobOrderLaunchListCount" resultType="int">
    select count(*) from (
    <include refid="selectByJobOrderLaunchSql" />
    )
  </select>
  <sql id="selectByJobOrderLaunchSql">
    select
      jo.id,
      jo.ag_id,
      jo.ag_name,
      jo.bus_num,
      jo.platform_name,
      one.jo_key_name as jo_first_key_num,
      two.jo_key_name as jo_second_key_num,
      jm3.jo_key_name as PRIORITY_LEVEL,
      jo.launch_time,
      jo.launch_person_name,
      jo.launch_branch_name,
      jo.launch_person_email,
      jo.jo_progress,
      jo.accept_group,
      jo.deal_time_start,
      jo.accept_now_group,
      jo.launch_person_id
    from jo_order jo
      left join jo_key_manage one on one.jo_key = jo.jo_first_key_num
      left join jo_key_manage two on two.jo_key = jo.jo_second_key_num
      LEFT JOIN jo_key_manage jm3 ON jm3.id = jo.priority_level
    <where>
      1 = 1
      <if test="map.id!=null and map.id!=''">and jo.id = #{map.id} </if>
      <if test="map.joFirstKeyNum!=null and map.joFirstKeyNum!=''"> and jo.jo_first_key_num = #{map.joFirstKeyNum} </if>
      <if test="map.joSecondKeyNum!=null and map.joSecondKeyNum!=''"> and jo.jo_second_key_num like CONCAT(CONCAT('%',#{map.joSecondKeyNum}),'%') </if>
      <if test="map.agName!=null and map.agName!=''"> and jo.ag_name like CONCAT(CONCAT('%',#{map.agName}),'%') </if>
      <if test="map.busNum!=null and map.busNum!=''"> and jo.bus_num like CONCAT(CONCAT('%',#{map.busNum}),'%') </if>
      <if test="map.priorityLevel!=null and map.priorityLevel!=''"> and jo.priority_level = #{map.priorityLevel} </if>
      <if test="map.joProgress!=null and map.joProgress!=''"> and jo.jo_progress = #{map.joProgress} </if>
      <if test="map.launchBranchName!=null and map.launchBranchName!=''"> and jo.launch_branch_name = #{map.launchBranchName} </if>
      <if test="map.launchBeginTime!=null and map.launchEndTime != null"> and  jo.launch_time  between #{map.launchBeginTime} and #{map.launchEndTime} </if>
      <if test="map.launchPersonId!=null and map.launchPersonId!=''"> and jo.launch_person_id = #{map.launchPersonId} </if>
      <if test="map.launchBranchId!=null and map.launchBranchId!=''"> and jo.launch_branch_id = #{map.launchBranchId} </if>
    </where>
    order by jo.launch_time desc
  </sql>
  <select id="queryListByTaskId" parameterType="string" resultMap="BaseResultMap">
    select
    distinct (JO.ID) AS ID,
    <include refid="JO_Base_Column_List" />
    from JO_ORDER jo
    left join  jo_task jt on jt.jo_id = jo.id
    where jt.id = #{taskId}
  </select>
  <sql id="JO_Base_Column_List">
    jo.AG_ID, jo.AG_NAME, jo.BUS_ID, jo.BUS_NUM, jo.PALTFORM_NUM, jo.PLATFORM_NAME, jo.JO_FIRST_KEY_NUM,
    jo.JO_SECOND_KEY_NUM, jo.PRIORITY_LEVEL, jo.LAUNCH_TIME, jo.LAUNCH_PERSON_ID, jo.LAUNCH_PERSON_NAME,
    jo.LAUNCH_PERSON_EMAIL, jo.LAUNCH_BRANCH_ID, jo.LAUNCH_BRANCH_NAME, jo.ACCEPT_GROUP_CODE, jo.ACCEPT_GROUP,
    jo.ACCEPT_NOW_GROUP, jo.DEAL_TIME_START, jo.DEAL_TIME_END, jo.DEAL_TIME_LENGTH, jo.JO_PROGRESS,
    jo.JO_TITLE, jo.JO_CONTENT, jo.JO_ASSESS_LEVEL, jo.JO_ASSESSOR_NAME, jo.JO_ASSESSOR_TYPE, jo.JO_ASSESSOR_ID,
    jo.JO_ASSESS_CONTENT, jo.JO_ASSESS_TIME, jo.VERSION
  </sql>
  <select id="queryAgPro" parameterType="string" resultType="map">
    SELECT
      a.id AS agId,
      a.ag_uniq_num AS agUId,
      a.ag_name AS agName,
      a.ag_doc_pro AS agProCode,
      c.name AS agProName
    FROM a_agent a
    LEFT JOIN c_organization c ON c.id = a.ag_doc_pro
    WHERE a.id = #{agId}
  </select>

</mapper>