<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.jobOrder.dao.JoTaskMapper">
  <resultMap id="BaseResultMap" type="com.ryx.jobOrder.pojo.JoTask">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="JO_ID" jdbcType="VARCHAR" property="joId" />
    <result column="JO_TASK_STATUS" jdbcType="VARCHAR" property="joTaskStatus" />
    <result column="JO_TASK_TIME" jdbcType="TIMESTAMP" property="joTaskTime" />
    <result column="JO_TASK_ACCEPT_TIME" jdbcType="TIMESTAMP" property="joTaskAcceptTime" />
    <result column="JO_TASK_NEXT_TIME" jdbcType="TIMESTAMP" property="joTaskNextTime" />
    <result column="DEAL_GROUP_ID" jdbcType="VARCHAR" property="dealGroupId" />
    <result column="DEAL_GROUP" jdbcType="VARCHAR" property="dealGroup" />
    <result column="DEAL_PERSON_ID" jdbcType="VARCHAR" property="dealPersonId" />
    <result column="DEAL_PERSON_NAME" jdbcType="VARCHAR" property="dealPersonName" />
    <result column="SECOND_DEAL_GROUP" jdbcType="VARCHAR" property="secondDealGroup" />
    <result column="BACK_DEAL_GROUP" jdbcType="VARCHAR" property="backDealGroup" />
    <result column="BACK_DEAL_PERSON" jdbcType="VARCHAR" property="backDealPerson" />
    <result column="JO_TASK_CONTENT" jdbcType="VARCHAR" property="joTaskContent" />
    <result column="JO_TASK_ANNEX_ID" jdbcType="VARCHAR" property="joTaskAnnexId" />
    <result column="JO_TASK_TIME_LENGTH" jdbcType="DECIMAL" property="joTaskTimeLength" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, JO_ID, JO_TASK_STATUS, JO_TASK_TIME, JO_TASK_ACCEPT_TIME, JO_TASK_NEXT_TIME, 
    DEAL_GROUP_ID, DEAL_GROUP, DEAL_PERSON_ID, DEAL_PERSON_NAME, SECOND_DEAL_GROUP, BACK_DEAL_GROUP, 
    BACK_DEAL_PERSON, JO_TASK_CONTENT, JO_TASK_ANNEX_ID, JO_TASK_TIME_LENGTH, VERSION
  </sql>
  <select id="selectByExample" parameterType="com.ryx.jobOrder.pojo.JoTaskExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from JO_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JO_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.jobOrder.pojo.JoTaskExample">
    delete from JO_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.jobOrder.pojo.JoTask">
    insert into JO_TASK (ID, JO_ID, JO_TASK_STATUS, 
      JO_TASK_TIME, JO_TASK_ACCEPT_TIME, JO_TASK_NEXT_TIME, 
      DEAL_GROUP_ID, DEAL_GROUP, DEAL_PERSON_ID, 
      DEAL_PERSON_NAME, SECOND_DEAL_GROUP, BACK_DEAL_GROUP, 
      BACK_DEAL_PERSON, JO_TASK_CONTENT, JO_TASK_ANNEX_ID, 
      JO_TASK_TIME_LENGTH, VERSION)
    values (#{id,jdbcType=VARCHAR}, #{joId,jdbcType=VARCHAR}, #{joTaskStatus,jdbcType=VARCHAR}, 
      #{joTaskTime,jdbcType=TIMESTAMP}, #{joTaskAcceptTime,jdbcType=TIMESTAMP}, #{joTaskNextTime,jdbcType=TIMESTAMP}, 
      #{dealGroupId,jdbcType=VARCHAR}, #{dealGroup,jdbcType=VARCHAR}, #{dealPersonId,jdbcType=VARCHAR}, 
      #{dealPersonName,jdbcType=VARCHAR}, #{secondDealGroup,jdbcType=VARCHAR}, #{backDealGroup,jdbcType=VARCHAR}, 
      #{backDealPerson,jdbcType=VARCHAR}, #{joTaskContent,jdbcType=VARCHAR}, #{joTaskAnnexId,jdbcType=VARCHAR}, 
      #{joTaskTimeLength,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.jobOrder.pojo.JoTask">
    insert into JO_TASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="joId != null">
        JO_ID,
      </if>
      <if test="joTaskStatus != null">
        JO_TASK_STATUS,
      </if>
      <if test="joTaskTime != null">
        JO_TASK_TIME,
      </if>
      <if test="joTaskAcceptTime != null">
        JO_TASK_ACCEPT_TIME,
      </if>
      <if test="joTaskNextTime != null">
        JO_TASK_NEXT_TIME,
      </if>
      <if test="dealGroupId != null">
        DEAL_GROUP_ID,
      </if>
      <if test="dealGroup != null">
        DEAL_GROUP,
      </if>
      <if test="dealPersonId != null">
        DEAL_PERSON_ID,
      </if>
      <if test="dealPersonName != null">
        DEAL_PERSON_NAME,
      </if>
      <if test="secondDealGroup != null">
        SECOND_DEAL_GROUP,
      </if>
      <if test="backDealGroup != null">
        BACK_DEAL_GROUP,
      </if>
      <if test="backDealPerson != null">
        BACK_DEAL_PERSON,
      </if>
      <if test="joTaskContent != null">
        JO_TASK_CONTENT,
      </if>
      <if test="joTaskAnnexId != null">
        JO_TASK_ANNEX_ID,
      </if>
      <if test="joTaskTimeLength != null">
        JO_TASK_TIME_LENGTH,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="joId != null">
        #{joId,jdbcType=VARCHAR},
      </if>
      <if test="joTaskStatus != null">
        #{joTaskStatus,jdbcType=VARCHAR},
      </if>
      <if test="joTaskTime != null">
        #{joTaskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="joTaskAcceptTime != null">
        #{joTaskAcceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="joTaskNextTime != null">
        #{joTaskNextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealGroupId != null">
        #{dealGroupId,jdbcType=VARCHAR},
      </if>
      <if test="dealGroup != null">
        #{dealGroup,jdbcType=VARCHAR},
      </if>
      <if test="dealPersonId != null">
        #{dealPersonId,jdbcType=VARCHAR},
      </if>
      <if test="dealPersonName != null">
        #{dealPersonName,jdbcType=VARCHAR},
      </if>
      <if test="secondDealGroup != null">
        #{secondDealGroup,jdbcType=VARCHAR},
      </if>
      <if test="backDealGroup != null">
        #{backDealGroup,jdbcType=VARCHAR},
      </if>
      <if test="backDealPerson != null">
        #{backDealPerson,jdbcType=VARCHAR},
      </if>
      <if test="joTaskContent != null">
        #{joTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="joTaskAnnexId != null">
        #{joTaskAnnexId,jdbcType=VARCHAR},
      </if>
      <if test="joTaskTimeLength != null">
        #{joTaskTimeLength,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.jobOrder.pojo.JoTaskExample" resultType="java.lang.Long">
    select count(*) from JO_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.jobOrder.pojo.JoTask">
    update JO_TASK
    <set>
      <if test="joId != null">
        JO_ID = #{joId,jdbcType=VARCHAR},
      </if>
      <if test="joTaskStatus != null">
        JO_TASK_STATUS = #{joTaskStatus,jdbcType=VARCHAR},
      </if>
      <if test="joTaskTime != null">
        JO_TASK_TIME = #{joTaskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="joTaskAcceptTime != null">
        JO_TASK_ACCEPT_TIME = #{joTaskAcceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="joTaskNextTime != null">
        JO_TASK_NEXT_TIME = #{joTaskNextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealGroupId != null">
        DEAL_GROUP_ID = #{dealGroupId,jdbcType=VARCHAR},
      </if>
      <if test="dealGroup != null">
        DEAL_GROUP = #{dealGroup,jdbcType=VARCHAR},
      </if>
      <if test="dealPersonId != null">
        DEAL_PERSON_ID = #{dealPersonId,jdbcType=VARCHAR},
      </if>
      <if test="dealPersonName != null">
        DEAL_PERSON_NAME = #{dealPersonName,jdbcType=VARCHAR},
      </if>
      <if test="secondDealGroup != null">
        SECOND_DEAL_GROUP = #{secondDealGroup,jdbcType=VARCHAR},
      </if>
      <if test="backDealGroup != null">
        BACK_DEAL_GROUP = #{backDealGroup,jdbcType=VARCHAR},
      </if>
      <if test="backDealPerson != null">
        BACK_DEAL_PERSON = #{backDealPerson,jdbcType=VARCHAR},
      </if>
      <if test="joTaskContent != null">
        JO_TASK_CONTENT = #{joTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="joTaskAnnexId != null">
        JO_TASK_ANNEX_ID = #{joTaskAnnexId,jdbcType=VARCHAR},
      </if>
      <if test="joTaskTimeLength != null">
        JO_TASK_TIME_LENGTH = #{joTaskTimeLength,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = VERSION + 1
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR} and VERSION = #{version,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.jobOrder.pojo.JoTask">
    update JO_TASK
    set JO_ID = #{joId,jdbcType=VARCHAR},
      JO_TASK_STATUS = #{joTaskStatus,jdbcType=VARCHAR},
      JO_TASK_TIME = #{joTaskTime,jdbcType=TIMESTAMP},
      JO_TASK_ACCEPT_TIME = #{joTaskAcceptTime,jdbcType=TIMESTAMP},
      JO_TASK_NEXT_TIME = #{joTaskNextTime,jdbcType=TIMESTAMP},
      DEAL_GROUP_ID = #{dealGroupId,jdbcType=VARCHAR},
      DEAL_GROUP = #{dealGroup,jdbcType=VARCHAR},
      DEAL_PERSON_ID = #{dealPersonId,jdbcType=VARCHAR},
      DEAL_PERSON_NAME = #{dealPersonName,jdbcType=VARCHAR},
      SECOND_DEAL_GROUP = #{secondDealGroup,jdbcType=VARCHAR},
      BACK_DEAL_GROUP = #{backDealGroup,jdbcType=VARCHAR},
      BACK_DEAL_PERSON = #{backDealPerson,jdbcType=VARCHAR},
      JO_TASK_CONTENT = #{joTaskContent,jdbcType=VARCHAR},
      JO_TASK_ANNEX_ID = #{joTaskAnnexId,jdbcType=VARCHAR},
      JO_TASK_TIME_LENGTH = #{joTaskTimeLength,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
  <resultMap id="JoTaskVoBaseResultMap" type="com.ryx.jobOrder.vo.JoTaskVo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AG_ID" jdbcType="VARCHAR" property="agId" />
    <result column="AG_NAME" jdbcType="VARCHAR" property="agName" />
    <result column="BUS_ID" jdbcType="VARCHAR" property="busId" />
    <result column="BUS_NUM" jdbcType="VARCHAR" property="busNum" />
    <result column="PALTFORM_NUM" jdbcType="VARCHAR" property="paltformNum" />
    <result column="PLATFORM_NAME" jdbcType="VARCHAR" property="platformName" />
    <result column="JO_TOP_KEY_NUM" jdbcType="VARCHAR" property="joTopKeyNum" />
    <result column="JO_FIRST_KEY_NUM" jdbcType="VARCHAR" property="joFirstKeyNum" />
    <result column="JO_SECOND_KEY_NUM" jdbcType="VARCHAR" property="joSecondKeyNum" />
    <result column="PRIORITY_LEVEL" jdbcType="VARCHAR" property="priorityLevel" />
    <result column="LAUNCH_TIME" jdbcType="TIMESTAMP" property="launchTime" />
    <result column="LAUNCH_PERSON_ID" jdbcType="VARCHAR" property="launchPersonId" />
    <result column="LAUNCH_PERSON_NAME" jdbcType="VARCHAR" property="launchPersonName" />
    <result column="LAUNCH_PERSON_EMAIL" jdbcType="VARCHAR" property="launchPersonEmail" />
    <result column="LAUNCH_BRANCH_ID" jdbcType="VARCHAR" property="launchBranchId" />
    <result column="LAUNCH_BRANCH_NAME" jdbcType="VARCHAR" property="launchBranchName" />
    <result column="ACCEPT_GROUP_CODE" jdbcType="VARCHAR" property="acceptGroupCode" />
    <result column="ACCEPT_GROUP" jdbcType="VARCHAR" property="acceptGroup" />
    <result column="ACCEPT_NOW_GROUP" jdbcType="VARCHAR" property="acceptNowGroup" />
    <result column="DEAL_TIME_START" jdbcType="TIMESTAMP" property="dealTimeStart" />
    <result column="DEAL_TIME_END" jdbcType="TIMESTAMP" property="dealTimeEnd" />
    <result column="DEAL_TIME_LENGTH" jdbcType="DECIMAL" property="dealTimeLength" />
    <result column="joTaskId" jdbcType="VARCHAR" property="joTaskId" />
    <result column="joTaskStatus" jdbcType="VARCHAR" property="joTaskStatus" />
    <result column="joTaskTime" jdbcType="VARCHAR" property="joTaskTime" />
    <result column="joTaskAcceptTime" jdbcType="VARCHAR" property="joTaskAcceptTime" />
    <result column="joDealPersonId" jdbcType="VARCHAR" property="joDealPersonId" />
    <result column="joDealPersonName" jdbcType="VARCHAR" property="joDealPersonName" />
  </resultMap>
  <sql id="JoTaskVo_Column_List">
    jo.ID, jo.AG_ID, jo.AG_NAME, jo.BUS_ID, jo.BUS_NUM, jo.PALTFORM_NUM, jo.PLATFORM_NAME,
    jm0.jo_key_name as JO_TOP_KEY_NUM,
    jm1.jo_key_name as JO_FIRST_KEY_NUM,
    jm2.jo_key_name as JO_SECOND_KEY_NUM,
    jm3.jo_key_name as PRIORITY_LEVEL,
    jo.LAUNCH_TIME, jo.LAUNCH_PERSON_ID, jo.LAUNCH_PERSON_NAME,
    jo.LAUNCH_PERSON_EMAIL, jo.LAUNCH_BRANCH_ID, jo.LAUNCH_BRANCH_NAME, jo.ACCEPT_GROUP_CODE, jo.ACCEPT_GROUP,
    jo.ACCEPT_NOW_GROUP, jo.DEAL_TIME_START, jo.DEAL_TIME_END, jo.DEAL_TIME_LENGTH, jo.JO_PROGRESS,
    jt.id as joTaskId, jt.jo_task_status  as joTaskStatus, jt.jo_task_time as joTaskTime,
    jt.jo_task_accept_time as joTaskAcceptTime, jt.deal_person_id as joDealPersonId,
    jt.deal_person_name as joDealPersonName
  </sql>
  <select id="selectByJoTaskVo"  resultMap="JoTaskVoBaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <include refid="JoTaskVo_Column_List" />
    from JO_TASK jt
    left join JO_ORDER jo on jo.id = jt.jo_id
    left join jo_key_manage jm1 on jm1.id = jo.jo_first_key_num
    left join jo_key_manage jm0 on jm0.id = jm1.jo_key_back_num
    left join jo_key_manage jm2 on jm2.id = jo.jo_second_key_num
    left join jo_key_manage jm3 on jm3.id = jo.priority_level
    LEFT JOIN (select m1.jo_key top_key,
                    m2.jo_key first_key,
                    m3.jo_key second_key,
                    m1.jo_key_name || '-' || m2.jo_key_name || '-' || m3.jo_key_name as order_type
                    from JO_KEY_MANAGE m1
                    left join JO_KEY_MANAGE m2
                    on m2.JO_KEY_BACK_NUM = m1.jo_key
                    left join jo_key_manage m3
                    on m3.jo_key_back_num = m2.jo_key
                    where m1.jo_key_type = '0') ot ON ot.second_key = jo.jo_second_key_num
    <if test="_parameter != null">
      <include refid="TaskVoExample_Where_Clause" />
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <sql id="TaskVoExample_Where_Clause">
    <where>
        1=1
      <if test="example.id != null and example.id != ''">
        and jo.id = #{example.id}
      </if>
      <if test="example.platfromPerm != null and example.platfromPerm.size > 0">
        and (jo.paltform_num is null
        or (jo.paltform_num in
        <foreach collection="example.platfromPerm" item="platfromPermItem" open="(" separator="," close=")">
            #{platfromPermItem.PLATFORM_NUM}
        </foreach>
        ))
      </if>
      <if test="example.joTaskId != null and example.joTaskId != ''">
        and jt.id = #{example.joTaskId}
      </if>
      <if test="example.joFirstKeyNum != null and example.joFirstKeyNum != ''">
        and jo.jo_first_key_num = #{example.joFirstKeyNum}
      </if>
      <if test="example.joSecondKeyNum != null and example.joSecondKeyNum != ''">
        and jo.jo_second_key_num = #{example.joSecondKeyNum}
      </if>
      <if test="example.agId != null and example.agId != ''">
        and jo.ag_id = #{example.agId}
      </if>
      <if test="example.agName != null and example.agName != ''">
        and jo.ag_name like  CONCAT(CONCAT('%',#{example.agName}),'%')
      </if>
      <if test="example.launchBranchName != null and example.launchBranchName != ''">
        and jo.launch_branch_name like  CONCAT(CONCAT('%',#{example.launchBranchName}),'%')
      </if>
      <if test="example.orderType != null and example.orderType != ''">
        and ot.order_type like CONCAT(CONCAT('%',#{example.orderType}),'%')
      </if>
      <if test="example.busNum != null and example.busNum != '' ">
        and jo.bus_num = #{example.busNum}
      </if>
      <if test="example.priorityLevel != null and example.priorityLevel != ''">
        and jo.priority_level = #{example.priorityLevel}
      </if>
      <if test="example.joProgress != null and example.joProgress != ''">
        and jo.jo_progress = #{example.joProgress}
      </if>
      <if test="example.acceptGroupCode != null and example.acceptGroupCode != ''">
        and jt.deal_group_id = #{example.acceptGroupCode}
      </if>
      <if test="example.joDealGroupId != null and example.joDealGroupId != ''">
        and jt.deal_group_id = #{example.joDealGroupId}
      </if>
      <if test="example.secondDealGroup != null and example.secondDealGroup != ''">
        and jt.second_deal_group = #{example.secondDealGroup}
      </if>
      <if test="example.joTaskStatus != null and example.joTaskStatus != ''">
        and jt.jo_task_status = #{example.joTaskStatus}
      </if>
      <if test="example.joStartTimeBegin!=null and example.joStartTimeEnd!=null">
        and to_date(to_char(jo_task_time,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between to_date(to_char(#{example.joStartTimeBegin},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')  and to_date(to_char(#{example.joStartTimeEnd},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="example.joAcceptTimeBegin!=null and example.joAcceptTimeEnd!=null">
        and to_date(to_char(jo_task_accept_time,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between to_date(to_char(#{example.joAcceptTimeBegin},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')  and to_date(to_char(#{example.joAcceptTimeEnd},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')
      </if>
      <!--<if test="example.joStartTimeBegin != null and example.joStartTimeEnd != null ">
        and jo_task_time between #{example.joStartTimeBegin} and #{example.joStartTimeEnd}
      </if>
      <if test="example.joAcceptTimeBegin != null and example.joAcceptTimeEnd != null ">
        and jo_task_accept_time between #{example.joAcceptTimeBegin} and #{example.joAcceptTimeEnd}
      </if>-->
    </where>
        order by joTaskId desc
  </sql>
</mapper>