<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.machine.dao.ImsTermMachineMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.machine.entity.ImsTermMachine">
    <id column="MACHINE_ID" jdbcType="VARCHAR" property="machineId" />
    <result column="MODEL" jdbcType="VARCHAR" property="model" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="MIN_ORD_QTY" jdbcType="DECIMAL" property="minOrdQty" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_PERSON" jdbcType="VARCHAR" property="createPerson" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="UPDATE_PERSON" jdbcType="VARCHAR" property="updatePerson" />
    <result column="TERM_TYPE" jdbcType="VARCHAR" property="termType" />
    <result column="COMM_TYPE" jdbcType="VARCHAR" property="commType" />
    <result column="MACHINE_MANUF" jdbcType="VARCHAR" property="machineManuf" />
    <result column="IS_OUTER_PINPAD" jdbcType="VARCHAR" property="isOuterPinpad" />
    <result column="IS_NON_CONN" jdbcType="VARCHAR" property="isNonConn" />
    <result column="IS_ELECT_SIGN" jdbcType="VARCHAR" property="isElectSign" />
    <result column="DEPOSIT" jdbcType="DECIMAL" property="deposit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MACHINE_ID, MODEL, PRICE, MIN_ORD_QTY, STATUS, REMARK, CREATE_TIME, CREATE_PERSON, 
    UPDATE_TIME, UPDATE_PERSON, TERM_TYPE, COMM_TYPE, MACHINE_MANUF, IS_OUTER_PINPAD, 
    IS_NON_CONN, IS_ELECT_SIGN, DEPOSIT
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.machine.entity.ImsTermMachineExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS_TERM_MACHINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS_TERM_MACHINE
    where MACHINE_ID = #{machineId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.machine.entity.ImsTermMachineExample">
    delete from IMS_TERM_MACHINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.machine.entity.ImsTermMachine">
    insert into IMS_TERM_MACHINE (MACHINE_ID, MODEL, PRICE, 
      MIN_ORD_QTY, STATUS, REMARK, 
      CREATE_TIME, CREATE_PERSON, UPDATE_TIME, 
      UPDATE_PERSON, TERM_TYPE, COMM_TYPE, 
      MACHINE_MANUF, IS_OUTER_PINPAD, IS_NON_CONN, 
      IS_ELECT_SIGN, DEPOSIT)
    values (#{machineId,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{minOrdQty,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{updatePerson,jdbcType=VARCHAR}, #{termType,jdbcType=VARCHAR}, #{commType,jdbcType=VARCHAR}, 
      #{machineManuf,jdbcType=VARCHAR}, #{isOuterPinpad,jdbcType=VARCHAR}, #{isNonConn,jdbcType=VARCHAR}, 
      #{isElectSign,jdbcType=VARCHAR}, #{deposit,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.machine.entity.ImsTermMachine">
    insert into IMS_TERM_MACHINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="machineId != null">
        MACHINE_ID,
      </if>
      <if test="model != null">
        MODEL,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="minOrdQty != null">
        MIN_ORD_QTY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createPerson != null">
        CREATE_PERSON,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updatePerson != null">
        UPDATE_PERSON,
      </if>
      <if test="termType != null">
        TERM_TYPE,
      </if>
      <if test="commType != null">
        COMM_TYPE,
      </if>
      <if test="machineManuf != null">
        MACHINE_MANUF,
      </if>
      <if test="isOuterPinpad != null">
        IS_OUTER_PINPAD,
      </if>
      <if test="isNonConn != null">
        IS_NON_CONN,
      </if>
      <if test="isElectSign != null">
        IS_ELECT_SIGN,
      </if>
      <if test="deposit != null">
        DEPOSIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="machineId != null">
        #{machineId,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="minOrdQty != null">
        #{minOrdQty,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="termType != null">
        #{termType,jdbcType=VARCHAR},
      </if>
      <if test="commType != null">
        #{commType,jdbcType=VARCHAR},
      </if>
      <if test="machineManuf != null">
        #{machineManuf,jdbcType=VARCHAR},
      </if>
      <if test="isOuterPinpad != null">
        #{isOuterPinpad,jdbcType=VARCHAR},
      </if>
      <if test="isNonConn != null">
        #{isNonConn,jdbcType=VARCHAR},
      </if>
      <if test="isElectSign != null">
        #{isElectSign,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.machine.entity.ImsTermMachineExample" resultType="java.lang.Long">
    select count(*) from IMS_TERM_MACHINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.machine.entity.ImsTermMachine">
    update IMS_TERM_MACHINE
    <set>
      <if test="model != null">
        MODEL = #{model,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="minOrdQty != null">
        MIN_ORD_QTY = #{minOrdQty,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null">
        CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updatePerson != null">
        UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="termType != null">
        TERM_TYPE = #{termType,jdbcType=VARCHAR},
      </if>
      <if test="commType != null">
        COMM_TYPE = #{commType,jdbcType=VARCHAR},
      </if>
      <if test="machineManuf != null">
        MACHINE_MANUF = #{machineManuf,jdbcType=VARCHAR},
      </if>
      <if test="isOuterPinpad != null">
        IS_OUTER_PINPAD = #{isOuterPinpad,jdbcType=VARCHAR},
      </if>
      <if test="isNonConn != null">
        IS_NON_CONN = #{isNonConn,jdbcType=VARCHAR},
      </if>
      <if test="isElectSign != null">
        IS_ELECT_SIGN = #{isElectSign,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null">
        DEPOSIT = #{deposit,jdbcType=DECIMAL},
      </if>
    </set>
    where MACHINE_ID = #{machineId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.machine.entity.ImsTermMachine">
    update IMS_TERM_MACHINE
    set MODEL = #{model,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      MIN_ORD_QTY = #{minOrdQty,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
      TERM_TYPE = #{termType,jdbcType=VARCHAR},
      COMM_TYPE = #{commType,jdbcType=VARCHAR},
      MACHINE_MANUF = #{machineManuf,jdbcType=VARCHAR},
      IS_OUTER_PINPAD = #{isOuterPinpad,jdbcType=VARCHAR},
      IS_NON_CONN = #{isNonConn,jdbcType=VARCHAR},
      IS_ELECT_SIGN = #{isElectSign,jdbcType=VARCHAR},
      DEPOSIT = #{deposit,jdbcType=DECIMAL}
    where MACHINE_ID = #{machineId,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>