<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.dao.agent.ApprovalFlowRecordMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecord">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="EXECUTION_ID" jdbcType="VARCHAR" property="executionId" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="BUS_ID" jdbcType="VARCHAR" property="busId" />
    <result column="BUS_TYPE" jdbcType="VARCHAR" property="busType" />
    <result column="APPROVAL_PERSON" jdbcType="VARCHAR" property="approvalPerson" />
    <result column="APPROVAL_DEP" jdbcType="VARCHAR" property="approvalDep" />
    <result column="APPROVAL_TIME" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="APPROVAL_RESULT" jdbcType="VARCHAR" property="approvalResult" />
    <result column="APPROVAL_OPINION" jdbcType="VARCHAR" property="approvalOpinion" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="ACTIVITY_STATUS" jdbcType="DECIMAL" property="activityStatus" />
    <result column="ERROR_MSG" jdbcType="VARCHAR" property="errorMsg" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="SUBMITDATE" jdbcType="VARCHAR" property="subMitDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TASK_ID, EXECUTION_ID, TASK_NAME, BUS_ID, BUS_TYPE, APPROVAL_PERSON, APPROVAL_DEP,
    APPROVAL_TIME, APPROVAL_RESULT, APPROVAL_OPINION, STATUS, VERSION, ACTIVITY_STATUS,
    ERROR_MSG, AGENT_ID, AGENT_NAME
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecordExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from A_APPROVAL_FLOW_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from A_APPROVAL_FLOW_RECORD
    where ID = #{id,jdbcType=VARCHAR} and status=1
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecordExample">
    delete from A_APPROVAL_FLOW_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecord">
    insert into A_APPROVAL_FLOW_RECORD (ID, TASK_ID, EXECUTION_ID,
    TASK_NAME, BUS_ID, BUS_TYPE,
    APPROVAL_PERSON, APPROVAL_DEP, APPROVAL_TIME,
    APPROVAL_RESULT, APPROVAL_OPINION, STATUS,
    VERSION, ACTIVITY_STATUS, ERROR_MSG,
    AGENT_ID, AGENT_NAME)
    values (#{id,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{executionId,jdbcType=VARCHAR},
    #{taskName,jdbcType=VARCHAR}, #{busId,jdbcType=VARCHAR}, #{busType,jdbcType=VARCHAR},
    #{approvalPerson,jdbcType=VARCHAR}, #{approvalDep,jdbcType=VARCHAR}, #{approvalTime,jdbcType=TIMESTAMP},
    #{approvalResult,jdbcType=VARCHAR}, #{approvalOpinion,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL},
    #{version,jdbcType=DECIMAL}, #{activityStatus,jdbcType=DECIMAL}, #{errorMsg,jdbcType=VARCHAR},
    #{agentId,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecord">
    insert into A_APPROVAL_FLOW_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="executionId != null">
        EXECUTION_ID,
      </if>
      <if test="taskName != null">
        TASK_NAME,
      </if>
      <if test="busId != null">
        BUS_ID,
      </if>
      <if test="busType != null">
        BUS_TYPE,
      </if>
      <if test="approvalPerson != null">
        APPROVAL_PERSON,
      </if>
      <if test="approvalDep != null">
        APPROVAL_DEP,
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME,
      </if>
      <if test="approvalResult != null">
        APPROVAL_RESULT,
      </if>
      <if test="approvalOpinion != null">
        APPROVAL_OPINION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="activityStatus != null">
        ACTIVITY_STATUS,
      </if>
      <if test="errorMsg != null">
        ERROR_MSG,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="busId != null">
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="busType != null">
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="approvalPerson != null">
        #{approvalPerson,jdbcType=VARCHAR},
      </if>
      <if test="approvalDep != null">
        #{approvalDep,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalResult != null">
        #{approvalResult,jdbcType=VARCHAR},
      </if>
      <if test="approvalOpinion != null">
        #{approvalOpinion,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="activityStatus != null">
        #{activityStatus,jdbcType=DECIMAL},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecordExample" resultType="java.lang.Long">
    select count(*) from A_APPROVAL_FLOW_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecord">
    update A_APPROVAL_FLOW_RECORD
    <set>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        EXECUTION_ID = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="busId != null">
        BUS_ID = #{busId,jdbcType=VARCHAR},
      </if>
      <if test="busType != null">
        BUS_TYPE = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="approvalPerson != null">
        APPROVAL_PERSON = #{approvalPerson,jdbcType=VARCHAR},
      </if>
      <if test="approvalDep != null">
        APPROVAL_DEP = #{approvalDep,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalResult != null">
        APPROVAL_RESULT = #{approvalResult,jdbcType=VARCHAR},
      </if>
      <if test="approvalOpinion != null">
        APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="activityStatus != null">
        ACTIVITY_STATUS = #{activityStatus,jdbcType=DECIMAL},
      </if>
      <if test="errorMsg != null">
        ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.agent.ApprovalFlowRecord">
    update A_APPROVAL_FLOW_RECORD
    set TASK_ID = #{taskId,jdbcType=VARCHAR},
    EXECUTION_ID = #{executionId,jdbcType=VARCHAR},
    TASK_NAME = #{taskName,jdbcType=VARCHAR},
    BUS_ID = #{busId,jdbcType=VARCHAR},
    BUS_TYPE = #{busType,jdbcType=VARCHAR},
    APPROVAL_PERSON = #{approvalPerson,jdbcType=VARCHAR},
    APPROVAL_DEP = #{approvalDep,jdbcType=VARCHAR},
    APPROVAL_TIME = #{approvalTime,jdbcType=TIMESTAMP},
    APPROVAL_RESULT = #{approvalResult,jdbcType=VARCHAR},
    APPROVAL_OPINION = #{approvalOpinion,jdbcType=VARCHAR},
    STATUS = #{status,jdbcType=DECIMAL},
    VERSION = #{version,jdbcType=DECIMAL},
    ACTIVITY_STATUS = #{activityStatus,jdbcType=DECIMAL},
    ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
    AGENT_ID = #{agentId,jdbcType=VARCHAR},
    AGENT_NAME = #{agentName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>



  <select id="selectByExampleWithBusActRel" parameterType="map" resultMap="BaseResultMap">
    <if test="ApprovalFlowRecordExample.page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
    select
    <if test="distinct">
      distinct
    </if>
    A_APPROVAL_FLOW_RECORD.ID,
    A_APPROVAL_FLOW_RECORD.TASK_ID,
    A_APPROVAL_FLOW_RECORD.EXECUTION_ID,
    A_APPROVAL_FLOW_RECORD.TASK_NAME,
    A_APPROVAL_FLOW_RECORD.BUS_ID,
    A_APPROVAL_FLOW_RECORD.BUS_TYPE,
    A_APPROVAL_FLOW_RECORD.APPROVAL_PERSON,
    A_APPROVAL_FLOW_RECORD.APPROVAL_DEP,
    A_APPROVAL_FLOW_RECORD.APPROVAL_TIME,
    A_APPROVAL_FLOW_RECORD.APPROVAL_RESULT,
    A_APPROVAL_FLOW_RECORD.APPROVAL_OPINION,
    A_APPROVAL_FLOW_RECORD.STATUS,
    A_APPROVAL_FLOW_RECORD.VERSION,
    A_APPROVAL_FLOW_RECORD.ACTIVITY_STATUS,
    A_APPROVAL_FLOW_RECORD.ERROR_MSG,
    A_APPROVAL_FLOW_RECORD.AGENT_ID,
    A_APPROVAL_FLOW_RECORD.AGENT_NAME,
    TO_CHAR(a_bus_act_rel.c_time,'yyyy-MM-dd') as SUBMITDATE
    from A_APPROVAL_FLOW_RECORD
    left join a_bus_act_rel on A_APPROVAL_FLOW_RECORD.EXECUTION_ID = a_bus_act_rel.activ_id
    <if test="ApprovalFlowRecordExample != null">
      <where>
        <foreach collection="ApprovalFlowRecordExample.oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
        <if test="subMitDateSta!=null and subMitDateEnd!=null and subMitDateSta!='' and subMitDateEnd!=''">
          and to_char(a_bus_act_rel.c_time,'yyyy-MM-dd') &gt;= #{subMitDateSta} and to_char(a_bus_act_rel.c_time,'yyyy-MM-dd') &lt;= #{subMitDateEnd}
        </if>
      </where>
    </if>
    <if test="ApprovalFlowRecordExample.orderByClause != null">
      order by ${ApprovalFlowRecordExample.orderByClause}
    </if>
    <if test="ApprovalFlowRecordExample.page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{ApprovalFlowRecordExample.page.begin} and rownum_ <= #{ApprovalFlowRecordExample.page.end} ]]>
    </if>
  </select>
  <select id="selectByExampleWithBusActRelCount" parameterType="map" resultType="long">
    select
    count(*)
    from A_APPROVAL_FLOW_RECORD
    left join a_bus_act_rel on A_APPROVAL_FLOW_RECORD.EXECUTION_ID = a_bus_act_rel.activ_id
    <if test="ApprovalFlowRecordExample != null">
      <where>
        <foreach collection="ApprovalFlowRecordExample.oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and A_APPROVAL_FLOW_RECORD.${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
        <if test="subMitDateSta!=null and subMitDateEnd!=null and subMitDateSta!='' and subMitDateEnd!=''">
          and to_char(a_bus_act_rel.c_time,'yyyy-MM-dd') &gt;= #{subMitDateSta} and to_char(a_bus_act_rel.c_time,'yyyy-MM-dd') &lt;= #{subMitDateEnd}
        </if>
      </where>
    </if>

  </select>

  <select id="exportAgentInfo" parameterType="map" resultMap="ApprovalFlowRecordVo">
    (
    select
    distinct ar.id,
    ar.bus_type as approval_bus_type,
    to_char(ar.approval_time,'YYYY-MM-DD') as approval_time,
    cu.name as approval_person,
    (select d.d_itemname from d_dict d where d.d_group='AGENT_AUDIT' and d.d_artifact='APPROVAL_TYPE'
    and d.d_itemvalue = ar.approval_result and d.d_status=1) as approval_result,
    ar.approval_opinion,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='AG_STATUS_S'
    and d.d_itemvalue = ac.activ_status and d.d_status=1) as activ_status,
    ar.agent_id,
    ar.bus_id,
    ar.agent_name,
    ab.bus_num,
    dq.name as ag_doc_district,
    sq.name as ag_doc_pro,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab.bus_type and d.d_status=1) as bus_type,
    ap.platform_name as bus_platform,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_SCOPE'
    and d.d_itemvalue = ab.bus_scope and d.d_status=1) as bus_scope,
    ab.bus_login_num,
    ab.bus_activation_parent,
    aa_one.ag_name as one_parent_name,
    ab_one.bus_num as one_parent_num,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab_one.bus_type and d.d_status=1) as one_parent_type,
    ap_one.platform_name as one_parent_platform,
    aa_two.ag_name as two_parent_name,
    ab_two.bus_num as two_parent_num,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab_two.bus_type and d.d_status=1) as two_parent_type,
    ap_two.platform_name as two_parent_platform,
    aa_three.ag_name as three_parent_name,
    ab_three.bus_num as three_parent_num,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab_three.bus_type and d.d_status=1) as three_parent_type,
    ap_three.platform_name as three_parent_platform
    from a_approval_flow_record ar
    left join c_user cu on cu.id = ar.approval_person
    left join a_bus_act_rel ac on ar.execution_id = ac.activ_id
    left join a_agent aa on aa.id = ar.agent_id and aa.status=1
    left join a_agent_businfo ab on ab.agent_id = aa.id and ab.status=1
    left join a_agent_businfo ab_one on ab_one.id = ab.bus_parent and ab_one.status=1
    left join a_agent_businfo ab_two on ab_two.id = ab_one.bus_parent and ab_two.status=1
    left join a_agent_businfo ab_three on ab_three.id = ab_two.bus_parent and ab_three.status=1
    left join a_agent aa_one on aa_one.id = ab_one.agent_id and aa_one.status=1
    left join a_agent aa_two on aa_two.id = ab_two.agent_id and aa_two.status=1
    left join a_agent aa_three on aa_three.id = ab_three.agent_id and aa_three.status=1
    left join c_organization dq on dq.id = ab.ag_doc_district
    left join c_organization sq on sq.id = ab.ag_doc_pro
    left join a_platform ap on ap.platform_num = ab.bus_platform and ap.status=1
    left join a_platform ap_one on ap_one.platform_num = ab_one.bus_platform and ap_one.status=1
    left join a_platform ap_two on ap_two.platform_num = ab_two.bus_platform and ap_two.status=1
    left join a_platform ap_three on ap_three.platform_num = ab_three.bus_platform and ap_three.status=1
    <where>
      <if test="1==1"> and ar.status=1 </if>
      <if test="approvalPerson!=null and approvalPerson!=''"> and ar.approval_person = #{approvalPerson} </if>
      <if test="busId!=null and busId!=''"> and ar.bus_id = #{busId} </if>
      <if test="busType!=null and busType!=''"> and ar.bus_type = #{busType} </if>
      <if test="approvalResult!=null and approvalResult!=''"> and ar.approval_result = #{approvalResult} </if>
      <if test="agentId!=null and agentId!=''"> and ar.agent_id = #{agentId} </if>
      <if test="agentName!=null and agentName!=''"> and ar.agent_name like #{agentName} </if>
      <if test="beginTime!=null and endTime!=null and beginTime!='' and endTime!=''">
        and to_char(ar.approval_time,'yyyy-MM-dd') &gt;= #{beginTime} and to_char(ar.approval_time,'yyyy-MM-dd') &lt;= #{endTime}
      </if>
      <if test="subMitDateSta!=null and subMitDateEnd!=null and subMitDateSta!='' and subMitDateEnd!=''">
        and to_char(ac.c_time,'yyyy-MM-dd') &gt;= #{subMitDateSta} and to_char(ac.c_time,'yyyy-MM-dd') &lt;= #{subMitDateEnd}
      </if>
    </where>
    )
    order by approval_time desc
  </select>

  <select id="exportBusinfo" parameterType="map" resultMap="ApprovalFlowRecordVo">
    (
    select
    distinct ar.id,
    ar.bus_type as approval_bus_type,
    to_char(ar.approval_time,'YYYY-MM-DD') as approval_time,
    cu.name as approval_person,
    (select d.d_itemname from d_dict d where d.d_group='AGENT_AUDIT' and d.d_artifact='APPROVAL_TYPE'
    and d.d_itemvalue = ar.approval_result and d.d_status=1) as approval_result,
    ar.approval_opinion,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='AG_STATUS_S'
    and d.d_itemvalue = ac.activ_status and d.d_status=1) as activ_status,
    ar.agent_id,
    ar.bus_id,
    ar.agent_name,
    ab.bus_num,
    dq.name as ag_doc_district,
    sq.name as ag_doc_pro,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab.bus_type and d.d_status=1) as bus_type,
    ap.platform_name as bus_platform,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_SCOPE'
    and d.d_itemvalue = ab.bus_scope and d.d_status=1) as bus_scope,
    ab.bus_login_num,
    ab.bus_activation_parent,
    aa_one.ag_name as one_parent_name,
    ab_one.bus_num as one_parent_num,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab_one.bus_type and d.d_status=1) as one_parent_type,
    ap_one.platform_name as one_parent_platform,
    aa_two.ag_name as two_parent_name,
    ab_two.bus_num as two_parent_num,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab_two.bus_type and d.d_status=1) as two_parent_type,
    ap_two.platform_name as two_parent_platform,
    aa_three.ag_name as three_parent_name,
    ab_three.bus_num as three_parent_num,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='BUS_TYPE'
    and d.d_itemvalue = ab_three.bus_type and d.d_status=1) as three_parent_type,
    ap_three.platform_name as three_parent_platform
    from a_approval_flow_record ar
    left join c_user cu on cu.id = ar.approval_person
    left join a_bus_act_rel ac on ar.execution_id = ac.activ_id
    left join a_agent_businfo ab on ab.id = ar.bus_id and ab.status=1
    left join a_agent_businfo ab_one on ab_one.id = ab.bus_parent and ab_one.status=1
    left join a_agent_businfo ab_two on ab_two.id = ab_one.bus_parent and ab_two.status=1
    left join a_agent_businfo ab_three on ab_three.id = ab_two.bus_parent and ab_three.status=1
    left join a_agent aa on aa.id = ar.agent_id and aa.status=1
    left join a_agent aa_one on aa_one.id = ab_one.agent_id and aa_one.status=1
    left join a_agent aa_two on aa_two.id = ab_two.agent_id and aa_two.status=1
    left join a_agent aa_three on aa_three.id = ab_three.agent_id and aa_three.status=1
    left join c_organization dq on dq.id = ab.ag_doc_district
    left join c_organization sq on sq.id = ab.ag_doc_pro
    left join a_platform ap on ap.platform_num = ab.bus_platform and ap.status=1
    left join a_platform ap_one on ap_one.platform_num = ab_one.bus_platform and ap_one.status=1
    left join a_platform ap_two on ap_two.platform_num = ab_two.bus_platform and ap_two.status=1
    left join a_platform ap_three on ap_three.platform_num = ab_three.bus_platform and ap_three.status=1
    <where>
      <if test="1==1"> and ar.status=1 </if>
      <if test="approvalPerson!=null and approvalPerson!=''"> and ar.approval_person = #{approvalPerson} </if>
      <if test="busId!=null and busId!=''"> and ar.bus_id = #{busId} </if>
      <if test="busType!=null and busType!=''"> and ar.bus_type = #{busType} </if>
      <if test="approvalResult!=null and approvalResult!=''"> and ar.approval_result = #{approvalResult} </if>
      <if test="agentId!=null and agentId!=''"> and ar.agent_id = #{agentId} </if>
      <if test="agentName!=null and agentName!=''"> and ar.agent_name like #{agentName} </if>
      <if test="beginTime!=null and endTime!=null and beginTime!='' and endTime!=''">
        and to_char(ar.approval_time,'yyyy-MM-dd') &gt;= #{beginTime} and to_char(ar.approval_time,'yyyy-MM-dd') &lt;= #{endTime}
      </if>
      <if test="subMitDateSta!=null and subMitDateEnd!=null and subMitDateSta!='' and subMitDateEnd!=''">
        and to_char(ac.c_time,'yyyy-MM-dd') &gt;= #{subMitDateSta} and to_char(ac.c_time,'yyyy-MM-dd') &lt;= #{subMitDateEnd}
      </if>
    </where>
    )
    order by approval_time desc
  </select>

  <select id="exportBusinfoChange" parameterType="map" resultMap="ApprovalFlowRecordVo">
    (
    select
    distinct ar.id,
    ar.bus_type as approval_bus_type,
    to_char(ar.approval_time,'YYYY-MM-DD') as approval_time,
    cu.name as approval_person,
    (select d.d_itemname from d_dict d where d.d_group='AGENT_AUDIT' and d.d_artifact='APPROVAL_TYPE'
    and d.d_itemvalue = ar.approval_result and d.d_status=1) as approval_result,
    ar.approval_opinion,
    (select d.d_itemname from d_dict d where d.d_group='AGENT' and d.d_artifact='AG_STATUS_S'
    and d.d_itemvalue = ac.activ_status and d.d_status=1) as activ_status,
    ar.agent_id,
    ar.bus_id,
    ar.agent_name
    from a_approval_flow_record ar
    left join c_user cu on cu.id = ar.approval_person
    left join a_bus_act_rel ac on ar.execution_id = ac.activ_id
    <where>
      <if test="1==1"> and ar.status=1 </if>
      <if test="approvalPerson!=null and approvalPerson!=''"> and ar.approval_person = #{approvalPerson} </if>
      <if test="busId!=null and busId!=''"> and ar.bus_id = #{busId} </if>
      <if test="busType!=null and busType!=''"> and ar.bus_type = #{busType} </if>
      <if test="approvalResult!=null and approvalResult!=''"> and ar.approval_result = #{approvalResult} </if>
      <if test="agentId!=null and agentId!=''"> and ar.agent_id = #{agentId} </if>
      <if test="agentName!=null and agentName!=''"> and ar.agent_name like #{agentName} </if>
      <if test="beginTime!=null and endTime!=null and beginTime!='' and endTime!=''">
        and to_char(ar.approval_time,'yyyy-MM-dd') &gt;= #{beginTime} and to_char(ar.approval_time,'yyyy-MM-dd') &lt;= #{endTime}
      </if>
      <if test="subMitDateSta!=null and subMitDateEnd!=null and subMitDateSta!='' and subMitDateEnd!=''">
        and to_char(ac.c_time,'yyyy-MM-dd') &gt;= #{subMitDateSta} and to_char(ac.c_time,'yyyy-MM-dd') &lt;= #{subMitDateEnd}
      </if>
    </where>
    )
    order by approval_time desc
  </select>

  <resultMap id="ApprovalFlowRecordVo" type="com.ryx.credit.pojo.admin.vo.ApprovalFlowRecordVo">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="approval_time" property="approvalTime" jdbcType="VARCHAR"/>
    <result column="approval_person" property="approvalPerson" jdbcType="VARCHAR"/>
    <result column="approval_result" property="approvalResult" jdbcType="VARCHAR"/>
    <result column="approval_opinion" property="approvalOpinion" jdbcType="VARCHAR"/>
    <result column="activ_status" property="activStatus" jdbcType="VARCHAR"/>
    <result column="agent_id" property="agentId" jdbcType="VARCHAR"/>
    <result column="bus_id" property="busId" jdbcType="VARCHAR"/>
    <result column="agent_name" property="agentName" jdbcType="VARCHAR"/>
    <result column="bus_num" property="busNum" jdbcType="VARCHAR"/>
    <result column="ag_doc_district" property="agDocDistrict" jdbcType="VARCHAR"/>
    <result column="ag_doc_pro" property="agDocPro" jdbcType="VARCHAR"/>
    <result column="bus_type" property="busType" jdbcType="VARCHAR"/>
    <result column="bus_platform" property="busPlatform" jdbcType="VARCHAR"/>
    <result column="bus_scope" property="busScope" jdbcType="VARCHAR"/>
    <result column="bus_login_num" property="busLoginNum" jdbcType="VARCHAR"/>
    <result column="bus_activation_parent" property="busActivationParent" jdbcType="VARCHAR"/>
    <result column="one_parent_name" property="oneParentName" jdbcType="VARCHAR"/>
    <result column="one_parent_num" property="oneParentNum" jdbcType="VARCHAR"/>
    <result column="one_parent_type" property="oneParentType" jdbcType="VARCHAR"/>
    <result column="one_parent_platform" property="oneParentPlatform" jdbcType="VARCHAR"/>
    <result column="two_parent_name" property="twoParentName" jdbcType="VARCHAR"/>
    <result column="two_parent_num" property="twoParentNum" jdbcType="VARCHAR"/>
    <result column="two_parent_type" property="twoParentType" jdbcType="VARCHAR"/>
    <result column="two_parent_platform" property="twoParentPlatform" jdbcType="VARCHAR"/>
    <result column="three_parent_name" property="threeParentName" jdbcType="VARCHAR"/>
    <result column="three_parent_num" property="threeParentNum" jdbcType="VARCHAR"/>
    <result column="three_parent_type" property="threeParentType" jdbcType="VARCHAR"/>
    <result column="three_parent_platform" property="threeParentPlatform" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectByBusId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from a_approval_flow_record
    where bus_id = #{busId,jdbcType=VARCHAR} and status=1
  </select>

  <select id="selectByAgentName" parameterType="java.lang.String" resultMap="ApprovalFlowRecordVo">
    select
    ab.id as bus_id,
    ab.bus_num as one_parent_num,
    ab.bus_platform,
    ab.agent_id,
    aa.ag_name as one_parent_name
    from a_agent_businfo ab
    left join a_agent aa on aa.id = ab.agent_id and aa.status=1
    where ab.id = #{id,jdbcType=VARCHAR} and ab.status=1
  </select>
</mapper>