<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.agent.BusActRelMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.agent.BusActRel" >
    <id column="ACTIV_ID" property="activId" jdbcType="VARCHAR" />
    <id column="BUS_ID" property="busId" jdbcType="VARCHAR" />
    <result column="BUS_TYPE" property="busType" jdbcType="VARCHAR" />
    <result column="C_TIME" property="cTime" jdbcType="TIMESTAMP" />
    <result column="C_USER" property="cUser" jdbcType="VARCHAR" />
    <result column="ACTIV_STATUS" property="activStatus" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ACTIV_ID, BUS_ID, BUS_TYPE, C_TIME, C_USER, ACTIV_STATUS, STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.agent.BusActRelExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from A_BUS_ACT_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.agent.BusActRelKey" >
    select 
    <include refid="Base_Column_List" />
    from A_BUS_ACT_REL
    where ACTIV_ID = #{activId,jdbcType=VARCHAR}
      and BUS_ID = #{busId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.agent.BusActRelExample" >
    delete from A_BUS_ACT_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.agent.BusActRel" >
    insert into A_BUS_ACT_REL (ACTIV_ID, BUS_ID, BUS_TYPE, 
      C_TIME, C_USER, ACTIV_STATUS, 
      STATUS)
    values (#{activId,jdbcType=VARCHAR}, #{busId,jdbcType=VARCHAR}, #{busType,jdbcType=VARCHAR}, 
      #{cTime,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR}, #{activStatus,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.agent.BusActRel" >
    insert into A_BUS_ACT_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activId != null" >
        ACTIV_ID,
      </if>
      <if test="busId != null" >
        BUS_ID,
      </if>
      <if test="busType != null" >
        BUS_TYPE,
      </if>
      <if test="cTime != null" >
        C_TIME,
      </if>
      <if test="cUser != null" >
        C_USER,
      </if>
      <if test="activStatus != null" >
        ACTIV_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activId != null" >
        #{activId,jdbcType=VARCHAR},
      </if>
      <if test="busId != null" >
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="activStatus != null" >
        #{activStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.agent.BusActRelExample" resultType="java.lang.Integer" >
    select count(*) from A_BUS_ACT_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.agent.BusActRel" >
    update A_BUS_ACT_REL
    <set >
      <if test="busType != null" >
        BUS_TYPE = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="activStatus != null" >
        ACTIV_STATUS = #{activStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ACTIV_ID = #{activId,jdbcType=VARCHAR}
      and BUS_ID = #{busId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.agent.BusActRel" >
    update A_BUS_ACT_REL
    set BUS_TYPE = #{busType,jdbcType=VARCHAR},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      C_USER = #{cUser,jdbcType=VARCHAR},
      ACTIV_STATUS = #{activStatus,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where ACTIV_ID = #{activId,jdbcType=VARCHAR}
      and BUS_ID = #{busId,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>