<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.credit.dao.agent.CapitalChangeApplyMapper">
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.agent.CapitalChangeApply">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CAPITAL_TYPE" jdbcType="VARCHAR" property="capitalType" />
    <result column="CAPITAL_AMT" jdbcType="DECIMAL" property="capitalAmt" />
    <result column="REFUND_TYPE" jdbcType="DECIMAL" property="refundType" />
    <result column="MACHINES_DEPT_AMT" jdbcType="DECIMAL" property="machinesDeptAmt" />
    <result column="OPERATION_TYPE" jdbcType="DECIMAL" property="operationType" />
    <result column="OPERATION_AMT" jdbcType="DECIMAL" property="operationAmt" />
    <result column="REAL_OPERATION_AMT" jdbcType="DECIMAL" property="realOperationAmt" />
    <result column="SERVICE_CHARGE" jdbcType="DECIMAL" property="serviceCharge" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="CLO_REVIEW_STATUS" jdbcType="DECIMAL" property="cloReviewStatus" />
    <result column="CLO_TYPE" jdbcType="DECIMAL" property="cloType" />
    <result column="CLO_REALNAME" jdbcType="VARCHAR" property="cloRealname" />
    <result column="CLO_BANK" jdbcType="VARCHAR" property="cloBank" />
    <result column="CLO_BANK_BRANCH" jdbcType="VARCHAR" property="cloBankBranch" />
    <result column="CLO_BANK_ACCOUNT" jdbcType="VARCHAR" property="cloBankAccount" />
    <result column="ALL_LINE_NUM" jdbcType="VARCHAR" property="allLineNum" />
    <result column="BRANCH_LINE_NUM" jdbcType="VARCHAR" property="branchLineNum" />
    <result column="CLO_TAX_POINT" jdbcType="DECIMAL" property="cloTaxPoint" />
    <result column="CLO_INVOICE" jdbcType="DECIMAL" property="cloInvoice" />
    <result column="BANK_REGION" jdbcType="VARCHAR" property="bankRegion" />
    <result column="CLO_BANK_CODE" jdbcType="VARCHAR" property="cloBankCode" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="U_TIME" jdbcType="TIMESTAMP" property="uTime" />
    <result column="C_USER" jdbcType="VARCHAR" property="cUser" />
    <result column="U_USER" jdbcType="VARCHAR" property="uUser" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="REMIT_TIME" jdbcType="TIMESTAMP" property="remitTime" />
    <result column="REMIT_PERSON" jdbcType="VARCHAR" property="remitPerson" />
    <result column="REMIT_AMT" jdbcType="DECIMAL" property="remitAmt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CAPITAL_TYPE, CAPITAL_AMT, REFUND_TYPE, MACHINES_DEPT_AMT, OPERATION_TYPE, OPERATION_AMT,
    REAL_OPERATION_AMT, SERVICE_CHARGE, AGENT_ID, AGENT_NAME, CLO_REVIEW_STATUS, CLO_TYPE,
    CLO_REALNAME, CLO_BANK, CLO_BANK_BRANCH, CLO_BANK_ACCOUNT, ALL_LINE_NUM, BRANCH_LINE_NUM,
    CLO_TAX_POINT, CLO_INVOICE, BANK_REGION, CLO_BANK_CODE, REMARK, C_TIME, U_TIME, C_USER,
    U_USER, STATUS, VERSION, REMIT_TIME, REMIT_PERSON, REMIT_AMT
  </sql>
  <select id="selectByExample" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApplyExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from A_CAPITAL_CHANGE_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from A_CAPITAL_CHANGE_APPLY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApplyExample">
    delete from A_CAPITAL_CHANGE_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApply">
    insert into A_CAPITAL_CHANGE_APPLY (ID, CAPITAL_TYPE, CAPITAL_AMT,
    REFUND_TYPE, MACHINES_DEPT_AMT, OPERATION_TYPE,
    OPERATION_AMT, REAL_OPERATION_AMT, SERVICE_CHARGE,
    AGENT_ID, AGENT_NAME, CLO_REVIEW_STATUS,
    CLO_TYPE, CLO_REALNAME, CLO_BANK,
    CLO_BANK_BRANCH, CLO_BANK_ACCOUNT, ALL_LINE_NUM,
    BRANCH_LINE_NUM, CLO_TAX_POINT, CLO_INVOICE,
    BANK_REGION, CLO_BANK_CODE, REMARK,
    C_TIME, U_TIME, C_USER,
    U_USER, STATUS, VERSION,
    REMIT_TIME, REMIT_PERSON, REMIT_AMT
    )
    values (#{id,jdbcType=VARCHAR}, #{capitalType,jdbcType=VARCHAR}, #{capitalAmt,jdbcType=DECIMAL},
    #{refundType,jdbcType=DECIMAL}, #{machinesDeptAmt,jdbcType=DECIMAL}, #{operationType,jdbcType=DECIMAL},
    #{operationAmt,jdbcType=DECIMAL}, #{realOperationAmt,jdbcType=DECIMAL}, #{serviceCharge,jdbcType=DECIMAL},
    #{agentId,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, #{cloReviewStatus,jdbcType=DECIMAL},
    #{cloType,jdbcType=DECIMAL}, #{cloRealname,jdbcType=VARCHAR}, #{cloBank,jdbcType=VARCHAR},
    #{cloBankBranch,jdbcType=VARCHAR}, #{cloBankAccount,jdbcType=VARCHAR}, #{allLineNum,jdbcType=VARCHAR},
    #{branchLineNum,jdbcType=VARCHAR}, #{cloTaxPoint,jdbcType=DECIMAL}, #{cloInvoice,jdbcType=DECIMAL},
    #{bankRegion,jdbcType=VARCHAR}, #{cloBankCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{cTime,jdbcType=TIMESTAMP}, #{uTime,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR},
    #{uUser,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL},
    #{remitTime,jdbcType=TIMESTAMP}, #{remitPerson,jdbcType=VARCHAR}, #{remitAmt,jdbcType=DECIMAL}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApply">
    insert into A_CAPITAL_CHANGE_APPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="capitalType != null">
        CAPITAL_TYPE,
      </if>
      <if test="capitalAmt != null">
        CAPITAL_AMT,
      </if>
      <if test="refundType != null">
        REFUND_TYPE,
      </if>
      <if test="machinesDeptAmt != null">
        MACHINES_DEPT_AMT,
      </if>
      <if test="operationType != null">
        OPERATION_TYPE,
      </if>
      <if test="operationAmt != null">
        OPERATION_AMT,
      </if>
      <if test="realOperationAmt != null">
        REAL_OPERATION_AMT,
      </if>
      <if test="serviceCharge != null">
        SERVICE_CHARGE,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="cloReviewStatus != null">
        CLO_REVIEW_STATUS,
      </if>
      <if test="cloType != null">
        CLO_TYPE,
      </if>
      <if test="cloRealname != null">
        CLO_REALNAME,
      </if>
      <if test="cloBank != null">
        CLO_BANK,
      </if>
      <if test="cloBankBranch != null">
        CLO_BANK_BRANCH,
      </if>
      <if test="cloBankAccount != null">
        CLO_BANK_ACCOUNT,
      </if>
      <if test="allLineNum != null">
        ALL_LINE_NUM,
      </if>
      <if test="branchLineNum != null">
        BRANCH_LINE_NUM,
      </if>
      <if test="cloTaxPoint != null">
        CLO_TAX_POINT,
      </if>
      <if test="cloInvoice != null">
        CLO_INVOICE,
      </if>
      <if test="bankRegion != null">
        BANK_REGION,
      </if>
      <if test="cloBankCode != null">
        CLO_BANK_CODE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="cTime != null">
        C_TIME,
      </if>
      <if test="uTime != null">
        U_TIME,
      </if>
      <if test="cUser != null">
        C_USER,
      </if>
      <if test="uUser != null">
        U_USER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="remitTime != null">
        REMIT_TIME,
      </if>
      <if test="remitPerson != null">
        REMIT_PERSON,
      </if>
      <if test="remitAmt != null">
        REMIT_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="capitalType != null">
        #{capitalType,jdbcType=VARCHAR},
      </if>
      <if test="capitalAmt != null">
        #{capitalAmt,jdbcType=DECIMAL},
      </if>
      <if test="refundType != null">
        #{refundType,jdbcType=DECIMAL},
      </if>
      <if test="machinesDeptAmt != null">
        #{machinesDeptAmt,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=DECIMAL},
      </if>
      <if test="operationAmt != null">
        #{operationAmt,jdbcType=DECIMAL},
      </if>
      <if test="realOperationAmt != null">
        #{realOperationAmt,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null">
        #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="cloReviewStatus != null">
        #{cloReviewStatus,jdbcType=DECIMAL},
      </if>
      <if test="cloType != null">
        #{cloType,jdbcType=DECIMAL},
      </if>
      <if test="cloRealname != null">
        #{cloRealname,jdbcType=VARCHAR},
      </if>
      <if test="cloBank != null">
        #{cloBank,jdbcType=VARCHAR},
      </if>
      <if test="cloBankBranch != null">
        #{cloBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="cloBankAccount != null">
        #{cloBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="allLineNum != null">
        #{allLineNum,jdbcType=VARCHAR},
      </if>
      <if test="branchLineNum != null">
        #{branchLineNum,jdbcType=VARCHAR},
      </if>
      <if test="cloTaxPoint != null">
        #{cloTaxPoint,jdbcType=DECIMAL},
      </if>
      <if test="cloInvoice != null">
        #{cloInvoice,jdbcType=DECIMAL},
      </if>
      <if test="bankRegion != null">
        #{bankRegion,jdbcType=VARCHAR},
      </if>
      <if test="cloBankCode != null">
        #{cloBankCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="remitTime != null">
        #{remitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remitPerson != null">
        #{remitPerson,jdbcType=VARCHAR},
      </if>
      <if test="remitAmt != null">
        #{remitAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApplyExample" resultType="java.lang.Long">
    select count(*) from A_CAPITAL_CHANGE_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApply">
    update A_CAPITAL_CHANGE_APPLY
    <set>
      <if test="capitalType != null">
        CAPITAL_TYPE = #{capitalType,jdbcType=VARCHAR},
      </if>
      <if test="capitalAmt != null">
        CAPITAL_AMT = #{capitalAmt,jdbcType=DECIMAL},
      </if>
      <if test="refundType != null">
        REFUND_TYPE = #{refundType,jdbcType=DECIMAL},
      </if>
      <if test="machinesDeptAmt != null">
        MACHINES_DEPT_AMT = #{machinesDeptAmt,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null">
        OPERATION_TYPE = #{operationType,jdbcType=DECIMAL},
      </if>
      <if test="operationAmt != null">
        OPERATION_AMT = #{operationAmt,jdbcType=DECIMAL},
      </if>
      <if test="realOperationAmt != null">
        REAL_OPERATION_AMT = #{realOperationAmt,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null">
        SERVICE_CHARGE = #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="cloReviewStatus != null">
        CLO_REVIEW_STATUS = #{cloReviewStatus,jdbcType=DECIMAL},
      </if>
      <if test="cloType != null">
        CLO_TYPE = #{cloType,jdbcType=DECIMAL},
      </if>
      <if test="cloRealname != null">
        CLO_REALNAME = #{cloRealname,jdbcType=VARCHAR},
      </if>
      <if test="cloBank != null">
        CLO_BANK = #{cloBank,jdbcType=VARCHAR},
      </if>
      <if test="cloBankBranch != null">
        CLO_BANK_BRANCH = #{cloBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="cloBankAccount != null">
        CLO_BANK_ACCOUNT = #{cloBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="allLineNum != null">
        ALL_LINE_NUM = #{allLineNum,jdbcType=VARCHAR},
      </if>
      <if test="branchLineNum != null">
        BRANCH_LINE_NUM = #{branchLineNum,jdbcType=VARCHAR},
      </if>
      <if test="cloTaxPoint != null">
        CLO_TAX_POINT = #{cloTaxPoint,jdbcType=DECIMAL},
      </if>
      <if test="cloInvoice != null">
        CLO_INVOICE = #{cloInvoice,jdbcType=DECIMAL},
      </if>
      <if test="bankRegion != null">
        BANK_REGION = #{bankRegion,jdbcType=VARCHAR},
      </if>
      <if test="cloBankCode != null">
        CLO_BANK_CODE = #{cloBankCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null">
        U_TIME = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uUser != null">
        U_USER = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="remitTime != null">
        REMIT_TIME = #{remitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remitPerson != null">
        REMIT_PERSON = #{remitPerson,jdbcType=VARCHAR},
      </if>
      <if test="remitAmt != null">
        REMIT_AMT = #{remitAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.agent.CapitalChangeApply">
    update A_CAPITAL_CHANGE_APPLY
    set CAPITAL_TYPE = #{capitalType,jdbcType=VARCHAR},
    CAPITAL_AMT = #{capitalAmt,jdbcType=DECIMAL},
    REFUND_TYPE = #{refundType,jdbcType=DECIMAL},
    MACHINES_DEPT_AMT = #{machinesDeptAmt,jdbcType=DECIMAL},
    OPERATION_TYPE = #{operationType,jdbcType=DECIMAL},
    OPERATION_AMT = #{operationAmt,jdbcType=DECIMAL},
    REAL_OPERATION_AMT = #{realOperationAmt,jdbcType=DECIMAL},
    SERVICE_CHARGE = #{serviceCharge,jdbcType=DECIMAL},
    AGENT_ID = #{agentId,jdbcType=VARCHAR},
    AGENT_NAME = #{agentName,jdbcType=VARCHAR},
    CLO_REVIEW_STATUS = #{cloReviewStatus,jdbcType=DECIMAL},
    CLO_TYPE = #{cloType,jdbcType=DECIMAL},
    CLO_REALNAME = #{cloRealname,jdbcType=VARCHAR},
    CLO_BANK = #{cloBank,jdbcType=VARCHAR},
    CLO_BANK_BRANCH = #{cloBankBranch,jdbcType=VARCHAR},
    CLO_BANK_ACCOUNT = #{cloBankAccount,jdbcType=VARCHAR},
    ALL_LINE_NUM = #{allLineNum,jdbcType=VARCHAR},
    BRANCH_LINE_NUM = #{branchLineNum,jdbcType=VARCHAR},
    CLO_TAX_POINT = #{cloTaxPoint,jdbcType=DECIMAL},
    CLO_INVOICE = #{cloInvoice,jdbcType=DECIMAL},
    BANK_REGION = #{bankRegion,jdbcType=VARCHAR},
    CLO_BANK_CODE = #{cloBankCode,jdbcType=VARCHAR},
    REMARK = #{remark,jdbcType=VARCHAR},
    C_TIME = #{cTime,jdbcType=TIMESTAMP},
    U_TIME = #{uTime,jdbcType=TIMESTAMP},
    C_USER = #{cUser,jdbcType=VARCHAR},
    U_USER = #{uUser,jdbcType=VARCHAR},
    STATUS = #{status,jdbcType=DECIMAL},
    VERSION = #{version,jdbcType=DECIMAL},
    REMIT_TIME = #{remitTime,jdbcType=TIMESTAMP},
    REMIT_PERSON = #{remitPerson,jdbcType=VARCHAR},
    REMIT_AMT = #{remitAmt,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <select id="queryCapitalChangeList" parameterType="map" resultType="map">
    <include refid="OracleDialectPrefix" />
    select
    ac.*, a.ag_name, cu.name as C_USER_NAME, uu.name as U_USER_NAME
    from a_capital_change_apply ac
    left join a_agent a on ac.agent_id = a.id
    left join c_user cu on ac.c_user = cu.id
    left join c_user uu on ac.u_user = uu.id
    <include refid="capitalChangeWhere" />
    order by ac.c_time desc
    <include refid="OracleDialectSuffix" />
  </select>

  <select id="queryCapitalChangeCount" parameterType="map" resultType="java.lang.Integer">
    select
    count(*)
    from a_capital_change_apply ac
    left join a_agent a on ac.agent_id = a.id
    left join c_user cu on ac.c_user = cu.id
    left join c_user uu on ac.u_user = uu.id
    <include refid="capitalChangeWhere" />
  </select>

  <sql id="capitalChangeWhere">
    <where>
      ac.status = #{map.status} and a.status = #{map.status}
      <if test="map.id != null"> and ac.id = #{map.id} </if>
      <if test="map.agentId != null"> and ac.agent_id = #{map.agentId} </if>
      <if test="map.agentName != null"> and ac.agent_name = #{map.agentName} </if>
      <if test="map.cloReviewStatus != null"> and ac.clo_review_status = #{map.cloReviewStatus} </if>
      <if test="map.orgId != null and map.orgId != ''"> and (a.AG_DOC_PRO = #{map.orgId} or a.AG_DOC_DISTRICT = #{map.orgId}) </if>
    </where>
  </sql>
</mapper>