<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.agent.DateChangeRequestMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.agent.DateChangeRequest" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DATA_ID" property="dataId" jdbcType="VARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_CONTENT" property="dataContent" jdbcType="VARCHAR" />
    <result column="DATA_PRE_CONTENT" property="dataPreContent" jdbcType="VARCHAR" />
    <result column="C_TIME" property="cTime" jdbcType="TIMESTAMP" />
    <result column="C_UPDATE" property="cUpdate" jdbcType="TIMESTAMP" />
    <result column="C_USER" property="cUser" jdbcType="VARCHAR" />
    <result column="APPY_STATUS" property="appyStatus" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DATA_ID, DATA_TYPE, DATA_CONTENT, DATA_PRE_CONTENT, C_TIME, C_UPDATE, C_USER, 
    APPY_STATUS, STATUS, VERSION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequestExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DATA_CHANGE_REQUEST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DATA_CHANGE_REQUEST
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequestExample" >
    delete from DATA_CHANGE_REQUEST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequest" >
    insert into DATA_CHANGE_REQUEST (ID, DATA_ID, DATA_TYPE, 
      DATA_CONTENT, DATA_PRE_CONTENT, C_TIME, 
      C_UPDATE, C_USER, APPY_STATUS, 
      STATUS, VERSION)
    values (#{id,jdbcType=VARCHAR}, #{dataId,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{dataContent,jdbcType=VARCHAR}, #{dataPreContent,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{cUpdate,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR}, #{appyStatus,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequest" >
    insert into DATA_CHANGE_REQUEST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dataId != null" >
        DATA_ID,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
      <if test="dataContent != null" >
        DATA_CONTENT,
      </if>
      <if test="dataPreContent != null" >
        DATA_PRE_CONTENT,
      </if>
      <if test="cTime != null" >
        C_TIME,
      </if>
      <if test="cUpdate != null" >
        C_UPDATE,
      </if>
      <if test="cUser != null" >
        C_USER,
      </if>
      <if test="appyStatus != null" >
        APPY_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataContent != null" >
        #{dataContent,jdbcType=VARCHAR},
      </if>
      <if test="dataPreContent != null" >
        #{dataPreContent,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUpdate != null" >
        #{cUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="appyStatus != null" >
        #{appyStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequestExample" resultType="java.lang.Integer" >
    select count(*) from DATA_CHANGE_REQUEST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequest" >
    update DATA_CHANGE_REQUEST
    <set >
      <if test="dataId != null" >
        DATA_ID = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataContent != null" >
        DATA_CONTENT = #{dataContent,jdbcType=VARCHAR},
      </if>
      <if test="dataPreContent != null" >
        DATA_PRE_CONTENT = #{dataPreContent,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUpdate != null" >
        C_UPDATE = #{cUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="appyStatus != null" >
        APPY_STATUS = #{appyStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        VERSION = VERSION + 1,
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR} and VERSION = #{version,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.agent.DateChangeRequest" >
    update DATA_CHANGE_REQUEST
    set DATA_ID = #{dataId,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      DATA_CONTENT = #{dataContent,jdbcType=VARCHAR},
      DATA_PRE_CONTENT = #{dataPreContent,jdbcType=VARCHAR},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      C_UPDATE = #{cUpdate,jdbcType=TIMESTAMP},
      C_USER = #{cUser,jdbcType=VARCHAR},
      APPY_STATUS = #{appyStatus,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      VERSION = VERSION + 1
    where ID = #{id,jdbcType=VARCHAR} and VERSION = #{version,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <select id="queryData" parameterType="map" resultType="map">
    <include refid="OracleDialectPrefix" />
      select data.ID,data.DATA_ID,data.DATA_TYPE,
    data.C_TIME,data.C_UPDATE,data.APPY_STATUS,
    agent.ag_name from DATA_CHANGE_REQUEST data , A_AGENT agent
      where data.DATA_ID=agent.id and data.status=1 and agent.status=1
    <if test="map.appStatus != null and map.appStatus != '' " >
      and data.APPY_STATUS = #{map.appStatus}
    </if>
    <if test="map.dataType != null and map.dataType != '' " >
      and data.DATA_TYPE = #{map.dataType}
    </if>
      order by data.c_time desc
    <include refid="OracleDialectSuffix" />
  </select>

  <select id="queryDataCount" parameterType="map" resultType="int">
     select
         count(*)
      from DATA_CHANGE_REQUEST data , A_AGENT agent
      where data.DATA_ID=agent.id and data.status=1 and agent.status=1
    <if test="map.appStatus != null and map.appStatus != '' " >
      and data.APPY_STATUS = #{map.appStatus}
    </if>
    <if test="map.dataType != null and map.dataType != '' " >
      and data.DATA_TYPE = #{map.dataType}
    </if>
    order by data.c_time desc
  </select>
</mapper>