<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.agent.PlatFormMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.agent.PlatForm" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PLATFORM_NUM" property="platformNum" jdbcType="VARCHAR" />
    <result column="PLATFORM_NAME" property="platformName" jdbcType="VARCHAR" />
    <result column="C_TIME" property="cTime" jdbcType="TIMESTAMP" />
    <result column="C_UTIME" property="cUtime" jdbcType="TIMESTAMP" />
    <result column="C_USER" property="cUser" jdbcType="VARCHAR" />
    <result column="PLATFORM_STATUS" property="platformStatus" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="PLATFORM_TYPE" property="platformType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PLATFORM_NUM, PLATFORM_NAME, C_TIME, C_UTIME, C_USER, PLATFORM_STATUS, STATUS, 
    VERSION, PLATFORM_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.agent.PlatFormExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from A_PLATFORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.agent.PlatFormExample" >
    delete from A_PLATFORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.agent.PlatForm" >
    insert into A_PLATFORM (ID, PLATFORM_NUM, PLATFORM_NAME, 
      C_TIME, C_UTIME, C_USER, 
      PLATFORM_STATUS, STATUS, VERSION, 
      PLATFORM_TYPE)
    values (#{id,jdbcType=VARCHAR}, #{platformNum,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, 
      #{cTime,jdbcType=TIMESTAMP}, #{cUtime,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR}, 
      #{platformStatus,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL}, 
      #{platformType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.agent.PlatForm" >
    insert into A_PLATFORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="platformNum != null" >
        PLATFORM_NUM,
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME,
      </if>
      <if test="cTime != null" >
        C_TIME,
      </if>
      <if test="cUtime != null" >
        C_UTIME,
      </if>
      <if test="cUser != null" >
        C_USER,
      </if>
      <if test="platformStatus != null" >
        PLATFORM_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="platformType != null" >
        PLATFORM_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="platformNum != null" >
        #{platformNum,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUtime != null" >
        #{cUtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="platformStatus != null" >
        #{platformStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="platformType != null" >
        #{platformType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.agent.PlatFormExample" resultType="java.lang.Integer" >
    select count(*) from A_PLATFORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <select id="selectByPlatFormNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from A_PLATFORM
    where PLATFORM_NUM = #{platFormNum}
  </select>

  <!--=====================================================================================-->

  <select id="countPlatForm" parameterType="map" resultType="Integer">
    select count(ID)
    from
    A_PLATFORM
    <where>
      <if test="id != null and  ''!=id" >
        and ID=#{id}
      </if>
      <if test="platformNum != null and  ''!=platformNum">
        and PLATFORM_NUM=#{platformNum}
      </if>
      <if test="platformName != null and  ''!=platformName">
        and PLATFORM_NAME=#{platformName}
      </if>
      <if test="cTime != null and  ''!=cTime">
        and C_TIME=#{cTime}
      </if>
      <if test="cUtime != null and  ''!=cUtime">
        and C_UTIME=#{cUtime}
      </if>
      <if test="cUser != null and  ''!=cUser">
        and C_USER=#{cUser}
      </if>
      <if test="platformStatus != null and  ''!=platformStatus">
        and PLATFORM_STATUS=#{platformStatus}
      </if>
      <if test="status != null and  ''!=status">
        and STATUS=#{status}
      </if>
      <if test="version != null and  ''!=version">
        and VERSION=#{version}
      </if>
      <if test="platformType != null and  ''!=platformType">
        and PLATFORM_TYPE=#{platformType}
      </if>
    </where>
    order by C_TIME desc
  </select>

  <!--查询-->
  <select id="selectPlatForm" parameterType="map" resultMap="BaseResultMap">
    select
    B.*
    from
    (
    select A.* ,ROWNUM rn from (select
    <include refid="Base_Column_List" />
    from
    A_PLATFORM
    <where>
      <if test="id != null and  ''!=id" >
        and ID=#{id}
      </if>
      <if test="platformNum != null and  ''!=platformNum">
        and PLATFORM_NUM=#{platformNum}
      </if>
      <if test="platformName != null and  ''!=platformName">
        and PLATFORM_NAME=#{platformName}
      </if>
      <if test="cTime != null and  ''!=cTime">
        and C_TIME=#{cTime}
      </if>
      <if test="cUtime != null and  ''!=cUtime">
        and C_UTIME=#{cUtime}
      </if>
      <if test="cUser != null and  ''!=cUser">
        and C_USER=#{cUser}
      </if>
      <if test="platformStatus != null and  ''!=platformStatus">
        and PLATFORM_STATUS=#{platformStatus}
      </if>
      <if test="status != null and  ''!=status">
        and STATUS=#{status}
      </if>
      <if test="version != null and  ''!=version">
        and VERSION=#{version}
      </if>
      <if test="platformType != null and  ''!=platformType">
        and PLATFORM_TYPE=#{platformType}
      </if>
    </where>
    order by C_TIME desc
    )A
    <if test='pageNumStop != null and pageNumStop!=""'>
      <![CDATA[where ROWNUM <=#{pageNumStop}]]>
    </if>
    )B
    <if test='pageNumBegin != null and pageNumBegin!=""'>
      Where rn >=#{pageNumBegin}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.agent.PlatForm" >
    select
    <include refid="Base_Column_List" />
    from A_PLATFORM
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <!--删除（编辑）状态-->
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.agent.PlatForm" >
    update A_PLATFORM
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="platformNum != null" >
        PLATFORM_NUM = #{platformNum,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUtime != null" >
        C_UTIME = #{cUtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="platformStatus != null" >
        PLATFORM_STATUS = #{platformStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="platformType != null" >
        PLATFORM_TYPE = #{platformType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--id自增-->
  <select id="seqId" resultType="long">SELECT A_PLATFORM_SEQ.Nextval FROM dual </select>

  <insert id="insertPlatForm" parameterType="com.ryx.credit.pojo.admin.agent.PlatForm" >
    insert into A_PLATFORM (
    ID, PLATFORM_NUM, PLATFORM_NAME, C_TIME, C_UTIME, C_USER,
    PLATFORM_STATUS, STATUS, VERSION, PLATFORM_TYPE)
    values (
    #{id,jdbcType=VARCHAR}, #{platformNum,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR},
    #{cTime,jdbcType=TIMESTAMP}, #{cUtime,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR},
    #{platformStatus,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{version,jdbcType=DECIMAL},
    #{platformType,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from A_PLATFORM where ID = #{id}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.agent.PlatForm" >
    update A_PLATFORM
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="platformNum != null" >
        PLATFORM_NUM = #{platformNum,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        C_TIME = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUtime != null" >
        C_UTIME = #{cUtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        C_USER = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="platformStatus != null" >
        PLATFORM_STATUS = #{platformStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="platformType != null" >
        PLATFORM_TYPE = #{platformType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>