<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.agent.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.agent.Region" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="R_NAME" property="rName" jdbcType="VARCHAR" />
    <result column="R_CODE" property="rCode" jdbcType="VARCHAR" />
    <result column="P_CODE" property="pCode" jdbcType="VARCHAR" />
    <result column="T_TYPE" property="tType" jdbcType="DECIMAL" />
    <result column="R_SORT" property="rSort" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, R_NAME, R_CODE, P_CODE, T_TYPE, R_SORT, STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.agent.RegionExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_REGION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from D_REGION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.agent.RegionExample" >
    delete from D_REGION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.agent.Region" >
    insert into D_REGION (ID, R_NAME, R_CODE, 
      P_CODE, T_TYPE, R_SORT, 
      STATUS)
    values (#{id,jdbcType=DECIMAL}, #{rName,jdbcType=VARCHAR}, #{rCode,jdbcType=VARCHAR}, 
      #{pCode,jdbcType=VARCHAR}, #{tType,jdbcType=DECIMAL}, #{rSort,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.agent.Region" >
    insert into D_REGION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="rName != null" >
        R_NAME,
      </if>
      <if test="rCode != null" >
        R_CODE,
      </if>
      <if test="pCode != null" >
        P_CODE,
      </if>
      <if test="tType != null" >
        T_TYPE,
      </if>
      <if test="rSort != null" >
        R_SORT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rCode != null" >
        #{rCode,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null" >
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        #{tType,jdbcType=DECIMAL},
      </if>
      <if test="rSort != null" >
        #{rSort,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.agent.RegionExample" resultType="java.lang.Integer" >
    select count(*) from D_REGION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.agent.Region" >
    update D_REGION
    <set >
      <if test="rName != null" >
        R_NAME = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rCode != null" >
        R_CODE = #{rCode,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null" >
        P_CODE = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="tType != null" >
        T_TYPE = #{tType,jdbcType=DECIMAL},
      </if>
      <if test="rSort != null" >
        R_SORT = #{rSort,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.agent.Region" >
    update D_REGION
    set R_NAME = #{rName,jdbcType=VARCHAR},
      R_CODE = #{rCode,jdbcType=VARCHAR},
      P_CODE = #{pCode,jdbcType=VARCHAR},
      T_TYPE = #{tType,jdbcType=DECIMAL},
      R_SORT = #{rSort,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>

  <select id="findByPcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from D_REGION
    where P_CODE = #{pCode,jdbcType=VARCHAR}
  </select>

  <select id="findCountByPcode" resultType="java.lang.Integer" parameterType="map" >
    select
    count(*)
    from D_REGION
    where P_CODE = #{map.pCode,jdbcType=VARCHAR}
    <if test="map.showArea!='true'">
      and t_type in(1,2)
    </if>
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from D_REGION
  </select>

  <select id="findByRcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from D_REGION
    where R_CODE = #{rCode,jdbcType=VARCHAR}
  </select>
</mapper>