<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.CRuleConditionMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.CRuleCondition" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
    <result column="CONDITION_VALUE_ID" property="conditionValueId" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RULE_ID, CONDITION_VALUE_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.CRuleConditionExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_RULE_CONDITION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from C_RULE_CONDITION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.CRuleConditionExample" >
    delete from C_RULE_CONDITION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.CRuleCondition" >
    <selectKey keyProperty="id" resultType="DECIMAL" order="BEFORE">
      select C_RULE_CONDITION_SEQUENCE.nextval from dual
    </selectKey>
    insert into C_RULE_CONDITION (ID, RULE_ID, CONDITION_VALUE_ID,
      UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{ruleId,jdbcType=DECIMAL}, #{conditionValueId,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.CRuleCondition" >
    insert into C_RULE_CONDITION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ruleId != null" >
        RULE_ID,
      </if>
      <if test="conditionValueId != null" >
        CONDITION_VALUE_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=DECIMAL},
      </if>
      <if test="conditionValueId != null" >
        #{conditionValueId,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.CRuleConditionExample" resultType="java.lang.Integer" >
    select count(*) from C_RULE_CONDITION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.CRuleCondition" >
    update C_RULE_CONDITION
    <set >
      <if test="ruleId != null" >
        RULE_ID = #{ruleId,jdbcType=DECIMAL},
      </if>
      <if test="conditionValueId != null" >
        CONDITION_VALUE_ID = #{conditionValueId,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.CRuleCondition" >
    update C_RULE_CONDITION
    set RULE_ID = #{ruleId,jdbcType=DECIMAL},
      CONDITION_VALUE_ID = #{conditionValueId,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>