<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.credit.dao.CRulePlatformMapper" >
  <resultMap id="BaseResultMap" type="com.ryx.credit.pojo.admin.CRulePlatform" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DESCRIPTION" property="description" jdbcType="OTHER" />
    <result column="NAME" property="name" jdbcType="OTHER" />
    <result column="CODE" property="code" jdbcType="OTHER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="MGROUP" property="mgroup" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DESCRIPTION, NAME, CODE, UPDATE_TIME, DEPARTMENT, MGROUP, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ryx.credit.pojo.admin.CRulePlatformExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_RULE_PLATFORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from C_RULE_PLATFORM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByExample" parameterType="com.ryx.credit.pojo.admin.CRulePlatformExample" >
    delete from C_RULE_PLATFORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.credit.pojo.admin.CRulePlatform" >
    <selectKey keyProperty="id" resultType="DECIMAL" order="BEFORE">
      select C_RULE_PLATFORM_SEQUENCE.nextval from dual
    </selectKey>
    insert into C_RULE_PLATFORM (ID, DESCRIPTION, NAME,
      CODE, UPDATE_TIME, DEPARTMENT, 
      MGROUP, CREATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{description,jdbcType=OTHER}, #{name,jdbcType=OTHER}, 
      #{code,jdbcType=OTHER}, #{updateTime,jdbcType=TIMESTAMP}, #{department,jdbcType=VARCHAR}, 
      #{mgroup,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.credit.pojo.admin.CRulePlatform" >
    insert into C_RULE_PLATFORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="mgroup != null" >
        MGROUP,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=OTHER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=OTHER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=OTHER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="mgroup != null" >
        #{mgroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.credit.pojo.admin.CRulePlatformExample" resultType="java.lang.Integer" >
    select count(*) from C_RULE_PLATFORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.credit.pojo.admin.CRulePlatform" >
    update C_RULE_PLATFORM
    <set >
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=OTHER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=OTHER},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=OTHER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="mgroup != null" >
        MGROUP = #{mgroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.credit.pojo.admin.CRulePlatform" >
    update C_RULE_PLATFORM
    set DESCRIPTION = #{description,jdbcType=OTHER},
      NAME = #{name,jdbcType=OTHER},
      CODE = #{code,jdbcType=OTHER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      MGROUP = #{mgroup,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>