<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
    <!--configure registry center -->
    <reg:zookeeper id="regCenter" server-lists="${zk.server}" namespace="agentManage-job" base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />
    <!--代理商账户完善任务-->
    <job:simple id="agentLoginAccountCreate"
                job-ref="agentLoginAccountCreateJob"
                registry-center-ref="regCenter"
                cron="0 30 0 * * ?"
                overwrite="true"
                description="代理商账号补全任务"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0">
        <job:distributed-listener class="com.ryx.job.listener.ExmpDistributedListener" started-timeout-milliseconds="100" completed-timeout-milliseconds="100" />
    </job:simple>

    <job:simple id="cashSummaryMouthData"
                job-ref="cashSummaryMouthDataJob"
                registry-center-ref="regCenter"
                cron="0 10 0 1 * ?"
                overwrite="true"
                description="线下打款开票不开票数据汇总，每月1号的0点十分执行"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"/>


    <job:simple id="oPdSumCreate"
                job-ref="oPdSumCreateJob"
                registry-center-ref="regCenter"
                cron="0 30 0 1 * ?"
                overwrite="true"
                description="分润抵扣机具欠款分期汇总"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"/>

    <job:simple id="synColinfoToPayment"
                job-ref="synColinfoToPaymentJob"
                registry-center-ref="regCenter"
                cron="0 0/30 9-21 * * ?"
                overwrite="true"
                description="收款账户同步出款表"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"/>

    <job:simple id="synColinfoToQueryPayment"
                job-ref="synColinfoToQueryPaymentJob"
                registry-center-ref="regCenter"
                cron="0 0/30 * * * ?"
                overwrite="true"
                description="收款账户同步出款表"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"/>

    <job:simple id="checkAgentColinfoJob"
                job-ref="checkAgentColinfoJob"
                registry-center-ref="regCenter"
                cron="0 0 5 * * ?"
                overwrite="true"
                description="代理商收款账户不唯一"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"/>

    <!--<job:simple id="completAllAgentBusInfoCompany"-->
                <!--job-ref="completAllAgentBusInfoCompanyJob"-->
                <!--registry-center-ref="regCenter"-->
                <!--cron="0 0/2 * * * ?"-->
                <!--overwrite="true"-->
                <!--description="修复代理商业务平台的打款公司"-->
                <!--sharding-total-count="1"-->
                <!--sharding-item-parameters="0=Server0"/>-->


    <!--&lt;!&ndash;configure job 样例配置 &ndash;&gt;-->
    <!--<job:simple id="mySimpleTask"-->
                <!--job-ref="mySimpleTask"-->
                <!--registry-center-ref="regCenter"-->
                <!--cron="0/10 * * * * ?"-->
                <!--sharding-total-count="1"-->
                <!--sharding-item-parameters="0=A"-->
                <!--description="这是一个测试作业，这里可以写描述"-->
                <!--overwrite="true"-->
                <!--failover="true"-->
                <!--misfire="true"-->
                <!--job-parameter="job-parameter"-->
                <!--disabled="true">-->
        <!--&lt;!&ndash;前置后置任务监听实现类&ndash;&gt;-->
        <!--<job:listener class="com.ryx.job.listener.ExmpListener" />-->
        <!--&lt;!&ndash;前置后置任务分布式监听实现类&ndash;&gt;-->
        <!--<job:distributed-listener class="com.ryx.job.listener.ExmpDistributedListener"-->
                                  <!--started-timeout-milliseconds="100"-->
                                  <!--completed-timeout-milliseconds="100" />-->
    <!--</job:simple>-->
    <!--&lt;!&ndash;Dataflow类型作业 样例配置&ndash;&gt;-->
    <!--<job:dataflow id="myDataFlowTask"-->
                  <!--job-ref="myDataFlowTask"-->
                  <!--registry-center-ref="regCenter"-->
                  <!--cron="0/10 * * * * ?"-->
                  <!--sharding-total-count="1"-->
                  <!--sharding-item-parameters="0=C"-->
                  <!--streaming-process="false"-->
                  <!--overwrite="true"-->
                  <!--disabled="true"/>-->



    <!--&lt;!&ndash; 配置脚本作业 样例配置&ndash;&gt;-->
    <!--<job:script-->
            <!--id="scriptElasticJob"-->
            <!--registry-center-ref="regCenter"-->
            <!--cron="0/10 * * * * ?"-->
            <!--sharding-total-count="1"-->
            <!--sharding-item-parameters="0=A"-->
            <!--script-command-line="/your/file/path/demo.sh"-->
            <!--overwrite="true"-->
            <!--disabled="true"/>-->








</beans>