<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">

    <job:simple id="internetCard"
                job-ref="internetCardJob"
                registry-center-ref="regCenter"
                cron="0 0/1 * * * ?"
                overwrite="true"
                description="物联网卡，处理未处理的导入,1分钟执行一次"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"
                disabled="${job.internetCardJob}"/>


    <job:simple id="internetCardUpdateMechJob"
                job-ref="internetCardUpdateMechJob"
                registry-center-ref="regCenter"
                cron="0 0 6 * * ?"
                overwrite="true"
                description="物联网卡，更新已修改的商户信息（是续费，正常）"
                sharding-total-count="1"
                sharding-item-parameters="0=Server0"
                disabled="${job.internetCardUpdateMechJob}"/>


    <job:dataflow id="internetCardUpdateMechIsNull"
                  job-ref="internetCardUpdateMechIsNullJob"
                  registry-center-ref="regCenter"
                  cron="0 0/30 * * * ? *"
                  sharding-total-count="1"
                  sharding-item-parameters="0=C"
                  streaming-process="true"
                  description="物联网卡，更新商户为空的数据,30分钟执行一次"
                  overwrite="true"
                  disabled="${job.internetCardUpdateMechIsNullJob}"/>


    <job:dataflow id="internetCardMigrationHistory"
                  job-ref="internetCardMigrationHistoryJob"
                  registry-center-ref="regCenter"
                  cron="0 0 1 * * ?"
                  sharding-total-count="1"
                  sharding-item-parameters="0=C"
                  streaming-process="true"
                  description="物联网卡，迁移到历史表,每天凌晨一天执行一次"
                  overwrite="true"
                  disabled="${job.internetCardMigrationHistoryJob}"/>

    <job:dataflow id="internetCardOffsetDetail"
                  job-ref="internetCardOffsetDetailJob"
                  registry-center-ref="regCenter"
                  cron="0 0 2 * * ?"
                  sharding-total-count="1"
                  sharding-item-parameters="0=C"
                  streaming-process="true"
                  description="物联网卡,生产轧差明细每日汇总"
                  overwrite="true"
                  disabled="${job.internetCardOffsetDetailJob}"/>


    <job:dataflow id="internetCardQueryIsNullCardStatus"
                  job-ref="internetCardQueryIsNullCardStatusJob"
                  registry-center-ref="regCenter"
                  cron="0/3 * 7-23 * * ?"
                  sharding-total-count="1"
                  sharding-item-parameters="0=C"
                  streaming-process="false"
                  description="物联网卡，更新卡状态为空，7点到23点，3秒执行一次"
                  overwrite="true"
                  disabled="${job.internetCardQueryIsNullCardStatusJob}"/>


    <job:dataflow id="internetCardQueryCardStatus"
                  job-ref="internetCardQueryCardStatusJob"
                  registry-center-ref="regCenter"
                  cron="0/3 * 7-23 * * ?"
                  sharding-total-count="1"
                  sharding-item-parameters="0=C"
                  streaming-process="false"
                  description="物联网卡，更新卡状态不为空，0点到7点，3秒执行一次"
                  overwrite="true"
                  disabled="${job.internetCardQueryCardStatusJob}"/>

</beans>